/**/
/* Variables */
/**/

/*****  SET THESE  *****/
// Colors
$white: #fff
$offwhite: #ddd
$black: #000
$black-light: #444 
$gray: #777
$gray-light: #999
$blue: #2793E5
$red: #D22819
$green: #19D231
$yellow: #D2BF19

// Button Colors
$blue-light: #64B1ED
$blue-dark: #1674BB
$green-light: #36E74E
$green-dark: #14AD29

$color-primary: $black-light
$color-secondary: $blue
$color-tertiary: $gray
$color-accent: $white

/*****  SET THESE  *****/
// Anchor Colors:
$anchor-primary: $blue
$anchor-primary-active: $blue
$anchor-primary-hover: $black-light
$anchor-secondary: $green
$anchor-secondary-active: $black-light
$anchor-secondary-hover: $black-light

/*****  SET THESE  *****/
// Font Family
$font-primary: Helvetica, Arial
$font-secondary: Arial

// Text Shadows
$text-shadow-primary: 0 1px 1px $black-light
$text-shadow-secondary: 0 1px 1px $white
$text-shadow-tertiary: 0 1px 1px $gray


/*****  SET THESE  *****/
// Misc.
$radius: 5px
$ul-list-style-image: none

$border-primary: $offwhite
$border-secondary: $gray-light

/*****  SET THESE  *****/
// Media
$media-background: #fff
$media-padding: 5px
$media-border-color: $gray-light
$media-border-size: 1px


/*****  SET THESE  *****/
// Backgrounds

// Primary
$bg-color-primary: $white
$bg-image-primary: none
$bg-repeat-primary: none
// Secondary
$bg-color-secondary: $white
$bg-image-secondary: none
$bg-repeat-secondary: none
// Tertiary
$bg-color-tertiary: $white
$bg-image-tertiary: none
$bg-repeat-tertiary: none
// 4th
$bg-color-4: $white
$bg-image-4: none
$bg-repeat-4: none
// 5th
$bg-color-5: $offwhite
$bg-image-5: none
$bg-repeat-5: none
// 6th
$bg-color-6: $white
$bg-image-6: none
$bg-repeat-6: none



/**/
/* Mixins */
/**/

// P Tags
@mixin p-font-styles
  color: $black-light
  margin: 10px 0
  text-shadow: none
  text-decoration: none
  text-transform: none
  line-height: 20px
  font:
    size: 15px
    weight: 400
    family: Helvetica, Arial

// Anchors
@mixin anchor
  color: $anchor-primary
  text-decoration: none
  &:active
    color: $anchor-primary-active
  &:hover
    color: $anchor-primary-hover

a, a:link, a:visited
  @include anchor

@mixin anchor-secondary
  color: $anchor-secondary
  text-decoration: none
  &:active
    color: $anchor-secondary-active
  &:hover
    color: $anchor-secondary-hover

a.anchor-secondary, a.anchor-secondary:link, a.anchor-secondary:visited
  @include anchor-secondary


// Rounded Corners
@mixin rounded-corners  
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius


// Backgrounds
@mixin bg-primary
  background-color: $bg-color-primary
  background-image: $bg-image-primary
  background-repeat: $bg-repeat-primary

@mixin bg-secondary
  background-color: $bg-color-secondary
  background-image: $bg-image-secondary
  background-repeat: $bg-repeat-secondary

@mixin bg-tertiary
  background-color: $bg-color-tertiary
  background-image: $bg-image-tertiary
  background-repeat: $bg-repeat-tertiary

@mixin bg-4
  background-color: $bg-color-4
  background-image: $bg-image-4
  background-repeat: $bg-repeat-4

@mixin bg-5
  background-color: $bg-color-5
  background-image: $bg-image-5
  background-repeat: $bg-repeat-5

@mixin bg-6
  background-color: $bg-color-6
  background-image: $bg-image-6
  background-repeat: $bg-repeat-6


// Box Shadow
@mixin box-shadow-primary
  box-shadow: 0px 0px 3px $black-light
  -webkit-box-shadow: 0px 0px 3px $black-light
  -moz-box-shadow: 0px 0px 3px $black-light
@mixin box-shadow-secondary
  box-shadow: 0px 1px 0px 1px #ddd
  -webkit-box-shadow: 0px 1px 0px 1px #ddd
  -moz-box-shadow: 0px 1px 0px 1px #ddd


// Buttons
@mixin button($button-color-light, $button-color, $button-color-dark, $button-box-shadow, $button-text-shadow)
  padding: 10px 15px
  border-top: 1px solid $button-color-light
  border-left: 1px solid $button-color
  border-right: 1px solid $button-color
  border-bottom: 1px solid $button-color
  background: -webkit-gradient(linear, left top, left bottom, from($button-color-light), to($button-color-dark))
  background: -moz-linear-gradient(top, $button-color-light, $button-color-dark)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark')
  border-radius: 5px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  margin-bottom: 15px
  color: #fefefe
  box-shadow: 0 0 0 1px $button-box-shadow
  -webkit-box-shadow: 0 0 0 1px $button-box-shadow
  -moz-box-shadow: 0 0 0 1px $button-box-shadow
  text-shadow: $button-text-shadow
  font:
    weight: 600
    size: 16px
  margin-left: 8px
  margin-top: 10px
  &:hover
    background: -webkit-gradient(linear, left top, left bottom, from($button-color-dark), to($button-color-light))
    background: -moz-linear-gradient(top, $button-color-dark, $button-color-light)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light')
  &:active
    background: $button-color

.button-primary
  @include button($gray-light, $gray, $black-light, $gray-light, $text-shadow-tertiary)
.button-secondary
  @include button($blue-light, $blue, $blue-dark, $gray-light, $text-shadow-tertiary)
.button-tertiary
  @include button($green-light, $green, $green-dark, $gray-light, $text-shadow-tertiary)


//

body
  font-family: $font-primary
  font-size: 15px
  color: $black-light
  .inner
    padding: 20px 0px
    float: left


// Headers
@mixin header-font-styles
  color: $black
  margin: 15px 0
  font:
    weight: 400
    family: Helvetica, Arial
  a, a:link, a:visited, a:active
    color: $black
    &:hover
      color: $blue

h1, h2, h3, h4, h5, h6
  width: 100%
  float: left
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  @include header-font-styles

@mixin h1
  font-size: 35px
h1, .h1 
  @include h1

@mixin h2
  font-size: 30px
h2, .h2
  @include h2

@mixin h3
  font-size: 25px
h3, .h3
  @include h3

@mixin h4
  font-size: 20px
h4, .h4
  @include h4

@mixin h5
  font-size: 17px
h5, .h5
  @include h5

@mixin h6
  font-size: 14px
h6, .h6
  @include h6


p, .p1, .p2, .p3, .p4, .p5, .p6
  @include p-font-styles

p
  float: left
.p2
  color: $gray
  font:
    size: 13px
    weight: 600
.p3
  color: $gray-light
  font:
    size: 12px
.p4
  color: $black
  font:
    size: 12px
.p5
  color: $gray-light
  font-size: 14px
.p6
  color: $black
  font-size: 13px
  text-shadow: 0 1px 1px $gray-light

// Media
img, embed, iframe
  // background: $media-background
  padding: $media-padding
  border: $media-border-size solid $media-border-color

// Images
img
  &.size-full
    max-width: 97.5%
    width: auto
  &.aligncenter
    margin: inherit 0px
    width: auto
    clear: both
    display: block
    margin-left: auto
    margin-right: auto
  &.alignleft
    margin: 20px 20px 20px 0
    display: inline
    float: left
  &.alignright
    margin: 20px 0 20px 20px
    display: inline
    float: right


// Lists
ul, ol
  padding: 0 0 0 30px
  margin: 20px 0px
  float: left
  li
    padding: 2px 0
ul
  li
    list-style-image: $ul-list-style-image


// Misc
pre, code, samp
  padding: 10px 20px
  float: left
  margin: 20px
  width: 100%
pre, code
  border-left: 5px solid $color-secondary
samp
  border-left: 5px solid $color-tertiary
blockquote
  margin: 30px 40px
  font-style: oblique
  line-height: 20px
abbr[title]
  border-bottom: 1px dotted $gray-light
fieldset
  input
    margin: 5px 0
    width: 95%
dl
  width: 100%
  float: left
  padding-left: 10px
  dt
    font-weight: 600
    padding-bottom: 3px


// Tables
table
  caption
    @include p-font-styles
    text-shadow: $text-shadow-tertiary
  tbody
    tr
      th, td
        padding: 10px 15px
        border: 1px solid $border-primary
      th
        @include bg-4 
        text-shadow: $text-shadow-primary
        color: $color-accent



// Slideshow
#slideshow
  margin-bottom: 20px
  #slider
    a
      img
        border: none
        padding: 0

.orbit-wrapper
  .timer
    display: none
.orbit-caption
  display: none
  font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif
  background: #000
  background: rgba(0,0,0,.6)
  z-index: 1000
  color: #fff
  padding: 7px 0
  font-size: 13px
  position: absolute
  right: 0
  bottom: 0
  padding-left: 20px
  width: 100% 
  .details
    margin-left: 10px
    float: right
    margin-right: 50px
  .caption-title
    font-size: 16pt
    font-weight: 600
    margin: 0px 0 0 10px
  .caption-subtitle
    font-size: 12pt
    color: white
    margin: 0px 0 5px 10px



table#placester_listings_list, table#placester_fav_list
  tr
    float: left
    td
      padding: 0
      border: none
  
.listing-item
  padding: 0 0 20px 0
  margin-bottom: 20px
  p
    margin: 0
    line-height: 20px
  .actions
    width: 100%
    clear: both
    .more-link
      float: right
    a.pl_prop_fav_link
      float: left
  .listing-item-details
    float: left
    .basic-details
      ul
        list-style-type: none
        padding-left: 0px
        margin: 10px 0
        li
          float: left
          margin: 0 15px 0 0
          span
            font-weight: 600
    .listing-description
      line-height: 17px
  .actions
    margin: 15px 0
    float: left



.compliance-wrapper
  float: left
  p.search-compliance, img, p.search-compliance-disclaimer, p.property-details-compliance-disclaimer
    float: left
    margin-right: 15px
    line-height: 15px
  p.search-compliance
    margin-bottom: 10px
  img
    clear: left




// Exempt Google Maps, spinner from borders/backgrounds/box-shadows
#simple_map
  img, embed
    border: none
    background: none
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
.pl_spinner
  border: none

footer
  width: 100%
  float: left
#comments-template
  float: left


#main_content
  article
    float: left
    margin-bottom: 15px
    padding-bottom: 15px
    header, .entry-summary, .entry-meta, footer
      width: 100%
      float: left
    footer
      margin: 15px 0
  nav
    float: left
    width: 100%
    padding: 10px 0
    .prev, .next
      width: 275px
    .prev
      margin-left: 5px
      float: left
    .next
      float: right
      text-align: right


// Client Profile
body.page-template-page-template-client-php
  #edit_profile
    form#edit_profile_form
      div
        float: left
        width: 290px
        margin: 0 20px 10px 0
        label
          font:
            size: 15px
        input[type="text"]
          width: 270px
  .ui-dialog
    top: 25% !important
    left: 25% !important
  .ui-dialog-buttonset
    button
      @include button($gray-light, $gray, $black-light, $gray-light, $text-shadow-tertiary)
  .placester_contact
    margin: 0 0 50px 0
    float: left
  #client-details
    float: right
    width: 288px
    ul
      padding-left: 0
      li
        list-style-type: none
        line-height: 20px
        margin-left: 0px
        &:first-child
          margin-top: 10px
        &:last-child
          margin-bottom: 10px
      a, a:visited
        padding-right: 10px



// Fancybox
#fancybox-wrap
  width: 290px !important
  #fancybox-content
    width: 270px !important
    label
      width: 200px
    h2
      margin: 10px 10px 0 10px
    input[type="text"], input[type="password"]
      float: left
      width: 225px
      height: 26px
      margin: 4px 0px 0 10px
    input[type="submit"]
      padding: 6px 14px 6px 14px
      margin: 10px 40px 20px 0
      cursor: pointer
      float: right
    .login-remember
      padding: 0 20px
      input[type="checkbox"]
        margin-right: 10px
    input#pl_register
      @include button($gray-light, $gray, $black-light, $gray-light, $text-shadow-tertiary)
    #form_message_box
      ul
        list-style-type: none
        li
          color: red

// Client Login
#client-details
  li
    list-style-type: none
    font:
      weight: 600
    span
      font:
        weight: 400



// Mixins that can't be in external SASS files
.comment-list
  border: 1px solid #ddd
#respond
  .form-submit
    input
      @include button($gray-light, $gray, $black-light, $gray-light, $text-shadow-tertiary)

nav
  ul
    li
      @include rounded-corners
      a 
        &:hover
          @include rounded-corners

// Search Page
.page-template-page-template-listings-php
  form
    .pls_search_form
      float: left
      width: 200px
      margin-bottom: 10px
      .chzn-container
        width: 150px !important
      .chzn-drop, .chzn-results
        width: 148px !important
  #content
    border-top: 1px solid #DBDBDB
    margin-top: 20px
    padding-top: 20px

.header-membership
  a
    padding: 0 10px

.polygon_text_area
  font-size: 14px
  text-shadow: white 1px 1px 2px
  position: absolute
  text-align: center
  font-weight: bold

.map_filter_area 
  background-color: white
  border: 1px solid #808080
  @include rounded-corners
  width: 180px
  height: 150px

// Header

header
  hgroup
    float: left
  .header-membership
    float: right

ul 
  padding: 0 0 0 20px
  margin: 10px 0px

#branding 
  margin-top: 50px
  #logo 
    float: left
    margin-right: 10px
    min-height: 50px

  h1 
    margin-bottom: 0px
    padding: 0px
    font-size: 30px

  h2 
    margin-top: 0px
    margin-bottom: 0px
    font-size: 14px
    color: #7A7A7A
    font-weight: normal

// Nav

nav 
  margin: 15px 0 0 0
  border-top: 1px solid #DBDBDB
  border-bottom: 1px solid #DBDBDB
  padding: 0 10px

  ul
    padding-left: 0
    float: left
    li
      float: left
      width: auto
      a 
        position: relative
        display: block
        padding: 5px 10px
        font:
          size: 15px

header
  nav
    padding: 0
    > ul > li
      padding: 10px

    ul
      padding-left: 0
      float: left
      position: relative
      list-style: none
      margin: 0
      padding-left: 0

      li
        width: auto
        float: left
        position: relative

        &:hover > a
          color: #2793E5
          background: #ddd

        &:hover > ul
          display: block

        a:visited, a:link, a
          position: relative
          display: block
          padding: 10px
          display: block
          text-decoration: none
          font:
            size: 12px
            weight: bold
          text-transform: uppercase

          &:hover
            color: #2793E5 !important
            background: #ddd
            border-radius: 0px
            -moz-border-radius: 0px

      ul
        display: none
        float: left
        margin: 0
        position: absolute
        left: 0
        z-index: 99999
        background: #bbb
        li
          border-radius: 0px
          -moz-border-radius: 0px
          border: none
          padding: 0
          a:visited, a:link, a
            border-left: 1px solid #bbb
            height: auto
            padding: 10px
            width: 168px
        ul
          left: 100%
          top: 0
          &:hover > a
            color: #2793E5
            background: #ddd

// Forms

// Search Page
.page-template-page-template-listings-php
  form
    .pls_search_form
      float: left
      width: 200px
      margin-bottom: 10px
      .chzn-container
        width: 150px !important
      .chzn-drop, .chzn-results
        width: 148px !important
  #content
    border-top: 1px solid #DBDBDB
    margin-top: 20px
    padding-top: 20px


    

// Forms
form, fieldset, .placester_listings_list_length
  float: left
  label, input, textarea, .chzn-container, select
    float: left
  label, p
    width: 100%
    margin-bottom: 5px
    font-weight: 600
  input[type="text"], input[type="email"], input[type="password"]
    height: 25px
    padding: 3px 5px
  textarea
    padding: 5px
  input[type="text"], input[type="email"], input[type="password"], textarea
    border: 1px solid #ccc
    box-shadow: inset 0px 11px 9px -12px #cccccc
    -webkit-box-shadow: inset 0px 11px 9px -12px #cccccc
    -moz-box-shadow: inset 0px 11px 9px -12px #cccccc
    font:
      size: 13px
      
// Chosen Re-styling
.chzn-container
  .chzn-search
    float: none
    display: none
ul.chzn-results
  margin: 0 0 0 -4px !important
  border-radius: 0 !important
  li
    padding: 5px 7px !important
    line-height: 18px !important
    &.group-result
      display: block !important
    &.group-option
      text-indent: 15px
.chzn-container-multi
  ul.chzn-results
    margin: 0px !important
.chzn-single
  height: 31px !important
  border-radius: 0px !important
  box-shadow: inset 0px 11px 9px -12px #cccccc !important
  background: #fff !important
  span
    line-height: 31px !important
    font:
      weight: 600

  div
    background: none !important
    border-left: none !important
    width: 22px !important
    b
      background-position: 0 3px !important
  &.chzn-single-with-drop
    div
      b
        background-position: -18px 1px !important

// Number of Listings
#placester_listings_list_length
  float: right
  margin-top: -53px
  font:
    size: 10pt
  .chzn-search
    display: none
  .chzn-results
    width: 100% !important

// Sort Dropdowns
.sort_wrapper
  .sort_item
    float: left
    width: 130px
    margin: 0
    font:
      size: 10pt
    .chzn-container
      width: 110px !important
    .chzn-search
      display: none
    .chzn-drop
      width: 108px !important
    .chzn-results
      width: 100% !important

// DataTables no results
.dataTables_empty
  color: red

// DataTables loading/processing
.dataTables_processing
  position: absolute
  margin: -100px 0 0 300px

body.page-template-page-template-listings-php, body.page-template-page-template-client-php
  #container
    margin-top: 20px
    
.dataTables_info
  color: #5e5e5e
  margin-top: 20px
  padding-top: 10px
  border-top: 1px solid #DBDBDB
.dataTables_paginate
  margin-top: 20px
  text-align: center
  a, a:visited
    font:
      size: 11pt
    color: #555
    padding: 6px 8px
    text-decoration: none
    cursor: pointer
    &:hover
      color: #1982D1
    &.first
      float: left
      margin-top: -6px
    &.last
      float: right
      margin-top: -6px
    &.paginate_active
      font-weight: 600
    &.previous
      padding-right: 30px
      margin-top: -8px
    &.next
      padding-left: 30px
      margin-top: -8px

// All Submit buttons styled the same
.complex-search
  #pls_listings_search_results
    margin-top: 30px

// Forms
form, fieldset, .placester_listings_list_length
  label, p
    color: $gray
  p
    @include p-font-styles
  input[type="text"], input[type="email"], input[type="password"], textarea
    background-color: $white
    color: $gray-light

ul.chzn-results
  li
    color: $gray !important
    &.highlighted
      background-color: $gray !important
      color: $white !important
    &.group-result
      color: $gray-light !important

.chzn-single
  span
    color: $gray


// Widgets

// Widgets
.widget
  width: 290px
  float: left
  padding: 10px
  margin-bottom: 15px
  h3
    margin: 0
    padding: 10px 0
  ul
    list-style-type: none
  p
    width: 100%
    float: left

  &.pls-quick-search
    form
      .pls_search_form
        float: left
        width: 140px
        margin-bottom: 10px
        .chzn-container
          width: 120px !important
        .chzn-drop, .chzn-results
          width: 118px !important

  &.pls-agent
    img
      margin: 0 10px 0 5px
      float: left
    p
      width: 160px
      &.fn, &.email, &.phone, &.desc
        margin: 0 0 5px 0
      &.desc
        line-height: 17px
    a
      word-wrap: break-word

  &.pls-recent-posts
    .recent-post-title
      margin-bottom: 0
    .meta
      margin: 0
    .excerpt
      margin: 5px 0
    .read-more
      margin-top: 0

  &.pls-listings
    .listing-item
      margin-bottom: 20px
      .listing-item-address
        margin: 5px 0
      .details
        margin-bottom: 5px

  &.pls-map
    p.address
      margin-top: 0

  &.widget_calendar
    table
      margin: 0 auto
      td
        padding: 10px


// Property Details

body.single-property
  article
    h2
      margin-bottom: 0px
    .listing_type
      margin: 5px 20px 0 0
      float: right
    .basic-details
      ul
        list-style-type: none
        padding-left: 0
        li
          float: left
          width: 135px
          margin: 5px 20px 5px 0
    .amenities-section
      ul
        padding-left: 0
        min-height: 50px
        min-width: 600px
        list-style-type: none
        li
          padding: 10px 0
          width: 180px
          float: left
          overflow: hidden
    #slideshow
      ul.property-image-gallery
        list-style-type: none
        padding-left: 0
        li
          float: left
          margin-right: 10px


#main_content
  article
    header
      h3
        margin-bottom: 0
      .p5
        margin: 0
.comment-list 
  list-style: none
  margin: 10px 0 20px 0
  width: 95%
  padding: 15px
  float: left
  p 
    clear: both
  
  li 
    float: left
    margin: 0
    padding: 20px 0 0
    position: relative
    list-style-type: none
    width: inherit
  
  .avatar 
    padding: 0
    float: left
    top: 0
    margin: 0 10px 10px 0
  
  .comment
    .comment-meta, .comment-author,
      .comment-edit-link 
        float: right
        font-size: 12px
        line-height: 1.5em
        font-weight: 300
        text-decoration: none
        padding: 0 8px

#respond 
  width: 95%
  float: left
  clear: both
  form 
    float: left
    width: 100%
    margin-top: 10px
    padding: 15px
  
  .logged-in-as 
    margin: 5px inherit
    font-size: 12px
  
  .comment-form-comment 
    label 
      margin-right: 20px

  .form-allowed-tags 
    display: none
  
  .form-submit
    width: 95%
    input
      float: right

article.post
  nav
    padding: 0
    margin-bottom: 20px


//