@charset "UTF-8";
/* */
/*Theme Name: Ventura Real Estate for Placester */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

ol, ul {
  list-style: none;
  float: none;
  clear: both; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }
  
#fold .main-banner { height: auto!important; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
code {
  display: inline;
  width: auto;
  float: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

/* @group Clearfix */
.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
/* @end */
/* */
/*Name: HTML 5 Stylesheet */
/*Date: July 2009 */
/*Description: Sample layout for HTML5 and CSS3 goodness borrowed from Smashing HTML5. */
/*Version: 1.0 */
/*Author: Enrique RamÃ¯Â¿Â½rez */
/*Autor URI: http://enrique-ramirez.com */
/**** Global ***** */
/* Headings */
h1 {
  font-size: 1.714em; }

/* 24px */
h2 {
  font-size: 1.571em; }

/* 22px */
h3 {
  font-size: 1.429em; }

/* 20px */
h4 {
  font-size: 1.286em; }

/* 18px */
h5 {
  font-size: 1.143em; }

/* 16px */
h6 {
  font-size: 1em; }

/* 14px */
/* override poor styling choice in Blueprint's all.css */
/* @todo revisit Blueprint's all.css */
h1, h2, h3, h4, h5, h6 {
  float: none; }

/* Anchors */
a {
  outline: 0;
  text-decoration: none; }
  a img {
    border: 0;
    text-decoration: none; }

/* Paragraphs */
p {
  margin-bottom: 1.143em;
  float: none; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

/* Lists */
ul {
  list-style: outside disc;
  margin: 1em 0 1.5em 1.5em; }

ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em; }

dl {
  margin: 0 0 1.5em 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

/* Quotes */
blockquote {
  font-style: italic; }

/* Tables */
table {
  margin: 0.5em auto 1.5em auto;
  width: 98%; }
  table td, table th {
    color: black !important;
    text-shadow: none !important; }

/* Thead */
thead th {
  padding: 0.5em 0.4em;
  text-align: left; }

/* Tbody */
tbody td, tbody th {
  padding: 0.5em 0.4em; }

/* Tfoot */
input[type="submit"], .next-btn-active, .prev-btn-active {
  cursor: pointer; }

/* HTML5 tags */
header, footer, section, aside, nav, article, figure {
  display: block;
  padding: 0;
  margin: 0; }

/* layout starts here */
body {
  font: normal 14px "Lucida San Unicode", "Lucida Grande", Arial, sans-serif; }

header {
  width: 100%;
  min-width: 970px !important;
  background: #eeeeee;
  text-shadow: 1px 1px 1px white; }

#banner, #home-banner {
  min-height: 50px;
  background: url(../img/lvl2-bg.png) 0 0 repeat-x; }

#home-banner {
  width: 100%;
  min-width: 970px !important;
  color: white; }
  #home-banner form#pls-listings-search-form-home section {
    float: left;
    width: 145px;
    height: 65px; }
    #home-banner form#pls-listings-search-form-home section label {
      text-shadow: 1px 1px 1px white;
      color: #666666;
      display: block;
      padding: 0;
      font-size: 11pt;
      font-weight: normal; }
    #home-banner form#pls-listings-search-form-home section .chzn-container {
      width: 100px !important; }
    #home-banner form#pls-listings-search-form-home section .chzn-drop {
      width: 98px !important; }
    #home-banner form#pls-listings-search-form-home section .chzn-search input {
      width: 63px !important; }
    #home-banner form#pls-listings-search-form-home section .chzn-results {
      width: 100%; }
  #home-banner form#pls-listings-search-form-home input.pls_search_button {
    float: left;
    background: url(../img/btn-big.png) top center no-repeat;
    font: bold 1.4em "Lucida Sans Unicode", "Lucida Grande";
    width: 150px;
    color: white;
    height: 50px;
    text-shadow: 1px 1px 1px #333333;
    padding: 0;
    border: none; }

/* wrapper */
.wrapper {
  width: 970px;
  height: auto;
  margin: 0 auto; }

/* common class */
.clr {
  clear: both; }

.fleft {
  float: left; }

.fright {
  float: right; }

.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.blue {
  color: #287aac;
  /*var */ }

.no-margin {
  margin: 0 !important; }

.no-border {
  border: 0 !important; }

.bigtxt {
  font-size: 1.143em; }

.lrpad10 {
  padding: 0 10px; }

.wp-caption {
  max-width: 100%; }
  .wp-caption .wp-caption-text {
    border-top: 1px #cdcdcd solid;
    border-bottom: 1px solid #cdcdcd;
    padding: 0.5em 0;
    color: #666666; }

article img {
  margin: 10px 0px;
  border: 1px solid #dbdbdb;
  padding: 5px; }

.sticky h2 {
  background: #e07b04;
  padding: 0.5em;
  margin-bottom: 0.5em; }
  .sticky h2 a {
    color: white; }

/*header style - logo */
h1 {
  margin-bottom: 0; }
  h1 a, h1 a:visited {
    color: #ee7d03;
    text-decoration: none;
    font-size: 22pt;
    font-weight: 400; }

h2 {
  margin-top: 0px !important;
  color: #666666 !important;
  border-bottom: none !important;
  margin-bottom: 0;
  padding-top: 3px;
  font-size: 1.571em;
  font-weight: 400; }

.placester-logo {
  float: left;
  overflow: hidden;
  line-height: 1;
  padding-top: 28px;
  max-width: 500px; }
  .placester-logo h1 {
    margin: 0; }
  .placester-logo h2 {
    font-size: 11pt; }
  .placester-logo #logo {
    float: left;
    margin-right: 10px;
    min-height: 45px; }

/*header style - navigation */
header .main-nav {
  border: none;
  float: left !important;
  margin: 0 0 0 -25px;
  padding: 20px 0 20px 0;
  clear: left;
  width: auto; }
  header .main-nav a {
    text-shadow: none;
    color: #666666; }
    header .main-nav a:hover {
      color: #e07b04; }
  header .main-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1em; }
    header .main-nav ul li {
      float: left;
      padding: 0 15px; }
      header .main-nav ul li:hover {
        background-color: #666666; }
        header .main-nav ul li:hover a, header .main-nav ul li:hover a:hover {
          background-color: #666666;
          float: none; }
      header .main-nav ul li ul.sub-menu li, header .main-nav ul li ul.children li {
        padding: 0; }
        header .main-nav ul li ul.sub-menu li a, header .main-nav ul li ul.children li a {
          color: #333333 !important;
          background-color: #666666; }
          header .main-nav ul li ul.sub-menu li a:hover, header .main-nav ul li ul.children li a:hover {
            background-color: #333333;
            color: #eeeeee !important; }
header section.phone, header section.email {
  float: right;
  margin: 35px 0 0 0;
  color: #666666; }
  header section.phone ul, header section.email ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1em; }
    header section.phone ul li, header section.email ul li {
      float: left; }
      header section.phone ul li a, header section.email ul li a {
        color: #666666; }
        header section.phone ul li a:hover, header section.email ul li a:hover {
          color: #e07b04; }
      header section.phone ul li.phone-bg-left, header section.email ul li.phone-bg-left {
        background: url(../img/phone-bg-l.png) no-repeat;
        width: 15px;
        height: 32px; }
      header section.phone ul li.phone-bg-mid, header section.email ul li.phone-bg-mid {
        background: url(../img/phone-bg-m.png) repeat-x;
        min-width: 50px;
        height: 26px;
        padding: 6px 0 0 0; }
      header section.phone ul li.phone-bg-right, header section.email ul li.phone-bg-right {
        background: url(../img/phone-bg-r.png) no-repeat;
        width: 15px;
        height: 32px; }
header section.phone {
  margin-right: 10px !important; }
header #nav-login {
  float: right;
  margin-top: 15px;
  padding: 20px 0;
  clear: right; }
  header #nav-login a {
    font-size: 15px;
    margin-left: 25px;
    line-height: 25px;
    color: #666666; }
    header #nav-login a:hover {
      color: #e07b04; }

/* 3rd section */
section[class='getstarted'], section[class='aboutus'] {
  width: 280px;
  padding: 0 10px;
  float: left; }
section[class='gt-thumb-size'] {
  width: 122px;
  margin: 0 15px 0 0;
  float: left; }

div[class='thumbs'] {
  padding: 5px 5px;
  background-color: white;
  border: 1px solid #e0e0e0; }
div[class='thumbs-shadow'] {
  margin: 0 auto;
  background: url(../img/thumbs-shadow.png) no-repeat;
  width: 120px;
  height: 9px; }
div[class='thumbs-shadow2'] {
  margin: 0 auto;
  background: url(../img/thumbs-shadow-sml.png) no-repeat;
  width: 100px;
  height: 9px; }

section[class='gs-txt'] {
  float: left;
  padding: 5px 0 0 0;
  width: 140px; }

.gs-text {
  width: 140px; }

span[class='normaltxt'] {
  font-size: 0.8em !important; }

section[class='learnwhy'] {
  width: 630px;
  padding: 0 10px;
  float: right; }
section[class='ly-thumb-size'] {
  width: 202px;
  margin: 0 20px 0 0;
  float: left; }
section[class='ly-txt'] {
  width: 405px;
  float: left; }
  section[class='ly-txt'] p {
    font-size: 0.9em; }

a[class='learnmore-btn-big'] {
  color: white;
  display: block;
  width: 196px;
  height: 38px;
  background: url(../img/btn-big2.png) no-repeat;
  font-size: 1.43em;
  text-shadow: 1px 1px 1px #666666;
  padding: 13px 0 0;
  text-align: center;
  float: right; }

/* slider section */
.hr {
  border: 0;
  padding: 0;
  margin: 0 0 15px 0;
  height: 2px;
  background: url(../img/hr-bg.png) 0 0 repeat-x; }

/* Text Alignment */
.aR {
  text-align: right; }

.aL {
  text-align: left; }

.aC {
  text-align: center; }

/* buttons */
input[class='btn-big'] {
  background: url(../img/btn-big.png) top center no-repeat;
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  width: 150px;
  height: 51px;
  font: bold 1.4em "Lucida Sans Unicode", "Lucida Grande";
  text-shadow: 1px 1px 1px #333333; }
input[class='btn-biggest'] {
  background: url(../img/btn-biggest.png) top center no-repeat;
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  width: 130px;
  height: 63px;
  font: bold 1.4em "Lucida Sans Unicode", "Lucida Grande";
  text-shadow: 1px 1px 1px #333333; }
input[class='btn-sidesearch'] {
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  width: 148px;
  height: 32px;
  background: url(../img/btn-sml2.png) no-repeat;
  font: 0.9em "Lucida Sans Unicode", "Lucida Grande";
  text-shadow: 1px 1px 1px #656565; }

/* slideshow */
div[id='slideshow-glow'] {
  min-height: 19px;
  padding: 31px 0 0 0; }
  div[id='slideshow-glow'].static {
    min-height: 19px;
    padding: 31px 0; }
div[id='slideshow'] {
  background-color: white;
  padding: 5px 5px 0 5px; }
div[id='ss-shadow'] {
  background: url(../img/slideshow-shadow.png) top center no-repeat;
  height: 57px;
  position: relative; }
div[id='slides'] {
  width: 620px;
  padding: 5px; }
  div[id='slides'] .timer {
    display: none; }
div[id='form'] {
  width: 320px;
  padding: 5px;
  color: #666666;
  font-size: 0.9em;
  text-shadow: 1px 1px 1px white; }
  div[id='form'] form {
    background-color: #f2f2f2;
    height: 258px;
    padding: 12px; }
  div[id='form'] h2 {
    font: bold 1.6em "Lucida Sans Unicode", "Lucida Grande";
    margin: 0;
    background-color: #f2f2f2;
    padding: 10px 0 6px 10px; }
div[id='slides'], div[id='form'] {
  float: left; }

/* mouseover state */
.slidetabs a:hover, .slidetabs a.current {
  background-position: 0 -15px; }

/* active state (current page state) */
/* slideshow form fields */
div[class="sort-by"] {
  margin-top: 15px; }
  div[class="sort-by"] .selLabel2 {
    width: 60px; }
div[id='gray-box-btn'] {
  float: right;
  width: 22%;
  text-align: right; }
div[id='gray-box-frmfields'] {
  float: left;
  width: 78%; }

/* search page form fields */
/* search btn inside the gray box used in search page */
/* form fields container inside the gray box used in search page */
/* LISTINGS / SEARCH */
body.page-template-page-template-listings-php .left-content, body.page-template-page-template-client-php .left-content {
  width: 640px;
  float: left;
  margin-top: 20px; }
body.page-template-page-template-listings-php .gray-box, body.page-template-page-template-listings-php .gray-box2, body.page-template-page-template-listings-php .gray-box3, body.page-template-page-template-client-php .gray-box, body.page-template-page-template-client-php .gray-box2, body.page-template-page-template-client-php .gray-box3 {
  background: url(../img/gray-bg.png);
  border: 2px solid white; }
body.page-template-page-template-listings-php .gray-box form, body.page-template-page-template-client-php .gray-box form {
  width: 620px; }
  body.page-template-page-template-listings-php .gray-box form label, body.page-template-page-template-client-php .gray-box form label {
    margin-top: 5px;
    font-weight: normal;
    width: auto; }
  body.page-template-page-template-listings-php .gray-box form .selLabel, body.page-template-page-template-client-php .gray-box form .selLabel {
    float: left;
    width: 100px;
    text-align: left;
    padding: 4px 4px 0 0; }
  body.page-template-page-template-listings-php .gray-box form .selLabel2, body.page-template-page-template-client-php .gray-box form .selLabel2 {
    float: left;
    width: 140px;
    text-align: left;
    padding: 4px 4px 0 0; }
  body.page-template-page-template-listings-php .gray-box form .chzn-container, body.page-template-page-template-client-php .gray-box form .chzn-container {
    width: 90px !important;
    margin-top: 5px; }
  body.page-template-page-template-listings-php .gray-box form .chzn-results, body.page-template-page-template-client-php .gray-box form .chzn-results {
    width: 100%; }
  body.page-template-page-template-listings-php .gray-box form .chzn-drop, body.page-template-page-template-client-php .gray-box form .chzn-drop {
    width: 88px !important; }
  body.page-template-page-template-listings-php .gray-box form .chzn-search input, body.page-template-page-template-client-php .gray-box form .chzn-search input {
    width: 53px !important; }
body.page-template-page-template-listings-php h3, body.page-template-page-template-client-php h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 0.4em 0;
  color: #111111; }
body.page-template-page-template-listings-php .list-thumb-size, body.page-template-page-template-client-php .list-thumb-size {
  margin: 0 20px 0 0;
  float: left; }
  body.page-template-page-template-listings-php .list-thumb-size .mls, body.page-template-page-template-client-php .list-thumb-size .mls {
    font-size: 12px; }
body.page-template-page-template-listings-php .single-item, body.page-template-page-template-client-php .single-item {
  padding: 20px 0 10px;
  border-bottom: 1px solid #e6e6e6;
  float: left; }
  body.page-template-page-template-listings-php .single-item #pl_add_remove_lead_favorites, body.page-template-page-template-client-php .single-item #pl_add_remove_lead_favorites {
    float: left;
    margin: 15px 0 10px 0;
    width: 200px; }
    body.page-template-page-template-listings-php .single-item #pl_add_remove_lead_favorites a, body.page-template-page-template-listings-php .single-item #pl_add_remove_lead_favorites a:visited, body.page-template-page-template-client-php .single-item #pl_add_remove_lead_favorites a, body.page-template-page-template-client-php .single-item #pl_add_remove_lead_favorites a:visited {
      color: #777777;
      font-size: 10pt; }
      body.page-template-page-template-listings-php .single-item #pl_add_remove_lead_favorites a:hover, body.page-template-page-template-listings-php .single-item #pl_add_remove_lead_favorites a:visited:hover, body.page-template-page-template-client-php .single-item #pl_add_remove_lead_favorites a:hover, body.page-template-page-template-client-php .single-item #pl_add_remove_lead_favorites a:visited:hover {
        color: #ee7d03; }
      body.page-template-page-template-listings-php .single-item #pl_add_remove_lead_favorites a:active, body.page-template-page-template-listings-php .single-item #pl_add_remove_lead_favorites a:visited:active, body.page-template-page-template-client-php .single-item #pl_add_remove_lead_favorites a:active, body.page-template-page-template-client-php .single-item #pl_add_remove_lead_favorites a:visited:active {
        color: #cf6c02; }
body.page-template-page-template-listings-php .list-thumb-txt, body.page-template-page-template-client-php .list-thumb-txt {
  padding: 5px 0 0 0; }
body.page-template-page-template-listings-php .list-thumb-details, body.page-template-page-template-client-php .list-thumb-details {
  padding: 10px 0 0 0; }
body.page-template-page-template-listings-php a.feat-title, body.page-template-page-template-listings-php a.feat-title:visited, body.page-template-page-template-client-php a.feat-title, body.page-template-page-template-client-php a.feat-title:visited {
  color: #287aac; }
  body.page-template-page-template-listings-php a.feat-title:hover, body.page-template-page-template-listings-php a.feat-title:visited:hover, body.page-template-page-template-client-php a.feat-title:hover, body.page-template-page-template-client-php a.feat-title:visited:hover {
    color: #ee7d03; }
body.page-template-page-template-listings-php a.seemore-btn-sml, body.page-template-page-template-client-php a.seemore-btn-sml {
  color: white;
  display: block;
  width: 108px;
  height: 25px;
  background: url(../img/btn-sml.png) no-repeat;
  font-size: 0.9em;
  text-shadow: 1px 1px 1px #666666;
  padding: 5px 0;
  text-align: center;
  float: right; }
body.page-template-page-template-listings-php .tbl-cell-search, body.page-template-page-template-client-php .tbl-cell-search {
  float: left;
  margin: 0; }
body.page-template-page-template-listings-php .tbl-cell-search2, body.page-template-page-template-client-php .tbl-cell-search2 {
  float: left;
  width: 220px;
  margin: 0; }
body.page-template-page-template-listings-php .tbl-cell-search3, body.page-template-page-template-client-php .tbl-cell-search3 {
  float: left;
  width: 250px;
  margin: 0 0 10px 0; }
body.page-template-page-template-listings-php .tbl-cell-search4 label, body.page-template-page-template-client-php .tbl-cell-search4 label {
  text-align: right !important;
  margin-right: 10px; }

h1[class='page-title'] {
  background: url(../img/gray-bg.png);
  border: 2px solid white; }

section[class='gray-box'] {
  width: 620px;
  padding: 10px;
  margin: 0 0 25px 0; }
section[class='gray-box2'] {
  width: 600px;
  padding: 20px;
  margin: 0 0 10px 0; }

h1[class='page-title'] {
  width: 600px;
  padding: 20px;
  margin: 0 0 10px 0; }

section[class='gray-box3'] {
  width: 282px;
  padding: 10px 9px; }
section[class='gmap-box'] {
  width: 630px;
  background-color: white;
  padding: 5px 5px 0;
  border: 1px solid #eeeeee;
  margin: 0 0 25px 0; }
section[class='content-list'] {
  padding: 10px; }

ul[class='item-list'] {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul[class='item-list'] li {
    border-bottom: 1px solid;
    border-color: #e6e6e6;
    float: left; }

#placester_listings_list > div > li {
  width: 100%; }

div[class="entry-utility"] a, div[class="navigation"] a {
  font-size: 12px;
  color: #287aac; }
div[id="nav-below"] {
  float: left;
  width: 640px; }
div[class="nav-next"] {
  float: right; }

ul[class='item-details'] {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 340px;
  clear: none;
  float: left;
  font-size: 0.9em;
  line-height: 1.3; }
  ul[class='item-details'] li {
    float: left;
    border: 0 !important;
    margin-right: 30px; }

li[class='item-desc1'] {
  width: 75px;
  text-align: right; }
li[class='item-desc2'] {
  width: 12px;
  text-align: center; }
li[class='item-desc3'] {
  width: 30px;
  text-align: left; }
li[class='item-desc4'] {
  width: 90px;
  text-align: left; }

section[class='pagination'] {
  padding: 20px 0; }

/* prev next botton */
a.prev-btn-passive, a.prev-btn-active, a.Prev_button.next-btn-active, a.First_button.next-btn-active {
  color: white;
  display: block;
  width: 53px;
  height: 25px;
  font: bold 0.9em "lucida sans";
  text-shadow: 1px 1px 1px #666666;
  padding: 10px 0 0 35px; }
a.prev-btn-passive {
  background: url(../img/prev-btn.png) 0 0; }
a.prev-btn-active {
  background: url(../img/prev-btn.png) 0 35px; }
a.next-btn-passive, a.next-btn-active, a.Next_button.prev-btn-passive {
  color: white;
  display: block;
  width: 68px;
  height: 25px;
  font: bold 0.9em "lucida sans";
  text-shadow: 1px 1px 1px #666666;
  padding: 10px 0 0 20px; }
a.Prev_button.next-btn-active, a.First_button.next-btn-active {
  background: url(../img/prev-btn.png) 0 35px; }
a.Next_button.next-btn-active, a.Last_button.next-btn-active {
  background: url(../img/next-btn.png) 0 35px; }
a.Next_button.prev-btn-passive {
  background: url(../img/next-btn.png) 0 0px; }

.Last_button, .Next_button {
  float: right; }

.Prev_button, .First_button {
  float: left; }

/* SIDEBAR */
aside {
  width: 300px;
  float: right !important;
  margin-top: 20px !important; }
  aside .widget {
    font-size: 16px;
    margin-bottom: 20px;
    float: left;
    width: 280px;
    clear: both; }
  aside .widget_search form div {
    margin: 20px 0 0 0; }
    aside .widget_search form div label {
      display: none; }
    aside .widget_search form div input {
      font-size: 16px; }
    aside .widget_search form div input[type="submit"] {
      margin-left: 5px; }
  aside .widget_calendar table td {
    padding: 5px;
    font-size: 0.8em;
    text-align: center; }
  aside .widget-pls-quick-search {
    float: left;
    width: 300px;
    height: 320px; }
    aside .widget-pls-quick-search .search-node {
      width: 150px;
      float: left; }
    aside .widget-pls-quick-search label {
      text-shadow: 1px 1px 1px white;
      color: #666666;
      display: block;
      float: left;
      width: 100px;
      padding: 2px 0;
      font-size: 11pt; }
    aside .widget-pls-quick-search .chzn-container {
      width: 100px !important; }
    aside .widget-pls-quick-search .chzn-drop {
      width: 98px !important; }
    aside .widget-pls-quick-search .chzn-search input {
      width: 63px !important; }
    aside .widget-pls-quick-search input#search {
      color: white;
      display: block;
      width: 108px;
      height: 36px;
      background: url(../img/btn-sml.png) no-repeat;
      font-size: 1.3em;
      text-shadow: 1px 1px 1px #666666;
      padding: 5px 0;
      text-align: center;
      float: right;
      border: none;
      margin-top: 20px;
      margin-right: 125px; }
  aside .widget-pls-recent-posts {
    float: left;
    width: 300px;
    margin-bottom: 30px; }
    aside .widget-pls-recent-posts a.title, aside .widget-pls-recent-posts a.title:visited {
      display: block;
      margin-top: 10px;
      color: #287aac;
      font-size: 11pt;
      font-weight: 600; }
    aside .widget-pls-recent-posts a.title:hover {
      color: #666666; }
    aside .widget-pls-recent-posts .meta {
      margin: 1px 0; }
  aside .pls-listing-get_listings_widget .compliance-wrapper {
    margin-top: 0; }
    aside .pls-listing-get_listings_widget .compliance-wrapper p {
      float: none; }
  aside .pls-listing-get_listings_widget .feat-listing2 {
    padding: 10px 0;
    margin: 20px 0;
    border-bottom: 1px solid #dddddd; }
    aside .pls-listing-get_listings_widget .feat-listing2 .feat-title {
      font-size: 13pt; }
  aside .widget-pls-agent {
    margin-top: 20px; }
    aside .widget-pls-agent .gt-thumb-size {
      margin-right: 10px; }
    aside .widget-pls-agent span, aside .widget-pls-agent span a {
      font-size: 12pt;
      margin: -5px 0;
      padding: 0;
      display: block; }

aside .widget ul {
  padding-left: 10px; }

section[class='side-ctnr'] {
  padding: 0 0 20px 0; }
  section[class='side-ctnr'] h3 {
    padding: 0 10px 0; }
  section[class='side-ctnr'] ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    section[class='side-ctnr'] ul li {
      margin: 15px 0 0 0; }

div[class='byline'] {
  font: normal 0.7em "Lucida Sans Unicode", "Lucida Grande", "Arial";
  color: #cccccc; }
div[class='details-thumb'] {
  width: 630px;
  margin: 26px 0; }

/* details page styles */
section[class='details-thumb-size'], section[class='details-thumb-size2'] {
  width: 124px;
  margin-right: 9px;
  float: left; }
section[class='details-thumb-size'] {
  margin-bottom: 20px; }
section[class='right-details'] {
  width: 356px;
  float: left; }
section[class='left-details'] {
  float: right;
  width: 257px; }
  section[class='left-details'] #property-details-main-image {
    margin: 15px 0;
    float: left; }
  section[class='left-details'] img {
    padding: 0;
    margin: 0; }
section[class='details-info'] {
  margin: 17px 0 0 0;
  float: left; }
section[class='desc-info'] {
  margin: 25px 0 0 0; }
section[class='desc-info2'] {
  margin: 70px 0 0 0; }
section[class='desc-info'] p, section[class='desc-info2'] p {
  font-size: 0.9em;
  line-height: 1.3; }

ul[class='basic-info'] {
  margin: 0;
  padding: 0;
  width: 630px;
  list-style-type: none;
  font-size: 0.9em; }
ul[class='amenities-info'] {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 0 20px 0;
  font-size: 0.9em; }
  ul[class='amenities-info'] li {
    float: left;
    width: 105px; }

/* index page styles */
section[class='item-title'] a {
  color: #666666;
  font: bold 1em "lucida sans";
  margin-bottom: 0.8em;
  display: block; }
  section[class='item-title'] a:hover {
    color: #c0d4e1; }
section[class='item-desc'] p {
  font-size: 0.9em;
  margin-bottom: 0.8em;
  line-height: 1.2; }
section[class='item-byline'] {
  font-size: 0.8em;
  margin-bottom: 0.6em; }

div.entry-meta {
  font-size: 1em;
  margin-bottom: 0.6em;
  clear: left; }

section[class='item-byline'] a, section[class='recent-post'] ul a, section[class='post-byline'] a, section[class='about-txt'] a {
  color: #287aac;
  /*var */ }

div.entry-meta a {
  color: #287aac;
  /*var */ }

section[class='item-byline'] a:hover, section[class='recent-post'] ul a:hover, section[class='post-byline'] a:hover, section[class='about-txt'] a:hover {
  color: #ee7d03;
  /*var */ }
section[class='recent-post'] {
  padding: 0 10px; }
  section[class='recent-post'] ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    section[class='recent-post'] ul li {
      height: 18px;
      padding: 7px;
      border-bottom: 1px solid #dee9f0;
      margin: 0; }
      section[class='recent-post'] ul li.last {
        border: none; }
section[class='post-byline'] {
  font: 0.9em "lucida sans";
  margin: 7px 0 10px; }
section[class='post-content'] {
  margin: 20px 0; }
  section[class='post-content'] p {
    font-size: 0.9em;
    line-height: 1.3; }
section[class='pic-holder'] {
  float: right;
  margin: 20px 0 20px 20px; }

/* sidebar recent post style */
/* single page styles */
/* share container styles */
.share1 {
  float: left;
  position: relative;
  margin: 0 15px 15px 0;
  padding: 6px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: -webkit-gradient(linear, 0 10%, 0 100%, from(white), to(white), color-stop(0.6, #ebeaea));
  background: -moz-linear-gradient(0% 100% 90deg, white, #ebeaea, white 100%);
  background: linear-gradient(0% 100% 90deg, white, #ebeaea, white 100%);
  -pie-background: linear-gradient(0% 100% 90deg, white, #ebeaea, white 100%);
  behavior: url(pie/PIE.htc); }
  .share1 ul {
    list-style: none;
    margin: 0; }
    .share1 ul li {
      margin: 0 !important;
      padding: 2px; }

.share2 {
  float: left;
  position: relative;
  padding: 6px;
  border: 1px solid #cdcdcd;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: -webkit-gradient(linear, 0 10%, 100% 0, from(white), to(white), color-stop(0.6, #ebeaea));
  background: -moz-linear-gradient(0% 100% 0deg, white, #ebeaea, white 100%);
  background: linear-gradient(0% 100% 0deg, white, #ebeaea, white 100%);
  -pie-background: linear-gradient(0% 100% 0deg, white, #ebeaea, white 100%);
  behavior: url(pie/PIE.htc); }
  .share2 ul {
    list-style-type: none;
    padding: 0; }
    .share2 ul li {
      float: left;
      padding: 1px 6px 0;
      margin: 0 !important; }

/* widget page styles */
section[class='widgets'] {
  width: 300px;
  margin: 0 auto; }
section[class='common-side-cont'] {
  padding: 0 10px; }

.search-input {
  background: url("../img/search-area.png") no-repeat !important;
  width: 155px !important;
  height: 27px !important;
  border: none !important;
  padding: 5px 20px 0 30px !important; }

/* listing map widget */
.common-side-cont #placester_listings_map_map {
  width: 280px;
  height: 280px; }

/* fixes */
.search-ctnr {
  width: 270px;
  height: 32px; }

span.s1 {
  float: left;
  width: 155px; }
span.s2 {
  float: right;
  width: 88px; }

section[id='sbar-search'] {
  padding: 0 5px;
  margin: 0; }
  section[id='sbar-search'] ul li {
    height: auto;
    padding: 0;
    margin: 0;
    border: 0; }

div[class='tbl-cell-search3'] span[class='dash'] {
  padding: 8px 0 0 0;
  margin: 0 2px 0 6px;
  font-weight: bold;
  float: left; }

#content {
  margin: 0 !important; }

section[class="single-item"] {
  color: #333333 !important;
  font-size: 16px;
  line-height: 24px; }

aside[class="sidebar"] li {
  list-style: none;
  border-bottom: 1px solid;
  border-color: #e6e6e6; }

/* HOME - 3 FEATURED LISTINGS */
#home-listings {
  width: 100%;
  min-width: 970px !important;
  color: #666666;
  background: #eeeeee;
  text-shadow: 1px 1px 1px white;
  padding: 12px 0 10px 0; }
  #home-listings .home-listings-featured {
    padding: 0 40px 0 0;
    width: 280px;
    float: left; }
    #home-listings .home-listings-featured a.feat-title, #home-listings .home-listings-featured a.feat-title:visited {
      color: #287aac;
      font-weight: bold; }
      #home-listings .home-listings-featured a.feat-title:hover, #home-listings .home-listings-featured a.feat-title:visited:hover {
        color: #ee7d03; }
    #home-listings .home-listings-featured .feat-thumb-size {
      width: 132px;
      margin: 0 15px 0 0;
      float: left; }
      #home-listings .home-listings-featured .feat-thumb-size .mls {
        font-size: 12px;
        text-align: center;
        margin-top: -3px; }
    #home-listings .home-listings-featured .home-listings-featured-info {
      margin-top: 5px; }
      #home-listings .home-listings-featured .home-listings-featured-info img {
        padding: 0; }
      #home-listings .home-listings-featured .home-listings-featured-info ul {
        margin: 0;
        padding: 0;
        clear: none; }
        #home-listings .home-listings-featured .home-listings-featured-info ul li {
          list-style-type: none; }
      #home-listings .home-listings-featured .home-listings-featured-info a.learnmore-btn-sml {
        color: white;
        display: block;
        width: 108px;
        height: 25px;
        background: url(../img/btn-sml.png) no-repeat;
        font-size: 0.9em;
        text-shadow: 1px 1px 1px #666666;
        padding: 9px 0 0;
        text-align: center;
        float: left; }
      #home-listings .home-listings-featured .home-listings-featured-info .compliance-wrapper {
        margin: 0; }

/* BLOG */
article.post-password-required input {
  float: none; }

#blog-post-feed {
  width: 620px;
  float: left; }
  #blog-post-feed article.post {
    width: 620px;
    float: left;
    padding-bottom: 15px;
    margin-bottom: 15px; }
    #blog-post-feed article.post p {
      margin: 20px 0 !important; }
    #blog-post-feed article.post h3 {
      border-bottom: none; }
    #blog-post-feed article.post .more-link {
      font-size: 15px;
      color: #2793e5; }
  #blog-post-feed #posts-nav {
    width: 620px;
    float: left; }

body.single-post article.post {
  width: 620px;
  float: left;
  margin-top: 15px; }
  body.single-post article.post h3 {
    border-bottom: none; }
  body.single-post article.post nav {
    width: 600px;
    margin: 20px 0; }

img.wp-smiley {
  padding: 0;
  margin: 0 4px;
  border: 0; }

/* ABOUT PAGE TEMPLATE */
#about-page article {
  width: 620px;
  float: left;
  margin-top: 15px; }

/* SINGLE PROPERTY */
body.single-property article.property-details h3 {
  font-size: 20px;
  font-weight: bold;
  width: auto;
  float: none; }
body.single-property article.property-details h6 {
  font-weight: bold; }
body.single-property article.property-details ul.basic-info li {
  display: inline;
  float: left;
  margin: 10px 20px 0 0;
  font-size: 11pt; }
body.single-property article.property-details footer {
  display: none; }
body.single-property article.property-details #pl_add_remove_lead_favorites a, body.single-property article.property-details #pl_add_remove_lead_favorites a:visited {
  color: white;
  font-size: 16px;
  background: #ee7d03;
  border: 1px solid #a25402;
  padding: 6px 14px 6px 14px;
  font-weight: bold;
  margin: 0 0 20px 0px;
  text-shadow: 1px 1px black;
  cursor: pointer;
  float: left;
  border-radius: 5px; }

/* FOOTER */
footer {
  width: 100%;
  min-width: 970px !important;
  color: white;
  background: url(../img/lvl5-bg.png);
  padding: 35px 0 0 0; }
  footer a {
    color: #e07b04; }
    footer a:hover {
      color: #f7ae57; }
  footer #footer-about, footer #footer-contact, footer #footer-nav {
    float: left;
    width: 300px;
    margin: 0 20px 20px 0; }
  footer #footer-about p.description {
    color: #999999;
    font-size: 12pt; }
  footer #footer-contact img {
    float: left;
    padding-right: 15px; }
  footer #footer-contact p.info {
    margin: 0;
    padding: 0 0 10px 0;
    min-width: 100px; }
    footer #footer-contact p.info .phone {
      font-size: 12pt; }
  footer #footer-nav {
    margin-right: 0px; }
    footer #footer-nav nav {
      margin: 0;
      padding: 0;
      border: none; }
    footer #footer-nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      footer #footer-nav ul li {
        padding: 5px 0 0 0;
        width: 130px; }
        footer #footer-nav ul li a {
          color: #e07b04;
          background: none !important; }
          footer #footer-nav ul li a:hover {
            background: none;
            color: #f7ae57; }
  footer .links-header {
    font-size: 1.429em;
    padding-bottom: 20px;
    margin: 0;
    width: 300px; }
  footer .copyright {
    color: #999999;
    font-size: 0.7em;
    float: left; }
  footer #footer-base {
    background: url(../img/lvl6-bg.png);
    padding: 15px 0;
    text-align: center; }
    footer #footer-base a, footer #footer-base a:visited {
      color: #e07b04; }
      footer #footer-base a:hover, footer #footer-base a:visited:hover {
        color: #f7ae57; }
    footer #footer-base .compliance-wrapper p {
      color: white;
      text-align: left; }

#placester_listings_listz .sort_wrapper {
  float: left !important;
  margin-top: 0; }
  #placester_listings_listz .sort_wrapper label {
    margin: 6px 10px 0 0 !important;
    width: auto;
    font-weight: normal; }
  #placester_listings_listz .sort_wrapper .sort_item {
    width: auto;
    margin-left: 10px;
    float: right; }

.dataTables_length label {
  float: right !important; }

.dataTables_info {
  text-align: center; }

.dataTables_paginate {
  text-align: center;
  margin: 10px 0 20px 0; }
  .dataTables_paginate a.first {
    float: left; }
  .dataTables_paginate a.last {
    float: right; }
  .dataTables_paginate a.previous {
    padding-right: 15px; }
  .dataTables_paginate a.next {
    padding-left: 15px; }
  .dataTables_paginate span a {
    padding: 0 15px; }
    .dataTables_paginate span a.paginate_active {
      font-weight: 600; }

body.page-template-default article.page {
  float: left;
  width: 600px; }
  body.page-template-default article.page header {
    background: none; }
    body.page-template-default article.page header h2 {
      margin: 20px 0; }
  body.page-template-default article.page footer {
    background: none !important;
    min-width: auto; }

#fancybox-content {
  background: #eeeeee; }
  #fancybox-content h2 {
    margin: 10px 10px 10px 10px;
    font-size: 14pt;
    font-weight: 600; }
  #fancybox-content label {
    width: 140px;
    float: left;
    padding: 11px 15px 0 10px;
    font-size: 15px;
    cursor: default;
    clear: both;
    color: black; }
  #fancybox-content input[type="text"], #fancybox-content input[type="password"] {
    float: left;
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    margin: 4px 0px 0 10px;
    background: #fafafa; }
  #fancybox-content input[type="submit"] {
    color: white;
    font-size: 16px;
    background: #ee7d03;
    border: 1px solid #a25402;
    padding: 6px 14px 6px 14px;
    font-weight: bold;
    margin: 10px 30px 15px 0px;
    text-shadow: 1px 1px black;
    cursor: pointer;
    float: right;
    border-radius: 5px; }
  #fancybox-content .pl_login_alert {
    padding: 15px 10px 0 10px;
    color: #cd0a0a; }
  #fancybox-content #form_message_box ul {
    list-style-type: none; }
    #fancybox-content #form_message_box ul li {
      color: #cd0a0a; }
  #fancybox-content #pl_lead_register_form input[type="text"], #fancybox-content #pl_lead_register_form input[type="password"] {
    width: 243px; }
  #fancybox-content #pl_lead_register_form input[type="submit"] {
    margin: 15px 40px 10px 0; }

aside .widget #map-widget {
  margin-top: 15px; }
aside .widget #client-details ul {
  list-style-type: none;
  padding-left: 0px; }
  aside .widget #client-details ul li {
    line-height: 20px;
    font-size: 10pt;
    font-weight: 600; }
    aside .widget #client-details ul li span {
      padding-right: 5px;
      font-weight: 400; }

.ui-dialog {
  width: 610px !important; }
  .ui-dialog .ui-widget-header {
    border: none;
    background: #eeeeee;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -khtml-border-bottom-right-radius: 0;
    -border-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -khtml-border-bottom-left-radius: 0;
    -border-border-bottom-left-radius: 0; }
    .ui-dialog .ui-widget-header h2 {
      margin: 5px 0;
      font-size: 14pt;
      font-weight: 600; }
  .ui-dialog #edit_profile {
    background: #eeeeee; }
    .ui-dialog #edit_profile #edit_profile_form div {
      width: 280px;
      float: left;
      margin-top: 5px;
      margin-bottom: 5px; }
      .ui-dialog #edit_profile #edit_profile_form div:nth-child(odd) {
        margin-right: 10px; }
    .ui-dialog #edit_profile #edit_profile_form label {
      width: 90px;
      float: left;
      font-weight: 600; }
    .ui-dialog #edit_profile #edit_profile_form input[type="text"] {
      width: 175px;
      border: 1px solid #666666;
      color: #444444;
      background: white; }
  .ui-dialog .ui-dialog-buttonpane {
    border: none;
    padding-right: 40px !important;
    background: #eeeeee;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -khtml-border-top-right-radius: 0;
    -border-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -khtml-border-top-left-radius: 0;
    -border-border-top-left-radius: 0;
    margin-top: 0 !important; }
    .ui-dialog .ui-dialog-buttonpane button {
      color: white;
      font-size: 16px;
      background: #ee7d03;
      border: 1px solid #a25402;
      padding: 6px 14px 6px 14px;
      font-weight: bold;
      margin: 10px 30px 15px 0px;
      text-shadow: 1px 1px black;
      cursor: pointer;
      float: right;
      border-radius: 5px; }

.widget_rss h3 a {
  color: black;
  text-decoration: none; }
  .widget_rss h3 a:hover, .widget_rss h3 a:onclick {
    color: #0066ff; }
.widget_rss ul {
  padding: 0;
  list-style-type: none; }
  .widget_rss ul a.rsswidget, .widget_rss ul a.rsswidget:visited {
    color: #0066ff;
    text-decoration: none; }
    .widget_rss ul a.rsswidget:hover, .widget_rss ul a.rsswidget:onclick, .widget_rss ul a.rsswidget:visited:hover, .widget_rss ul a.rsswidget:visited:onclick {
      color: black; }

#respond {
  margin-bottom: 20px; }

body.page-template-page-template-client-php #content {
  min-width: 610px; }
body.page-template-page-template-client-php .wrapper h3 {
  padding-top: 20px; }
body.page-template-page-template-client-php .compliance-wrapper {
  width: 610px; }

.placester_contact {
  margin-bottom: 20px; }

.compliance-wrapper {
  margin: 10px 0 0 0; }
  .compliance-wrapper img {
    float: left;
    margin: 0 5px 3px 0;
    padding: 0; }
  .compliance-wrapper p {
    margin-top: 0;
    line-height: 11px;
    float: none;
    font-size: 10px; }
    .compliance-wrapper p .disclaimer, .compliance-wrapper p .property-details-compliance {
      float: none; }

nav {
  border: none !important;
  padding: 10px 0 !important; }
  nav .prev-wrapper {
    float: left;
    text-align: inherit !important;
    padding: 0px !important;
    width: 300px; }
  nav .prev {
    float: left; }
    nav .prev a {
      padding: 0 0 0 10px !important;
      float: none !important;
      text-align: left; }
      nav .prev a:hover {
        color: #1982d1; }
  nav .next-wrapper {
    float: right;
    text-align: inherit !important;
    padding: 0px !important;
    width: 300px; }
  nav .next {
    float: right; }
    nav .next a {
      padding: 0 10px 0 0 !important;
      float: left !important;
      width: 280px;
      text-align: right; }
      nav .next a:hover {
        color: #1982d1; }
  nav div {
    float: left; }
    nav div a {
      float: left;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      background-color: inherit !important;
      padding: 0px;
      color: #5e5e5e; }

.page-title {
  font-size: 25px;
  padding-bottom: 5px;
  margin-top: 25px; }

#placester_fav_list {
  width: 620px; }

aside .placester_contact .success {
  text-align: left; }

/* */
/* Variables */
/* */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/* */
/* Mixins */
/* */
a, a:link, a:visited {
  color: #2793e5;
  text-decoration: none; }
  a:active, a:link:active, a:visited:active {
    color: #2793e5; }
  a:hover, a:link:hover, a:visited:hover {
    color: #444444; }

a.anchor-secondary, a.anchor-secondary:link, a.anchor-secondary:visited {
  color: #19d231;
  text-decoration: none; }
  a.anchor-secondary:active, a.anchor-secondary:link:active, a.anchor-secondary:visited:active {
    color: #444444; }
  a.anchor-secondary:hover, a.anchor-secondary:link:hover, a.anchor-secondary:visited:hover {
    color: #444444; }

.button-primary {
  padding: 10px 15px;
  border-top: 1px solid #999999;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#444444));
  background: -moz-linear-gradient(top, #999999, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  .button-primary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
    background: -moz-linear-gradient(top, #444444, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  .button-primary:active {
    background: #777777; }

.button-secondary {
  padding: 10px 15px;
  border-top: 1px solid #64b1ed;
  border-left: 1px solid #2793e5;
  border-right: 1px solid #2793e5;
  border-bottom: 1px solid #2793e5;
  background: -webkit-gradient(linear, left top, left bottom, from(#64b1ed), to(#1674bb));
  background: -moz-linear-gradient(top, #64b1ed, #1674bb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  .button-secondary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#1674bb), to(#64b1ed));
    background: -moz-linear-gradient(top, #1674bb, #64b1ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  .button-secondary:active {
    background: #2793e5; }

.button-tertiary {
  padding: 10px 15px;
  border-top: 1px solid #36e74e;
  border-left: 1px solid #19d231;
  border-right: 1px solid #19d231;
  border-bottom: 1px solid #19d231;
  background: -webkit-gradient(linear, left top, left bottom, from(#36e74e), to(#14ad29));
  background: -moz-linear-gradient(top, #36e74e, #14ad29);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  .button-tertiary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#14ad29), to(#36e74e));
    background: -moz-linear-gradient(top, #14ad29, #36e74e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  .button-tertiary:active {
    background: #19d231; }

body {
  font-family: Helvetica, Arial;
  font-size: 15px;
  color: #444444; }
  body .inner {
    padding: 20px 0px;
    float: left; }

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  float: left; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: black;
  margin: 15px 0;
  font-weight: 400;
  font-family: Helvetica, Arial; }
  h1 a, h1 a:link, h1 a:visited, h1 a:active, h2 a, h2 a:link, h2 a:visited, h2 a:active, h3 a, h3 a:link, h3 a:visited, h3 a:active, h4 a, h4 a:link, h4 a:visited, h4 a:active, h5 a, h5 a:link, h5 a:visited, h5 a:active, h6 a, h6 a:link, h6 a:visited, h6 a:active, .h1 a, .h1 a:link, .h1 a:visited, .h1 a:active, .h2 a, .h2 a:link, .h2 a:visited, .h2 a:active, .h3 a, .h3 a:link, .h3 a:visited, .h3 a:active, .h4 a, .h4 a:link, .h4 a:visited, .h4 a:active, .h5 a, .h5 a:link, .h5 a:visited, .h5 a:active, .h6 a, .h6 a:link, .h6 a:visited, .h6 a:active {
    color: black; }
    h1 a:hover, h1 a:link:hover, h1 a:visited:hover, h1 a:active:hover, h2 a:hover, h2 a:link:hover, h2 a:visited:hover, h2 a:active:hover, h3 a:hover, h3 a:link:hover, h3 a:visited:hover, h3 a:active:hover, h4 a:hover, h4 a:link:hover, h4 a:visited:hover, h4 a:active:hover, h5 a:hover, h5 a:link:hover, h5 a:visited:hover, h5 a:active:hover, h6 a:hover, h6 a:link:hover, h6 a:visited:hover, h6 a:active:hover, .h1 a:hover, .h1 a:link:hover, .h1 a:visited:hover, .h1 a:active:hover, .h2 a:hover, .h2 a:link:hover, .h2 a:visited:hover, .h2 a:active:hover, .h3 a:hover, .h3 a:link:hover, .h3 a:visited:hover, .h3 a:active:hover, .h4 a:hover, .h4 a:link:hover, .h4 a:visited:hover, .h4 a:active:hover, .h5 a:hover, .h5 a:link:hover, .h5 a:visited:hover, .h5 a:active:hover, .h6 a:hover, .h6 a:link:hover, .h6 a:visited:hover, .h6 a:active:hover {
      color: #2793e5; }

h1, .h1 {
  font-size: 35px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 25px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 17px; }

h6, .h6 {
  font-size: 14px; }

p, .p1, .p2, .p3, .p4, .p5, .p6 {
  color: #444444;
  margin: 10px 0;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica, Arial; }

p {
  float: left; }

.p2 {
  color: #777777;
  font-size: 13px;
  font-weight: 600; }

.p3 {
  color: #999999;
  font-size: 12px; }

.p4 {
  color: black;
  font-size: 12px; }

.p5 {
  color: #999999;
  font-size: 14px; }

.p6 {
  color: black;
  font-size: 13px;
  text-shadow: 0 1px 1px #999999; }

img, embed, iframe {
  padding: 5px;
  border: 1px solid #999999; }

img.size-full {
  max-width: 97.5%;
  width: auto; }
img.aligncenter {
  margin: inherit 0px;
  width: auto;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }
img.alignleft {
  margin: 20px 20px 20px 0;
  display: inline;
  float: left; }
img.alignright {
  margin: 20px 0 20px 20px;
  display: inline;
  float: right; }

ul, ol {
  padding: 0 0 0 30px;
  margin: 20px 0px;
  float: left; }
  ul li, ol li {
    padding: 2px 0; }

ul li {
  list-style-image: none; }

pre, code, samp {
  padding: 10px 20px;
  float: left;
  margin: 20px;
  width: 100%; }

pre, code {
  border-left: 5px solid #2793e5; }

samp {
  border-left: 5px solid #777777; }

blockquote {
  margin: 30px 40px;
  font-style: oblique;
  line-height: 20px; }

abbr[title] {
  border-bottom: 1px dotted #999999; }

fieldset input {
  margin: 5px 0;
  width: 95%; }

dl {
  width: 100%;
  float: left;
  padding-left: 10px; }
  dl dt {
    font-weight: 600;
    padding-bottom: 3px; }

table caption {
  color: #444444;
  margin: 10px 0;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica, Arial;
  text-shadow: 0 1px 1px #777777; }
table tbody tr th, table tbody tr td {
  padding: 10px 15px;
  border: 1px solid #dddddd; }
table tbody tr th {
  background-color: white;
  background-image: none;
  background-repeat: none;
  text-shadow: 0 1px 1px #444444;
  color: white; }

#slideshow {
  margin-bottom: 20px; }
  #slideshow #slider a img {
    border: none;
    padding: 0; }

.orbit-wrapper .timer {
  display: none; }

.orbit-caption {
  display: none;
  font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
  background: black;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  color: white;
  padding: 7px 0;
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 20px;
  width: 100%; }
  .orbit-caption .details {
    margin-left: 10px;
    float: right;
    margin-right: 50px; }
  .orbit-caption .caption-title {
    font-size: 16pt;
    font-weight: 600;
    margin: 0px 0 0 10px; }
  .orbit-caption .caption-subtitle {
    font-size: 12pt;
    color: white;
    margin: 0px 0 5px 10px; }

table#placester_listings_list tr, table#placester_fav_list tr {
  float: left; }
  table#placester_listings_list tr td, table#placester_fav_list tr td {
    padding: 0;
    border: none; }

.listing-item {
  padding: 0 0 20px 0;
  margin-bottom: 20px; }
  .listing-item p {
    margin: 0;
    line-height: 20px; }
  .listing-item .actions {
    width: 100%;
    clear: both; }
    .listing-item .actions .more-link {
      float: right; }
    .listing-item .actions a.pl_prop_fav_link {
      float: left; }
  .listing-item .listing-item-details {
    float: left; }
    .listing-item .listing-item-details .basic-details ul {
      list-style-type: none;
      padding-left: 0px;
      margin: 10px 0; }
      .listing-item .listing-item-details .basic-details ul li {
        float: left;
        margin: 0 15px 0 0; }
        .listing-item .listing-item-details .basic-details ul li span {
          font-weight: 600; }
    .listing-item .listing-item-details .listing-description {
      line-height: 17px; }
  .listing-item .actions {
    margin: 15px 0;
    float: left; }

.compliance-wrapper {
  float: left; }
  .compliance-wrapper p.search-compliance, .compliance-wrapper img, .compliance-wrapper p.search-compliance-disclaimer, .compliance-wrapper p.property-details-compliance-disclaimer {
    float: left;
    margin-right: 15px;
    line-height: 15px; }
  .compliance-wrapper p.search-compliance {
    margin-bottom: 10px; }
  .compliance-wrapper img {
    clear: left; }

#simple_map img, #simple_map embed {
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

.pl_spinner {
  border: none; }

footer {
  width: 100%;
  float: left; }

#comments-template {
  float: left; }

#main_content article {
  float: left;
  margin-bottom: 15px;
  padding-bottom: 15px; }
  #main_content article header, #main_content article .entry-summary, #main_content article .entry-meta, #main_content article footer {
    width: 100%;
    float: left; }
  #main_content article footer {
    margin: 15px 0; }
#main_content nav {
  float: left;
  width: 100%;
  padding: 10px 0; }
  #main_content nav .prev, #main_content nav .next {
    width: 275px; }
  #main_content nav .prev {
    margin-left: 5px;
    float: left; }
  #main_content nav .next {
    float: right;
    text-align: right; }

body.page-template-page-template-client-php #edit_profile form#edit_profile_form div {
  float: left;
  width: 290px;
  margin: 0 20px 10px 0; }
  body.page-template-page-template-client-php #edit_profile form#edit_profile_form div label {
    font-size: 15px; }
  body.page-template-page-template-client-php #edit_profile form#edit_profile_form div input[type="text"] {
    width: 270px; }
body.page-template-page-template-client-php .ui-dialog {
  top: 25% !important;
  left: 25% !important; }
body.page-template-page-template-client-php .ui-dialog-buttonset button {
  padding: 10px 15px;
  border-top: 1px solid #999999;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#444444));
  background: -moz-linear-gradient(top, #999999, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  body.page-template-page-template-client-php .ui-dialog-buttonset button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
    background: -moz-linear-gradient(top, #444444, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  body.page-template-page-template-client-php .ui-dialog-buttonset button:active {
    background: #777777; }
body.page-template-page-template-client-php .placester_contact {
  margin: 0 0 50px 0;
  float: left; }
body.page-template-page-template-client-php #client-details {
  float: right;
  width: 288px; }
  body.page-template-page-template-client-php #client-details ul {
    padding-left: 0; }
    body.page-template-page-template-client-php #client-details ul li {
      list-style-type: none;
      line-height: 20px;
      margin-left: 0px; }
      body.page-template-page-template-client-php #client-details ul li:first-child {
        margin-top: 10px; }
      body.page-template-page-template-client-php #client-details ul li:last-child {
        margin-bottom: 10px; }
    body.page-template-page-template-client-php #client-details ul a, body.page-template-page-template-client-php #client-details ul a:visited {
      padding-right: 10px; }

#fancybox-wrap {
  width: 290px !important; }
  #fancybox-wrap #fancybox-content {
    width: 270px !important; }
    #fancybox-wrap #fancybox-content label {
      width: 200px; }
    #fancybox-wrap #fancybox-content h2 {
      margin: 10px 10px 0 10px; }
    #fancybox-wrap #fancybox-content input[type="text"], #fancybox-wrap #fancybox-content input[type="password"] {
      float: left;
      width: 225px;
      height: 26px;
      margin: 4px 0px 0 10px; }
    #fancybox-wrap #fancybox-content input[type="submit"] {
      padding: 6px 14px 6px 14px;
      margin: 10px 40px 20px 0;
      cursor: pointer;
      float: right; }
    #fancybox-wrap #fancybox-content .login-remember {
      padding: 0 20px; }
      #fancybox-wrap #fancybox-content .login-remember input[type="checkbox"] {
        margin-right: 10px; }
    #fancybox-wrap #fancybox-content input#pl_register {
      padding: 10px 15px;
      border-top: 1px solid #999999;
      border-left: 1px solid #777777;
      border-right: 1px solid #777777;
      border-bottom: 1px solid #777777;
      background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#444444));
      background: -moz-linear-gradient(top, #999999, #444444);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      margin-bottom: 15px;
      color: #fefefe;
      box-shadow: 0 0 0 1px #999999;
      -webkit-box-shadow: 0 0 0 1px #999999;
      -moz-box-shadow: 0 0 0 1px #999999;
      text-shadow: 0 1px 1px #777777;
      font-weight: 600;
      font-size: 16px;
      margin-left: 8px;
      margin-top: 10px; }
      #fancybox-wrap #fancybox-content input#pl_register:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
        background: -moz-linear-gradient(top, #444444, #999999);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
      #fancybox-wrap #fancybox-content input#pl_register:active {
        background: #777777; }
    #fancybox-wrap #fancybox-content #form_message_box ul {
      list-style-type: none; }
      #fancybox-wrap #fancybox-content #form_message_box ul li {
        color: red; }

#client-details li {
  list-style-type: none;
  font-weight: 600; }
  #client-details li span {
    font-weight: 400; }

.comment-list {
  border: 1px solid #dddddd; }

#respond .form-submit input {
  padding: 10px 15px;
  border-top: 1px solid #999999;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#444444));
  background: -moz-linear-gradient(top, #999999, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  #respond .form-submit input:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
    background: -moz-linear-gradient(top, #444444, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  #respond .form-submit input:active {
    background: #777777; }

nav ul li {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  nav ul li a:hover {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }

.page-template-page-template-listings-php form .pls_search_form {
  float: left;
  width: 200px;
  margin-bottom: 10px; }
  .page-template-page-template-listings-php form .pls_search_form .chzn-container {
    width: 150px !important; }
  .page-template-page-template-listings-php form .pls_search_form .chzn-drop, .page-template-page-template-listings-php form .pls_search_form .chzn-results {
    width: 148px !important; }
.page-template-page-template-listings-php #content {
  border-top: 1px solid #dbdbdb;
  margin-top: 20px;
  padding-top: 20px; }

.header-membership a {
  padding: 0 10px; }

.polygon_text_area {
  font-size: 14px;
  text-shadow: white 1px 1px 2px;
  position: absolute;
  text-align: center;
  font-weight: bold; }

.map_filter_area {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 180px;
  height: 150px; }

header hgroup {
  float: left; }
header .header-membership {
  float: right; }

ul {
  padding: 0 0 0 20px;
  margin: 10px 0px; }

#branding {
  margin-top: 50px; }
  #branding #logo {
    float: left;
    margin-right: 10px;
    min-height: 50px; }
  #branding h1 {
    margin-bottom: 0px;
    padding: 0px;
    font-size: 30px; }
  #branding h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #7a7a7a;
    font-weight: normal; }

nav {
  margin: 15px 0 0 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 10px; }
  nav ul {
    padding-left: 0;
    float: left; }
    nav ul li {
      float: left;
      width: auto; }
      nav ul li a {
        position: relative;
        display: block;
        padding: 5px 10px;
        font-size: 15px; }

header nav {
  padding: 0; }
  header nav > ul > li {
    padding: 10px; }
  header nav ul {
    padding-left: 0;
    float: left;
    position: relative;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    header nav ul li {
      width: auto;
      float: left;
      position: relative; }
      header nav ul li:hover > a {
        color: #2793e5;
        background: #dddddd; }
      header nav ul li:hover > ul {
        display: block; }
      header nav ul li a:visited, header nav ul li a:link, header nav ul li a {
        position: relative;
        display: block;
        padding: 10px;
        display: block;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase; }
        header nav ul li a:visited:hover, header nav ul li a:link:hover, header nav ul li a:hover {
          color: #2793e5 !important;
          background: #dddddd;
          border-radius: 0px;
          -moz-border-radius: 0px; }
    header nav ul ul {
      display: none;
      float: left;
      margin: 0;
      position: absolute;
      left: 0;
      z-index: 99999;
      background: #bbbbbb; }
      header nav ul ul li {
        border-radius: 0px;
        -moz-border-radius: 0px;
        border: none;
        padding: 0; }
        header nav ul ul li a:visited, header nav ul ul li a:link, header nav ul ul li a {
          border-left: 1px solid #bbbbbb;
          height: auto;
          padding: 10px;
          width: 168px; }
      header nav ul ul ul {
        left: 100%;
        top: 0; }
        header nav ul ul ul:hover > a {
          color: #2793e5;
          background: #dddddd; }

.page-template-page-template-listings-php form .pls_search_form {
  float: left;
  width: 200px;
  margin-bottom: 10px; }
  .page-template-page-template-listings-php form .pls_search_form .chzn-container {
    width: 150px !important; }
  .page-template-page-template-listings-php form .pls_search_form .chzn-drop, .page-template-page-template-listings-php form .pls_search_form .chzn-results {
    width: 148px !important; }
.page-template-page-template-listings-php #content {
  border-top: 1px solid #dbdbdb;
  margin-top: 20px;
  padding-top: 20px; }

form, fieldset, .placester_listings_list_length {
  float: left; }
  form label, form input, form textarea, form .chzn-container, form select, fieldset label, fieldset input, fieldset textarea, fieldset .chzn-container, fieldset select, .placester_listings_list_length label, .placester_listings_list_length input, .placester_listings_list_length textarea, .placester_listings_list_length .chzn-container, .placester_listings_list_length select {
    float: left; }
  form label, form p, fieldset label, fieldset p, .placester_listings_list_length label, .placester_listings_list_length p {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 600; }
  form input[type="text"], form input[type="email"], form input[type="password"], fieldset input[type="text"], fieldset input[type="email"], fieldset input[type="password"], .placester_listings_list_length input[type="text"], .placester_listings_list_length input[type="email"], .placester_listings_list_length input[type="password"] {
    height: 25px;
    padding: 3px 5px; }
  form textarea, fieldset textarea, .placester_listings_list_length textarea {
    padding: 5px; }
  form input[type="text"], form input[type="email"], form input[type="password"], form textarea, fieldset input[type="text"], fieldset input[type="email"], fieldset input[type="password"], fieldset textarea, .placester_listings_list_length input[type="text"], .placester_listings_list_length input[type="email"], .placester_listings_list_length input[type="password"], .placester_listings_list_length textarea {
    border: 1px solid #cccccc;
    box-shadow: inset 0px 11px 9px -12px #cccccc;
    -webkit-box-shadow: inset 0px 11px 9px -12px #cccccc;
    -moz-box-shadow: inset 0px 11px 9px -12px #cccccc;
    font-size: 13px; }

.chzn-container .chzn-search {
  float: none;
  display: none; }

ul.chzn-results {
  margin: 0 0 0 -4px !important;
  border-radius: 0 !important; }
  ul.chzn-results li {
    padding: 5px 7px !important;
    line-height: 18px !important; }
    ul.chzn-results li.group-result {
      display: block !important; }
    ul.chzn-results li.group-option {
      text-indent: 15px; }

.chzn-container-multi ul.chzn-results {
  margin: 0px !important; }

.chzn-single {
  height: 31px !important;
  border-radius: 0px !important;
  box-shadow: inset 0px 11px 9px -12px #cccccc !important;
  background: white !important; }
  .chzn-single span {
    line-height: 31px !important;
    font-weight: 600; }
  .chzn-single div {
    background: none !important;
    border-left: none !important;
    width: 22px !important; }
    .chzn-single div b {
      background-position: 0 3px !important; }
  .chzn-single.chzn-single-with-drop div b {
    background-position: -18px 1px !important; }

#placester_listings_list_length {
  float: right;
  margin-top: -53px;
  font-size: 10pt; }
  #placester_listings_list_length .chzn-search {
    display: none; }
  #placester_listings_list_length .chzn-results {
    width: 100% !important; }

.sort_wrapper .sort_item {
  float: left;
  width: 130px;
  margin: 0;
  font-size: 10pt; }
  .sort_wrapper .sort_item .chzn-container {
    width: 110px !important; }
  .sort_wrapper .sort_item .chzn-search {
    display: none; }
  .sort_wrapper .sort_item .chzn-drop {
    width: 108px !important; }
  .sort_wrapper .sort_item .chzn-results {
    width: 100% !important; }

.dataTables_empty {
  color: red; }

.dataTables_processing {
  position: absolute;
  margin: -100px 0 0 300px; }

body.page-template-page-template-listings-php #container, body.page-template-page-template-client-php #container {
  margin-top: 20px; }

.dataTables_info {
  color: #5e5e5e;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #dbdbdb; }

.dataTables_paginate {
  margin-top: 20px;
  text-align: center; }
  .dataTables_paginate a, .dataTables_paginate a:visited {
    font-size: 11pt;
    color: #555555;
    padding: 6px 8px;
    text-decoration: none;
    cursor: pointer; }
    .dataTables_paginate a:hover, .dataTables_paginate a:visited:hover {
      color: #1982d1; }
    .dataTables_paginate a.first, .dataTables_paginate a:visited.first {
      float: left;
      margin-top: -6px; }
    .dataTables_paginate a.last, .dataTables_paginate a:visited.last {
      float: right;
      margin-top: -6px; }
    .dataTables_paginate a.paginate_active, .dataTables_paginate a:visited.paginate_active {
      font-weight: 600; }
    .dataTables_paginate a.previous, .dataTables_paginate a:visited.previous {
      padding-right: 30px;
      margin-top: -8px; }
    .dataTables_paginate a.next, .dataTables_paginate a:visited.next {
      padding-left: 30px;
      margin-top: -8px; }

.complex-search #pls_listings_search_results {
  margin-top: 30px; }

form label, form p, fieldset label, fieldset p, .placester_listings_list_length label, .placester_listings_list_length p {
  color: #777777; }
form p, fieldset p, .placester_listings_list_length p {
  color: #444444;
  margin: 10px 0;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica, Arial; }
form input[type="text"], form input[type="email"], form input[type="password"], form textarea, fieldset input[type="text"], fieldset input[type="email"], fieldset input[type="password"], fieldset textarea, .placester_listings_list_length input[type="text"], .placester_listings_list_length input[type="email"], .placester_listings_list_length input[type="password"], .placester_listings_list_length textarea {
  background-color: white;
  color: #999999; }

ul.chzn-results li {
  color: #777777 !important; }
  ul.chzn-results li.highlighted {
    background-color: #777777 !important;
    color: white !important; }
  ul.chzn-results li.group-result {
    color: #999999 !important; }

.chzn-single span {
  color: #777777; }

.widget {
  width: 290px;
  float: left;
  padding: 10px;
  margin-bottom: 15px; }
  .widget h3 {
    margin: 0;
    padding: 10px 0; }
  .widget ul {
    list-style-type: none; }
  .widget p {
    width: 100%;
    float: left; }
  .widget.pls-quick-search form .pls_search_form {
    float: left;
    width: 140px;
    margin-bottom: 10px; }
    .widget.pls-quick-search form .pls_search_form .chzn-container {
      width: 120px !important; }
    .widget.pls-quick-search form .pls_search_form .chzn-drop, .widget.pls-quick-search form .pls_search_form .chzn-results {
      width: 118px !important; }
  .widget.pls-agent img {
    margin: 0 10px 0 5px;
    float: left; }
  .widget.pls-agent p {
    width: 160px; }
    .widget.pls-agent p.fn, .widget.pls-agent p.email, .widget.pls-agent p.phone, .widget.pls-agent p.desc {
      margin: 0 0 5px 0; }
    .widget.pls-agent p.desc {
      line-height: 17px; }
  .widget.pls-agent a {
    word-wrap: break-word; }
  .widget.pls-recent-posts .recent-post-title {
    margin-bottom: 0; }
  .widget.pls-recent-posts .meta {
    margin: 0; }
  .widget.pls-recent-posts .excerpt {
    margin: 5px 0; }
  .widget.pls-recent-posts .read-more {
    margin-top: 0; }
  .widget.pls-listings .listing-item {
    margin-bottom: 20px; }
    .widget.pls-listings .listing-item .listing-item-address {
      margin: 5px 0; }
    .widget.pls-listings .listing-item .details {
      margin-bottom: 5px; }
  .widget.pls-map p.address {
    margin-top: 0; }
  .widget.widget_calendar table {
    margin: 0 auto; }
    .widget.widget_calendar table td {
      padding: 10px; }

body.single-property article h2 {
  margin-bottom: 0px; }
body.single-property article .listing_type {
  margin: 5px 20px 0 0;
  float: right; }
body.single-property article .basic-details ul {
  list-style-type: none;
  padding-left: 0; }
  body.single-property article .basic-details ul li {
    float: left;
    width: 135px;
    margin: 5px 20px 5px 0; }
body.single-property article .amenities-section ul {
  padding-left: 0;
  min-height: 50px;
  min-width: 600px;
  list-style-type: none; }
  body.single-property article .amenities-section ul li {
    padding: 10px 0;
    width: 180px;
    float: left;
    overflow: hidden; }
body.single-property article #slideshow ul.property-image-gallery {
  list-style-type: none;
  padding-left: 0; }
  body.single-property article #slideshow ul.property-image-gallery li {
    float: left;
    margin-right: 10px; }

#main_content article header h3 {
  margin-bottom: 0; }
#main_content article header .p5 {
  margin: 0; }

.comment-list {
  list-style: none;
  margin: 10px 0 20px 0;
  width: 95%;
  padding: 15px;
  float: left; }
  .comment-list p {
    clear: both; }
  .comment-list li {
    float: left;
    margin: 0;
    padding: 20px 0 0;
    position: relative;
    list-style-type: none;
    width: inherit; }
  .comment-list .avatar {
    padding: 0;
    float: left;
    top: 0;
    margin: 0 10px 10px 0; }
  .comment-list .comment .comment-meta .comment-edit-link, .comment-list .comment .comment-author .comment-edit-link {
    float: right;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 300;
    text-decoration: none;
    padding: 0 8px; }

#respond {
  width: 95%;
  float: left;
  clear: both; }
  #respond form {
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 15px; }
  #respond .logged-in-as {
    margin: 5px inherit;
    font-size: 12px; }
  #respond .comment-form-comment label {
    margin-right: 20px; }
  #respond .form-allowed-tags {
    display: none; }
  #respond .form-submit {
    width: 95%; }
    #respond .form-submit input {
      float: right; }

article.post nav {
  padding: 0;
  margin-bottom: 20px; }
