/*
/*Theme Name: Ventura Real Estate for Placester

/* v1.0 | 20080212

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
	background: transparent
	border: 0
	font-size: 100%
	margin: 0
	outline: 0
	padding: 0
	vertical-align: baseline

ol, ul
	list-style: none
	float: none
	clear: both

blockquote, q
	quotes: none

blockquote
	&:before, &:after
		content: ''
		content: none

q
	&:before, &:after
		content: ''
		content: none

/* remember to highlight inserts somehow!

ins
	text-decoration: none

del
	text-decoration: line-through

/* tables still need 'cellspacing="0"' in the markup

code
	display: inline
	width: auto
	float: none

table
	border-collapse: collapse
	border-spacing: 0

img
	max-width: 100%

/* @group Clearfix

.clearfix
	&:before
		content: "\0020"
		display: block
		height: 0
		overflow: hidden
	&:after
		content: "\0020"
		display: block
		height: 0
		overflow: hidden
		clear: both
	zoom: 1

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page

/* @end
/*
/*Name: HTML 5 Stylesheet
/*Date: July 2009
/*Description: Sample layout for HTML5 and CSS3 goodness borrowed from Smashing HTML5.
/*Version: 1.0
/*Author: Enrique RamÃ¯Â¿Â½rez
/*Autor URI: http://enrique-ramirez.com
/***** Global *****

/* Headings
h1
	font-size: 1.714em

/* 24px

h2
	font-size: 1.571em

/* 22px

h3
	font-size: 1.429em

/* 20px

h4
	font-size: 1.286em

/* 18px

h5
	font-size: 1.143em

/* 16px

h6
	font-size: 1em

/* 14px

/* override poor styling choice in Blueprint's all.css */
/* @todo revisit Blueprint's all.css */
h1, h2, h3, h4, h5, h6 
	float: none

/* Anchors

a
	outline: 0
	text-decoration: none
	img
		border: 0
		text-decoration: none

/* Paragraphs

p
	margin-bottom: 1.143em
	float: none

strong, b
	font-weight: bold

em, i
	font-style: italic

/* Lists

ul
	list-style: outside disc
	margin: 1em 0 1.5em 1.5em

ol
	list-style: outside decimal
	margin: 1em 0 1.5em 1.5em

dl
	margin: 0 0 1.5em 0

dt
	font-weight: bold

dd
	margin-left: 1.5em

/* Quotes

blockquote
	font-style: italic

/* Tables

table
	margin: .5em auto 1.5em auto
	width: 98%
	td, th
		color: #000 !important
		text-shadow: none !important

/* Thead

thead
	th
		padding: .5em .4em
		text-align: left

/* Tbody

tbody
	td, th
		padding: .5em .4em

/* Tfoot

input[type="submit"], .next-btn-active, .prev-btn-active
	cursor: pointer

/* HTML5 tags

header, footer, section, aside, nav, article, figure
	display: block
	padding: 0
	margin: 0

/* layout starts here

body
	font: normal 14px 'Lucida San Unicode', 'Lucida Grande', Arial, sans-serif
	
header
	width: 100%
	min-width: 970px !important
	background: #eee
	text-shadow: 1px 1px 1px #fff

#banner, #home-banner
	min-height: 50px
	background: url(../img/lvl2-bg.png) 0 0 repeat-x

#home-banner
	width: 100%
	min-width: 970px !important
	color: #fff
	
	form#pls-listings-search-form-home
		section
			float: left
			width: 145px
			height: 65px
			label
				text-shadow: 1px 1px 1px white
				color: #666
				display: block
				padding: 0
				font:
					size: 11pt
					weight: normal
			.chzn-container
				width: 100px !important
			.chzn-drop
				width: 98px !important
			.chzn-search input
				width: 63px !important
			.chzn-results
				width: 100%
		input.pls_search_button
			float: left
			background: url(../img/btn-big.png) top center no-repeat
			font: bold 1.4em 'Lucida Sans Unicode','Lucida Grande'
			width: 150px
			color: white
			height: 50px
			text-shadow: 1px 1px 1px #333
			padding: 0
			border: none

/* wrapper

.wrapper
	width: 970px
	height: auto
	margin: 0 auto

/* common class

.clr
	clear: both

.fleft
	float: left

.fright
	float: right

.alignleft
	float: left
	margin-right: 15px

.alignright
	float: right
	margin-left: 15px

.blue
	color: #287aac
	/*var

.no-margin
	margin: 0 !important

.no-border
	border: 0 !important

.bigtxt
	font-size: 1.143em

.lrpad10
	padding: 0 10px

.wp-caption

	max-width: 100%

	.wp-caption-text
		border-top: 1px #cdcdcd solid
		border-bottom: 1px solid #cdcdcd
		padding: .5em 0
		color: #666666

article
	img
		margin: 10px 0px
		border: 1px solid #DBDBDB
		padding: 5px

.sticky
	h2
		background: #e07b04
		padding: .5em
		margin-bottom: .5em

		a
			color: #fff

/*header style - logo

h1
	margin-bottom: 0
	a, a:visited
		color: #ee7d03
		text-decoration: none
		font:
			size: 22pt
			weight: 400
h2
	margin-top: 0px !important
	color: #666 !important
	//padding-bottom: 0px !important
	border-bottom: none !important
	margin-bottom: 0
	padding-top: 3px
	font:
		size: 1.571em
		weight: 400
	
.placester-logo
	float: left
	overflow: hidden
	line-height: 1
	padding-top: 28px
	max-width: 500px
	h1
		margin: 0
	h2
		font-size: 11pt
	#logo
		float: left
		margin-right: 10px
		min-height: 45px

/*header style - navigation
header
	.main-nav
		border: none
		float: left !important
		margin: 0 0 0 -25px
		padding: 20px 0 20px 0
		clear: left
		width: auto
		a
			text-shadow: none
			color: #666
			&:hover
				color: #E07B04
		ul
			padding: 0
			margin: 0
			list-style-type: none
			font-size: 1em
			// background: none
			li
				float: left
				padding: 0 15px
				&:hover
					background-color: #666
					a, a:hover
						background-color: #666
						float: none
				ul.sub-menu, ul.children
					li
						// background: none
						padding: 0
						&:hover
						a
							color: #333 !important
							background-color: #666
							&:hover
								background-color: #333
								color: #eee !important

	section.phone, section.email
		float: right
		margin: 35px 0 0 0
		color: #666
		ul
			padding: 0
			margin: 0
			list-style-type: none
			font-size: 1em
			li
				float: left
				a
					color: #666
					&:hover
						color: #e07b04
				&.phone-bg-left
					background: url(../img/phone-bg-l.png) no-repeat
					width: 15px
					height: 32px
				&.phone-bg-mid
					background: url(../img/phone-bg-m.png) repeat-x
					min-width: 50px
					height: 26px
					padding: 6px 0 0 0
				&.phone-bg-right
					background: url(../img/phone-bg-r.png) no-repeat
					width: 15px
					height: 32px
	section.phone
		margin-right: 10px !important
	#nav-login
		float: right
		margin-top: 15px
		padding: 20px 0
		clear: right
		a
			font:
				size: 15px
			margin-left: 25px
			line-height: 25px
			color: #666
			&:hover
				color: #e07b04

/* 3rd section

section
	&[class='getstarted'], &[class='aboutus']
		width: 280px
		padding: 0 10px
		float: left
	&[class='gt-thumb-size']
		width: 122px
		margin: 0 15px 0 0
		float: left

div
	&[class='thumbs']
		padding: 5px 5px
		background-color: #fff
		border: 1px solid #e0e0e0
	&[class='thumbs-shadow']
		margin: 0 auto
		background: url(../img/thumbs-shadow.png) no-repeat
		width: 120px
		height: 9px
	&[class='thumbs-shadow2']
		margin: 0 auto
		background: url(../img/thumbs-shadow-sml.png) no-repeat
		width: 100px
		height: 9px

section[class='gs-txt']
	float: left
	padding: 5px 0 0 0
	width: 140px

.gs-text
	width: 140px

span[class='normaltxt']
	font-size: .8em !important

section
	&[class='learnwhy']
		width: 630px
		padding: 0 10px
		float: right
	&[class='ly-thumb-size']
		width: 202px
		margin: 0 20px 0 0
		float: left
	&[class='ly-txt']
		width: 405px
		float: left
		p
			font-size: .9em

a[class='learnmore-btn-big']
	color: #fff
	display: block
	width: 196px
	height: 38px
	background: url(../img/btn-big2.png) no-repeat
	font-size: 1.43em
	text-shadow: 1px 1px 1px #666
	padding: 13px 0 0
	text-align: center
	float: right


/* slider section

.hr
	border: 0
	padding: 0
	margin: 0 0 15px 0
	height: 2px
	background: url(../img/hr-bg.png) 0 0 repeat-x

/* Text Alignment

.aR
	text-align: right

.aL
	text-align: left

.aC
	text-align: center

/* buttons

input
	&[class='btn-big']
		background: url(../img/btn-big.png) top center no-repeat
		padding: 0
		margin: 0
		border: 0
		color: #fff
		width: 150px
		height: 51px
		font: bold 1.4em 'Lucida Sans Unicode','Lucida Grande'
		text-shadow: 1px 1px 1px #333
	&[class='btn-biggest']
		background: url(../img/btn-biggest.png) top center no-repeat
		padding: 0
		margin: 0
		border: 0
		color: #fff
		width: 130px
		height: 63px
		font: bold 1.4em 'Lucida Sans Unicode','Lucida Grande'
		text-shadow: 1px 1px 1px #333
	&[class='btn-sidesearch']
		padding: 0
		margin: 0
		border: 0
		color: #fff
		width: 148px
		height: 32px
		background: url(../img/btn-sml2.png) no-repeat
		font: 0.9em 'Lucida Sans Unicode','Lucida Grande'
		text-shadow: 1px 1px 1px #656565

/* slideshow

div
	&[id='slideshow-glow']
		// background: url(../img/slideshow-bg.png) top center no-repeat
		min-height: 19px
		padding: 31px 0 0 0
		&.static
			// background: url(../img/slideshow-bg.png) top center no-repeat
			min-height: 19px
			padding: 31px 0
	&[id='slideshow']
		background-color: #fff
		padding: 5px 5px 0 5px
	&[id='ss-shadow']
		background: url(../img/slideshow-shadow.png) top center no-repeat
		height: 57px
		position: relative
	&[id='slides']
		width: 620px
		padding: 5px
		.timer
			display: none
	&[id='form']
		width: 320px
		padding: 5px
		color: #666666
		font-size: 0.9em
		text-shadow: 1px 1px 1px #fff
		form
			background-color: #f2f2f2
			height: 258px
			padding: 12px
		h2
			font: bold 1.6em 'Lucida Sans Unicode', 'Lucida Grande'
			margin: 0
			background-color: #f2f2f2
			padding: 10px 0 6px 10px
	&[id='slides'], &[id='form']
		float: left

/* mouseover state

.slidetabs a
	&:hover, &.current
		background-position: 0 -15px

/* active state (current page state)

/* slideshow form fields

div
	&[class="sort-by"]
		margin-top: 15px
		.selLabel2
			width: 60px
	&[id='gray-box-btn']
		float: right
		width: 22%
		text-align: right
	&[id='gray-box-frmfields']
		float: left
		width: 78%

/* search page form fields

/* search btn inside the gray box used in search page

/* form fields container inside the gray box used in search page





/* LISTINGS / SEARCH

body.page-template-page-template-listings-php, body.page-template-page-template-client-php
	.left-content
		width: 640px
		float: left
		margin-top: 20px
	.gray-box, .gray-box2, .gray-box3
		background: url(../img/gray-bg.png)
		border: 2px solid #fff
	.gray-box
		form
			label
				margin-top: 5px
				font-weight: normal
				width: auto
			width: 620px
			.selLabel
				float: left
				width: 100px
				text-align: left
				padding: 4px 4px 0 0
			.selLabel2
				float: left
				width: 140px
				text-align: left
				padding: 4px 4px 0 0
			.chzn-container
				width: 90px !important
				margin-top: 5px
			.chzn-results
				width: 100%
			.chzn-drop
				width: 88px !important
			.chzn-search input
				width: 53px !important

	h3
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
		font-weight: bold
		font-size: 20px
		margin: 0 0 0.4em 0
		color: #111111
			
	.list-thumb-size
		margin: 0 20px 0 0
		float: left
		.mls
			font-size: 12px
	.single-item
		padding: 20px 0 10px
		border-bottom: 1px solid #E6E6E6
		float: left
		#pl_add_remove_lead_favorites
			float: left
			margin: 15px 0 10px 0
			width: 200px
			a, a:visited
				color: #777
				font:
					size: 10pt
				&:hover
					color: #ee7d03
				&:active
					color: #CF6C02
					
	.list-thumb-txt
		padding: 5px 0 0 0
	.list-thumb-details
		padding: 10px 0 0 0
	a.feat-title, a.feat-title:visited
		color: #287aac
		&:hover
			color: #ee7d03
	a.seemore-btn-sml
		color: #fff
		display: block
		width: 108px
		height: 25px
		background: url(../img/btn-sml.png) no-repeat
		font-size: .9em
		text-shadow: 1px 1px 1px #666
		padding: 5px 0
		text-align: center
		float: right

	.tbl-cell-search
		float: left
		margin: 0
	.tbl-cell-search2
		float: left
		width: 220px
		margin: 0
	.tbl-cell-search3
		float: left
		width: 250px
		margin: 0 0 10px 0
	.tbl-cell-search4
		label
			text-align: right !important
			margin-right: 10px



h1[class='page-title']
	background: url(../img/gray-bg.png)
	border: 2px solid #fff

section
	&[class='gray-box']
		width: 620px
		padding: 10px
		margin: 0 0 25px 0
	&[class='gray-box2']
		width: 600px
		padding: 20px
		margin: 0 0 10px 0

h1[class='page-title']
	width: 600px
	padding: 20px
	margin: 0 0 10px 0

section
	&[class='gray-box3']
		width: 282px
		padding: 10px 9px
	&[class='gmap-box']
		width: 630px
		background-color: #fff
		padding: 5px 5px 0
		border: 1px solid #eee
		margin: 0 0 25px 0
	&[class='content-list']
		padding: 10px

ul[class='item-list']
	margin: 0
	padding: 0
	list-style-type: none
	li
		border-bottom: 1px solid
		border-color: #e6e6e6
		float: left

#placester_listings_list > div > li
	width: 100%


div
	&[class="entry-utility"] a, &[class="navigation"] a
		font-size: 12px
		color: #287AAC
	&[id="nav-below"]
		float: left
		width: 640px
	&[class="nav-next"]
		float: right



ul[class='item-details']
	margin: 0
	padding: 0
	list-style-type: none
	width: 340px
	clear: none
	float: left
	font-size: .9em
	line-height: 1.3
	li
		float: left
		border: 0 !important
		margin-right: 30px

li
	&[class='item-desc1']
		width: 75px
		text-align: right
	&[class='item-desc2']
		width: 12px
		text-align: center
	&[class='item-desc3']
		width: 30px
		text-align: left
	&[class='item-desc4']
		width: 90px
		text-align: left

section[class='pagination']
	padding: 20px 0

/* prev next botton

a
	&.prev-btn-passive, &.prev-btn-active, &.Prev_button.next-btn-active, &.First_button.next-btn-active
		color: #fff
		display: block
		width: 53px
		height: 25px
		font: bold .9em 'lucida sans'
		text-shadow: 1px 1px 1px #666
		padding: 10px 0 0 35px
	&.prev-btn-passive
		background: url(../img/prev-btn.png) 0 0
	&.prev-btn-active
		background: url(../img/prev-btn.png) 0 35px
	&.next-btn-passive, &.next-btn-active, &.Next_button.prev-btn-passive
		color: #fff
		display: block
		width: 68px
		height: 25px
		font: bold .9em 'lucida sans'
		text-shadow: 1px 1px 1px #666
		padding: 10px 0 0 20px
	&.Prev_button.next-btn-active, &.First_button.next-btn-active
		background: url(../img/prev-btn.png) 0 35px
	&.Next_button.next-btn-active, &.Last_button.next-btn-active
		background: url(../img/next-btn.png) 0 35px
	&.Next_button.prev-btn-passive
		background: url(../img/next-btn.png) 0 0px

.Last_button, .Next_button
	float: right

.Prev_button, .First_button
	float: left

/* SIDEBAR

aside
	width: 300px
	float: right !important
	margin-top: 20px !important
	.widget
		font-size: 16px
		margin-bottom: 20px
		float: left
		width: 280px
		clear: both
	.widget_search
		form
			div
				margin: 20px 0 0 0
				label
					display: none
				input
					font-size: 16px
				input[type="submit"]
					margin-left: 5px
	.widget_calendar
		table
			td
				padding: 5px
				font-size: .8em
				text-align: center
	.widget-pls-quick-search
		float: left
		width: 300px
		height: 320px
		.search-node
			width: 150px
			float: left
		label
			text-shadow: 1px 1px 1px white
			color: #666
			display: block
			float: left
			width: 100px
			padding: 2px 0
			font:
				size: 11pt
		.chzn-container
			width: 100px !important
		.chzn-drop
			width: 98px !important
		.chzn-search input
			width: 63px !important
		input#search
			color: #fff
			display: block
			width: 108px
			height: 36px
			background: url(../img/btn-sml.png) no-repeat
			font-size: 1.3em
			text-shadow: 1px 1px 1px #666
			padding: 5px 0
			text-align: center
			float: right
			border: none
			margin-top: 20px
			margin-right: 125px
	.widget-pls-recent-posts
		float: left
		width: 300px
		margin-bottom: 30px
		a.title, a.title:visited
			display: block
			margin-top: 10px
			color: #287AAC
			font:
				size: 11pt
				weight: 600
		a.title:hover
			color: #666
		.meta
			margin: 1px 0
		
	.pls-listing-get_listings_widget
		.compliance-wrapper
			margin-top: 0
			p
				float: none
		.feat-listing2
			padding: 10px 0
			margin: 20px 0
			border-bottom: 1px solid #ddd
			.feat-title
				font:
					size: 13pt
	.widget-pls-agent
		margin-top: 20px
		.gt-thumb-size
			margin-right: 10px
		span, span a
			font-size: 12pt
			margin: -5px 0
			padding: 0
			display: block

aside
	.widget
		ul
			padding-left: 10px

section[class='side-ctnr']
	padding: 0 0 20px 0
	h3
		padding: 0 10px 0
	ul
		margin: 0
		padding: 0
		list-style-type: none
		li
			margin: 15px 0 0 0

div
	&[class='byline']
		font: normal 0.7em 'Lucida Sans Unicode', 'Lucida Grande', 'Arial'
		color: #ccc
	&[class='details-thumb']
		width: 630px
		margin: 26px 0

/* details page styles

section
	&[class='details-thumb-size'], &[class='details-thumb-size2']
		width: 124px
		margin-right: 9px
		float: left
	&[class='details-thumb-size']
		margin-bottom: 20px
	&[class='right-details']
		width: 356px
		float: left
	&[class='left-details']
		float: right
		width: 257px
		#property-details-main-image
			margin: 15px 0
			float: left
		img
			padding: 0
			margin: 0
	&[class='details-info']
		margin: 17px 0 0 0
		float: left
	&[class='desc-info']
		margin: 25px 0 0 0
	&[class='desc-info2']
		margin: 70px 0 0 0
	&[class='desc-info'] p, &[class='desc-info2'] p
		font-size: .9em
		line-height: 1.3

ul
	&[class='basic-info']
		margin: 0
		padding: 0
		width: 630px
		list-style-type: none
		font-size: .9em
	&[class='amenities-info']
		margin: 0
		padding: 0
		list-style-type: none
		margin: 0 0 20px 0
		font-size: .9em
		li
			float: left
			width: 105px

/* index page styles

section
	&[class='item-title'] a
		color: #666
		font: bold 1em 'lucida sans'
		margin-bottom: .8em
		display: block
		&:hover
			color: #C0D4E1
	&[class='item-desc'] p
		font-size: .9em
		margin-bottom: .8em
		line-height: 1.2
	&[class='item-byline']
		font-size: .8em
		margin-bottom: .6em

div.entry-meta
	font-size: 1em
	margin-bottom: .6em
	clear: left

section
	&[class='item-byline'] a, &[class='recent-post'] ul a, &[class='post-byline'] a, &[class='about-txt'] a
		color: #287aac
		/*var

div.entry-meta a
	color: #287aac
	/*var

section
	&[class='item-byline'] a:hover, &[class='recent-post'] ul a:hover, &[class='post-byline'] a:hover, &[class='about-txt'] a:hover
		color: #ee7d03
		/*var
	&[class='recent-post']
		padding: 0 10px
		ul
			margin: 0
			padding: 0
			list-style-type: none
			li
				height: 18px
				padding: 7px
				border-bottom: 1px solid #dee9f0
				margin: 0
				&.last
					border: none
	&[class='post-byline']
		font: .9em 'lucida sans'
		margin: 7px 0 10px
	&[class='post-content']
		margin: 20px 0
		p
			font-size: .9em
			line-height: 1.3
	&[class='pic-holder']
		float: right
		margin: 20px 0 20px 20px

/* sidebar recent post style

/* single page styles

/* share container styles

.share1
	float: left
	position: relative
	margin: 0 15px 15px 0
	padding: 6px
	border: 1px solid #cdcdcd
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	background: -webkit-gradient(linear, 0 10%, 0 100%, from(white), to(white), color-stop(0.6, #ebeaea))
	background: -moz-linear-gradient(0% 100% 90deg, white, #ebeaea, white 100%)
	background: linear-gradient(0% 100% 90deg, white, #ebeaea, white 100%)
	-pie-background: linear-gradient(0% 100% 90deg, white, #ebeaea, white 100%)
	behavior: url(pie/PIE.htc)
	ul
		list-style: none
		margin: 0
		li
			margin: 0 !important
			padding: 2px

.share2
	float: left
	position: relative
	padding: 6px
	border: 1px solid #cdcdcd
	background: #FFF
	-webkit-border-radius: 10px
	-moz-border-radius: 10px
	border-radius: 10px
	background: -webkit-gradient(linear, 0 10%, 100% 0, from(white), to(white), color-stop(0.6, #ebeaea))
	background: -moz-linear-gradient(0% 100% 0deg, white, #ebeaea, white 100%)
	background: linear-gradient(0% 100% 0deg, white, #ebeaea, white 100%)
	-pie-background: linear-gradient(0% 100% 0deg, white, #ebeaea, white 100%)
	behavior: url(pie/PIE.htc)
	ul
		list-style-type: none
		padding: 0
		li
			float: left
			padding: 1px 6px 0
			margin: 0 !important

/* widget page styles

section
	&[class='widgets']
		width: 300px
		margin: 0 auto
	&[class='common-side-cont']
		padding: 0 10px

.search-input
	background: url("../img/search-area.png") no-repeat !important
	width: 155px !important
	height: 27px !important
	border: none !important
	padding: 5px 20px 0 30px !important

/* listing map widget

.common-side-cont #placester_listings_map_map
	width: 280px
	height: 280px

/* fixes

.search-ctnr
	width: 270px
	height: 32px

span
	&.s1
		float: left
		width: 155px
	&.s2
		float: right
		width: 88px


section[id='sbar-search']
	padding: 0 5px
	margin: 0
	ul li
		height: auto
		padding: 0
		margin: 0
		border: 0

div[class='tbl-cell-search3'] span[class='dash']
	padding: 8px 0 0 0
	margin: 0 2px 0 6px
	font-weight: bold
	float: left
	
	
#content
	margin: 0 !important

section[class="single-item"]
	color: #333 !important
	font-size: 16px
	line-height: 24px

aside[class="sidebar"] li
	list-style: none
	border-bottom: 1px solid
	border-color: #E6E6E6


/* HOME - 3 FEATURED LISTINGS
#home-listings
	width: 100%
	min-width: 970px !important
	color: #666
	background: #eeeeee
	text-shadow: 1px 1px 1px #fff
	padding: 12px 0 10px 0
	.home-listings-featured
		padding: 0 40px 0 0
		width: 280px
		float: left
		a.feat-title, a.feat-title:visited
			color: #287aac
			font-weight: bold
			&:hover
				color: #ee7d03
		.feat-thumb-size
			width: 132px
			margin: 0 15px 0 0
			float: left
			.mls
				font-size: 12px
				text-align: center
				margin-top: -3px
		.home-listings-featured-info
			margin-top: 5px
			img
				padding: 0
			ul
				margin: 0
				padding: 0
				clear: none
				li
					list-style-type: none
			a.learnmore-btn-sml
				color: #fff
				display: block
				width: 108px
				height: 25px
				background: url(../img/btn-sml.png) no-repeat
				font-size: .9em
				text-shadow: 1px 1px 1px #666
				padding: 9px 0 0
				text-align: center
				float: left
			.compliance-wrapper
				margin: 0

/* BLOG
// body.category, body.archive, body.page-template-allure-blog-php, body.page-template-page-template-blog-php, body.blog
//	 h3
//		 margin-top: 15px
//		 margin-bottom: 0
//		 color: #666
//		 border-bottom: 1px solid #DBDBDB
article.post-password-required
	input
		float: none
#blog-post-feed
	width: 620px
	float: left
	article.post
		width: 620px
		float: left
		padding-bottom: 15px
		margin-bottom: 15px
		p
			margin: 20px 0 !important
		h3
			border-bottom: none
		.more-link
			font-size: 15px
			color: #2793E5
	#posts-nav
		width: 620px
		float: left

body.single-post
	article.post
		width: 620px
		float: left
		margin-top: 15px

		h3
			border-bottom: none
		nav
			width: 600px
			margin: 20px 0
			
img.wp-smiley
	padding: 0
	margin: 0 4px
	border: 0

/* ABOUT PAGE TEMPLATE

#about-page
	article
		width: 620px
		float: left
		margin-top: 15px


/* SINGLE PROPERTY

body.single-property
	article.property-details
		h3
			font-size: 20px
			font-weight: bold
			width: auto
			float: none
		h6
			font-weight: bold
		ul.basic-info
			li
				display: inline
				float: left
				margin: 10px 20px 0 0
				font:
					size: 11pt
		footer
			display: none
		#pl_add_remove_lead_favorites
			a, a:visited
				color: white
				font-size: 16px
				background: #EE7D03
				border: 1px solid #A25402
				padding: 6px 14px 6px 14px
				font-weight: bold
				margin: 0 0 20px 0px
				text-shadow: 1px 1px black
				cursor: pointer
				float: left
				border-radius: 5px
				



/* FOOTER

footer
	width: 100%
	min-width: 970px !important
	color: #fff
	background: url(../img/lvl5-bg.png)
	padding: 35px 0 0 0

	a
		color: #e07b04
		&:hover
			color: #f7ae57
	#footer-about, #footer-contact, #footer-nav
		float: left
		width: 300px
		margin: 0 20px 20px 0
	#footer-about
		p.description
			color: #999
			font:
				size: 12pt
	#footer-contact
		img
			float: left
			padding-right: 15px
		p.info
			margin: 0
			padding: 0 0 10px 0
			min-width: 100px
			.phone
				font:
					size: 12pt
	#footer-nav
		margin-right: 0px
		nav
			margin: 0
			padding: 0
			border: none
		ul
			margin: 0
			padding: 0
			list-style-type: none
			li
				padding: 5px 0 0 0
				width: 130px
				a
					color: #e07b04
					background: none !important
					&:hover
						background: none
						color: #f7ae57

	.links-header
		font-size: 1.429em
		padding-bottom: 20px
		margin: 0
		width: 300px
	.copyright
		color: #999
		font-size: .7em
		float: left

	#footer-base
		background: url(../img/lvl6-bg.png)
		padding: 15px 0
		text-align: center
		a, a:visited
			color: #e07b04
			&:hover
				color: #f7ae57
		.compliance-wrapper
			p
				color: #fff
				text-align: left
				
#placester_listings_listz
	.sort_wrapper
		float: left !important
		margin-top: 0
		label
			margin: 6px 10px 0 0 !important
			width: auto
			font-weight: normal
		.sort_item
			width: auto
			margin-left: 10px
			float: right

.dataTables_length
	label
		float: right !important
.dataTables_info
	text-align: center
.dataTables_paginate
	text-align: center
	margin: 10px 0 20px 0
	a
		&.first
			float: left
		&.last
			float: right
		&.previous
			padding-right: 15px
		&.next
			padding-left: 15px
	span
		a
			padding: 0 15px
			&.paginate_active
				font:
					weight: 600
	
body.page-template-default
	article.page
		float: left
		width: 600px
		header
			background: none
			h2
				margin: 20px 0
		footer
			background: none !important
			min-width: auto



#fancybox-content
	background: #EEE
	h2
		margin: 10px 10px 10px 10px
		font:
			size: 14pt
			weight: 600
	label
		width: 140px
		float: left
		padding: 11px 15px 0 10px
		font-size: 15px
		cursor: default
		clear: both
		color: black
	input[type="text"], input[type="password"]
		float: left
		width: 200px
		height: 26px
		border: 1px solid #ccc
		margin: 4px 0px 0 10px
		background: #fafafa
	input[type="submit"]
		color: white
		font-size: 16px
		background: #EE7D03
		border: 1px solid #A25402
		padding: 6px 14px 6px 14px
		font-weight: bold
		margin: 10px 30px 15px 0px
		text-shadow: 1px 1px black
		cursor: pointer
		float: right
		border-radius: 5px
	.pl_login_alert
		padding: 15px 10px 0 10px
		color: #CD0A0A
	#form_message_box
		ul
			list-style-type: none
			li
				color: #CD0A0A

	#pl_lead_register_form
		input[type="text"], input[type="password"]
			width: 243px
		input[type="submit"]
			margin: 15px 40px 10px 0
aside
	.widget
		#map-widget
			margin-top: 15px
		#client-details
			ul
				list-style-type: none
				padding-left: 0px
				li
					line-height: 20px
					font:
						size: 10pt
						weight: 600
					span
						padding-right: 5px
						font:
							weight: 400

// Client Profile > edit profile
.ui-dialog
	width: 610px !important
	.ui-widget-header
		border: none
		background: #eee
		-webkit-border-bottom-right-radius: 0
		-moz-border-bottom-right-radius: 0
		-khtml-border-bottom-right-radius: 0
		-border-border-bottom-right-radius: 0
		-webkit-border-bottom-left-radius: 0
		-moz-border-bottom-left-radius: 0
		-khtml-border-bottom-left-radius: 0
		-border-border-bottom-left-radius: 0
		h2
			margin: 5px 0
			font:
				size: 14pt
				weight: 600

	#edit_profile
		background: #eee
		#edit_profile_form
			div
				width: 280px
				float: left
				margin-top: 5px
				margin-bottom: 5px
				&:nth-child(odd)
					margin-right: 10px
			label
				width: 90px
				float: left
				font:
					weight: 600
			input[type="text"]
				width: 175px
				border: 1px solid #666
				color: #444
				background: white
	.ui-dialog-buttonpane
		border: none
		padding-right: 40px !important
		background: #eee
		-webkit-border-top-right-radius: 0
		-moz-border-top-right-radius: 0
		-khtml-border-top-right-radius: 0
		-border-border-top-right-radius: 0
		-webkit-border-top-left-radius: 0
		-moz-border-top-left-radius: 0
		-khtml-border-top-left-radius: 0
		-border-border-top-left-radius: 0
		margin-top: 0 !important
		button
			color: white
			font-size: 16px
			background: #EE7D03
			border: 1px solid #A25402
			padding: 6px 14px 6px 14px
			font-weight: bold
			margin: 10px 30px 15px 0px
			text-shadow: 1px 1px black
			cursor: pointer
			float: right
			border-radius: 5px


// #pls_listings_search_results
//	 margin: 13px 13px 0 0
//	 float: right

// Widget > RSS
.widget_rss
	h3
		a
			color: black
			text-decoration: none
			&:hover, &:onclick
				color: #06F

	ul
		padding: 0
		list-style-type: none
		a.rsswidget, a.rsswidget:visited
			color: #06F
			text-decoration: none
			&:hover, &:onclick
				color: black

// Comment > response
#respond
	margin-bottom: 20px


body.page-template-page-template-client-php
	#content
		min-width: 610px
	.wrapper
		h3
			padding-top: 20px
	.compliance-wrapper
		width: 610px
		
// Widget > Contact Form
.placester_contact
	margin-bottom: 20px


.compliance-wrapper
	margin: 10px 0 0 0
	img
		float: left
		margin: 0 5px 3px 0
		padding: 0
	p
		margin-top: 0
		line-height: 11px
		float: none
		font:
			size: 10px
		.disclaimer, .property-details-compliance
			float: none

nav
	border: none !important
	padding: 10px 0 !important
	.prev-wrapper
		float: left
		text-align: inherit !important
		padding: 0px !important
		width: 300px
	.prev
		float: left
		a
			padding: 0 0 0 10px !important
			float: none !important
			text-align: left
			&:hover
				color: #1982D1
	.next-wrapper 
		float: right
		text-align: inherit !important
		padding: 0px !important
		width: 300px
	.next
		float: right
		a
			padding: 0 10px 0 0 !important
			float: left !important
			width: 280px
			text-align: right
			&:hover
				color: #1982D1
	div
		float: left
		a
			float: left
			border-radius: 0px
			-moz-border-radius: 0px
			-webkit-border-radius: 0px
			background-color: inherit !important
			padding: 0px 
			color: #5E5E5E


.page-title
	font-size: 25px
	padding-bottom: 5px
	margin-top: 25px

#placester_fav_list
	width: 620px

aside
	.placester_contact
		.success
			text-align: left

@import default-bp-styles

// ###