.rqw-form, .rqw-form * {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	outline: none;
	background: #fff;
	background-color: #fff;
}

#sidebar .widget .rqw-form ul,
#sidebar .widget .rqw-form li {
	background-color: #eaf0f1;
	border: none;
}

.rqw-form {
	border: 3px solid #A2A2A2;
	padding: 9px;
	background-color: #eaf0f1;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.rqw-form form, .rqw-form ul {
	padding: 0px !important;
	margin: 0px !important;
	background-color: #eaf0f1;
}

.rqw-form .rqw-header{
	font-size: 27px;
	background-color: #eaf0f1;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.rqw-form .rqw-subheader{
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 20px;
}

.rqw-form ul, .rqw-form li{
	margin: 0;
	list-style-type: none;
	overflow: hidden;
	zoom: 1;
}

.rqw-form li{
	padding: 0;
}

.rqw-form label{
	display: block;
	background-color: #eaf0f1;
	font-size:  13px;
	padding-top: 0px;
	padding-right: 0px;
}

.rqw-form .fieldbox{
	display: block;
	width: 100%;
	position: relative;
}

.rqw-form input, .rqw-form select{
	display: block;
	width: 100%;
	position: relative;
}

.rqw-form .rqw_submit{
	background: #acb4cb;
	color: #fff;
	cursor: pointer;
	margin-top: 5px;
	padding: 2px 5px;
	margin-bottom: 0px;
	border: 0px;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.rqw-form span.req{
	color: #f00;
	font-weight: bold;
	background-color: #eaf0f1;
}

.rqw-form .loader{
	padding: 0;
}

.rqw-form .error_message{
	display: block;
	background: #FBE3E4 url('http://ratequotewidget.com/rqw/error.gif') no-repeat 10px center;
	padding: 3px 10px 3px 30px;
	color: #8a1f11;
	border: 1px solid #FBC2C4;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
}

.rqw-form .success_message{
	display: block;
	background: palegreen url('http://ratequotewidget.com/rqw/success.gif') no-repeat 10px center;
	padding: 3px 3px 3px 30px;
	border: 1px solid green;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
}

.rqw-form .show_on_success , .rqw-form .show_on_error {
	display: none;
}
http://vamortgagereports.com/wp-content/plugins/mortgage-loan-calculator/widget-form.css?ver=3.5.2
#MLCalcForm *, #MLCalcForm LABEL, #MLCalcForm INPUT, #MLCalcForm SELECT, #MLCalcForm OPTION, #MLCalcForm TD { font-family: Tahoma, sans-serif; font-size: 12px; color: #000000; font-weight: normal; line-height: normal; }
#MLCalcClose  { display: none; color: #F5F5F5; font-size: 18px; font-weight: bold; font-family: Arial; cursor: pointer; position: absolute; background: #D5D5D5; border: 1px solid #D5D5D5; z-index: 10002; text-align: center; padding-top: 1px; }
#MLCalcShader { background: #000000; display: none; position: absolute; z-index: 10000; margin: 0; padding: 0; }
#MLCalcHolder { background: transparent; display: none; position: absolute; z-index: 10001; margin: 0; padding: 0; background: url(images/ajax-loader.gif); background-repeat: no-repeat; background-position: center; text-align:center }

#MLCalcForm .nobg, #MLCalcForm TABLE { background: none; }
#MLCalcForm FORM, #MLCalcForm TD, #MLCalcForm DIV, #MLCalcForm IMG  { padding: 0; margin: 0; border: 0; background: transparent; }
#MLCalcForm TABLE { border-collapse: collapse; margin: 0; width: auto; height: auto; border: 0; }
#MLCalcForm SELECT { width: auto; background: #FFFFFF; font-family: Tahoma, sans-serif; font-size: 12px; }
#MLCalcForm INPUT { padding: 1px; margin: auto; background: #FFFFFF; width: auto; height: auto; font-family: Tahoma, sans-serif; font-size: 12px; }
#MLCalcForm INPUT.sbmButton { background: #E5E5E5; border: 1px solid #D5D5D5; margin: 0; padding: 2px; padding-left: 10px; padding-right: 10px; font-weight: bold; }

#MLCalcForm #downPaymentValue { color: #BBBBBB; }
#MLCalcForm .disabled { color: #808080; }
#MLCalcForm .formPlaceHolder, #MLCalcForm #formPlaceHolder { background-color: #F5F5F5; text-align: center; }
#MLCalcForm .formFields TD { padding: 5px }
#MLCalcForm LABEL { white-space: nowrap; text-align: right; }
#MLCalcForm #mlcalcCopyright { text-align: right; padding-right: 10px; }
#MLCalcForm .right { text-align: right; }
#MLCalcForm .center { text-align: center; }
#MLCalcForm IMG { max-width: none; width: auto; border: 0; background: none; box-shadow: none; }
#MLCalcForm .zeroHeight { line-height: 0; height: auto; }
#mlcalcWidgetHolder .secondaryLink { display: none; }
#MLCalcForm .mlcalcCopyright { padding-right: 10px; text-align: right; }
#MLCalcForm .mlcalcCopyright, #MLCalcForm .mlcalcCopyright A { font-size: 9px; color: #EAEAEA; cursor: default; text-decoration: none; }
#MLCalcForm .ratesLink { font-size: 10px; color: #005CD4; border-bottom: 1px dashed #005CD4; cursor: pointer; }