div.connections-list { clear: both; }
div.connections-list a.cn-index-head { float: left; }

ul#cn-pages { float: right; list-style-type: none; padding: 0; margin: 0; }
ul#cn-pages li {
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #FFFFFF;
	border: 1px solid #D3D3D3;
	float: left;
	font-weight: bolder;
	list-style-type: none;
	margin: 0 3px 6px 0;
	padding: 1px 3px;
	text-decoration: none;
}

span#cn-select-label { display:block; font-size: 14px; margin: 10px 0 6px; text-align: left; }
form#cn-cat-select { margin: 0 0 10px; text-align: left; }
form#cn-cat-select select#cn-category-select { width: auto; }

div.cn-entry {
	-moz-border-radius:4px;
	-moz-box-shadow: 4px 4px 3px #CCC;
	-webkit-box-shadow: 4px 4px 5px #CCC;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#CCC, offX=4, offY=4, positive=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.dropShadow(color=#CCC, offX=4, offY=4, positive=1)";
	background-color: #9D9D9D;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F1F1), to(#E3E3E3));
	background: -moz-linear-gradient(-90deg, #F1F1F1, #E3E3E3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#E3E3E3');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1', endColorstr='#E3E3E3')";
	border:1px solid #D3D3D3;
	margin:10px 0px;
	padding: 12px;
	position: relative;
	width: 580px;
}

div.cn-entry { font-weight: bolder; }
div.cn-entry table { border: none !important; margin: 0 !important; width: 100%; }
div.cn-entry table tr td { border: none !important; margin: 0 !important; padding: 0 !important; }
div.cn-entry table, div.cn-entry th, div.cn-entry td { vertical-align: top; }
div.cn-entry table p { margin: 0 0 4px; }
div.cn-entry span.cn-label { font-weight: bold; }
div.cn-entry span.fn { display: block; font-size: larger; font-variant: small-caps; font-weight: bold; }

div.cn-entry div.phone-numbers { margin-bottom: 10px; }
div.cn-entry div.bio { margin: 0; }
div.cn-entry div.note { margin: 0; }
div.cn-entry .vevent abbr{border:0}
div.cn-entry ul li { list-style-type: none; margin: 0; padding: 0; }
div.cn-entry ul.cn-phone-number-block { margin: 0; padding: 0; }
div.cn-entry ul.cn-website-block { margin: 0 0 8px; padding: 0; }
div.cn-entry img {
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFFFFF;
	border: 1px solid #E3E3E3;
	margin: 0 0 5px !important;
	padding:5px !important;
}
div.cn-entry span.cn-return-to-top img { margin: 0 0 -6px !important; }
div.entry .cn-notes h4 { font-size: larger; font-weight: bold; margin: 10px 0 6px; }
div.entry .cn-bio h4 { font-size: larger; font-weight: bold; margin: 10px 0 6px; }