#icon-blogtemplates {
	background: transparent url( '../images/icon32.png' ) no-repeat;
}

#toplevel_page_blog_templates_main .wp-menu-image {
	background: transparent url( '../images/icons.png' ) no-repeat 0px -27px;
}

#toplevel_page_blog_templates_main.wp-has-current-submenu .wp-menu-image,
#toplevel_page_blog_templates_main:hover .wp-menu-image {
	background: transparent url( '../images/icons.png' ) no-repeat 0px -0px;
}


/* 69344-1410453905 */