.ui-widget {
	display: inline-block;
}

#nbtpoststuff {
	padding-top: 10px;
}

#nbtpoststuff #post-body.columns-2 {
	margin-right: 300px;
}
#nbtpoststuff #post-body {
padding: 0;
}

.nbt-poststuff {
	padding-top:10px;
}
.postbox ul {
	margin-left:20px;
}


/* 69344-1410453905 */