@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?xrnzzx');
	src:url('fonts/icomoon.eot?#iefixxrnzzx') format('embedded-opentype'),
		url('fonts/icomoon.woff?xrnzzx') format('woff'),
		url('fonts/icomoon.ttf?xrnzzx') format('truetype'),
		url('fonts/icomoon.svg?xrnzzx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paste:before {
	content: "\e600";
}


/* 69344-1410453905 */