$red: #CD0A0A
$blue: #4483C2
/**/
/* NORMALIZE */
/**/

/* # HTML5 display definitions */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

audio:not([controls]), [hidden]
  display: none

/* # Base */

/*
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
/* 2. Force vertical scrollbar in non-IE
/* 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */

html
  font-size: 100%
  overflow-y: scroll
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0
  font-size: 13px
  line-height: 1.231
  font-family: sans-serif
  color: #222
  -moz-box-shadow: none

button, input, select, textarea
  font-family: sans-serif
  color: #222
  -moz-box-shadow: none

/* Remove mozilla form styling for required and invalid input
/* */

input:invalid input:-moz-submit-invalid input:required
  -moz-box-shadow: none

/* 
/* Remove text-shadow in selection highlight: h5bp.com/i
/* These selection declarations have to be separate
/* Also: hot pink! (or customize the background color to match your design) */

html
  &:-moz-selection, &:selection
    background: #aaa
    color: #fff
    text-shadow: none

/* # Links */

a
  color: #00e
  &:visited
    color: #551a8b
  &:hover
    color: #06e
  &:focus
    outline: thin dotted
  &:hover, &:active
    outline: 0

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */

/* # Typography */

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  background: #ff0
  color: #000
  font-style: italic
  font-weight: bold

/* $redeclare monospace font family: h5bp.com/j */

pre, code, kbd, samp
  font-family: monospace, monospace
  _font-family: 'courier new', monospace
  font-size: 1em

/* Improve readability of pre-formatted text in all browsers */

pre
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none
  &:before, &:after
    content: ""
    content: none

small
  font-size: 85%

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */

sub
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
  top: -0.5em

sub
  bottom: -0.25em

/* # Lists */

ul, ol
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav
  ul, ol
    list-style: none
    list-style-image: none
    margin: 0
    padding: 0

/* # Embedded content */

/*
/* 1. Improve image quality when scaled in IE7: h5bp.com/d
/* 2. Remove the gap between images and borders on image containers: h5bp.com/e */

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

/*
/* Correct overflow not hidden in IE9 */

svg:not(:root)
  overflow: hidden

/* Figures */

figure, form
  margin: 0

/* Forms */

fieldset
  border: 0
  margin: 0
  padding: 0

/* Indicate that 'label' will shift focus to the associated form element */

label
  cursor: pointer

/* 
/* 1. Correct color not inheriting in IE6/7/8/9 
/* 2. Correct alignment displayed oddly in IE6/7 */

legend
  border: 0
  *margin-left: -7px
  padding: 0

/*
/* 1. Correct font-size not inheriting in all browsers
/* 2. Remove margins in FF3/4 S5 Chrome
/* 3. Define consistent vertical alignment display in all browsers */

button, input, select, textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle

/*
/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
/* 2. Correct inner spacing displayed oddly in IE6/7 */

button, input
  line-height: normal
  *overflow: visible

/*
/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */

table
  button, input
    *overflow: auto

/*
/* 1. Display hand cursor for clickable form elements
/* 2. Allow styling of clickable form elements in iOS */

button
  cursor: pointer
  -webkit-appearance: button

input
  &[type="button"], &[type="reset"], &[type="submit"]
    cursor: pointer
    -webkit-appearance: button
  &[type="checkbox"], &[type="radio"]
    box-sizing: border-box
  &[type="search"]
    -webkit-appearance: textfield
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    &::-webkit-search-decoration
      -webkit-appearance: none

/* Consistent box sizing and appearance */

/*  Remove inner padding and border in FF3/4: h5bp.com/l */

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

/* 
/* 1. Remove default vertical scrollbar in IE6/7/8/9 
/* 2. Allow only vertical resizing */

textarea
  overflow: auto
  vertical-align: top
  resize: vertical

/* Colors for form validity */

// input:invalid, textarea:invalid
//   background-color: #f0dddd

/* # Tables */

table
  border-collapse: collapse
  border-spacing: 0

td
  vertical-align: top
  
  



/**/
/* Blueprint Built In */
/**/

.complex-search select
  width: 200px
#simple-search select
  width: 100px
    
/**/



/** ---------------------------
/*  Primary Styles
/*  --------------------------- */

/** --------------------------------------------------
/*  Non-semantic helper classes
/*  Please define your styles before this section
/*  -------------------------------------------------- */


@mixin headline-blue
  background: #4782bd
  background: -webkit-gradient(linear, left top, left bottom, from(#4782bd), to(#5d98d3))
  background: -moz-linear-gradient(top, #4782bd, #5d98d3)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4782bd', endColorstr='#5d98d3')
  border: 1px solid #3d6995
  color: white
  text-shadow: 1px 1px black
@mixin headline-green
  background: #4da614
  background: -webkit-gradient(linear, left top, left bottom, from(#4da614), to(#62bb29))
  background: -moz-linear-gradient(top, #4da614, #62bb29)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da614', endColorstr='#62bb29')
  border: 1px solid #479316
  color: white
  text-shadow: 1px 1px black
@mixin headline-gray
  background: #d6d6d6
  background: -webkit-gradient(linear, left top, left bottom, from(silver), to(#d6d6d6))
  background: -moz-linear-gradient(top, silver, #d6d6d6)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#d6d6d6')
  border: 1px solid #bbbbbb
  color: #424242
  text-shadow: 1px 1px white
  
  
/* For image replacement */

.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  br
    display: none

/* Hide from both screenreaders and browsers: h5bp.com/u */

.hidden
  display: none !important
  visibility: hidden

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  &.focusable
    &:active, &:focus
      clip: auto
      height: auto
      margin: 0
      overflow: visible
      position: static
      width: auto

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

/* Hide visually and from screenreaders, but maintain layout */

.invisible
  visibility: hidden

/* Contain floats: h5bp.com/q */

.clearfix
  &:before
    content: ""
    display: table
  &:after
    content: ""
    display: table
    clear: both
  zoom: 1

/** --------------------------------------------------
/*  Media queries
/*  -------------------------------------------------- */

@media only screen and (min-width: 480px)
  /* Style adjustments for viewports 480px and over go here */

@media only screen and (min-width: 768px)
  /* Style adjustments for viewports 768px and over go here */

/** --------------------------------------------------
/*  Print styles
/*  -------------------------------------------------- */

@media print
  *
    background: transparent !important
    color: black !important
    text-shadow: none !important
    filter: none !important
    -ms-filter: none !important
  /* Black prints faster: h5bp.com/s */
  a
    text-decoration: underline
    &:visited
      text-decoration: underline
    &[href]:after
      content: " (" attr(href) ")"
  abbr[title]:after
    content: " (" attr(title) ")"
  .ir a:after
    content: ""
  a
    &[href^="javascript:"]:after, &[href^="#"]:after
      content: ""
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  /* h5bp.com/t */
  tr
    page-break-inside: avoid
  img
    page-break-inside: avoid
    max-width: 100% !important
  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid


/************** CUSTOM CSS STARTS HERE ******************** */

html
  margin: 0px
  padding: 0px

body
  margin: 0px
  padding: 0px
  font-family: Arial, Helvetica, sans-serif
  background: #e1e7e9

#container
  width: 960px
  margin: auto

/* HEADER STARTS HERE */

header
  padding: 20px 0px 0px 0px
  h1
    margin: 0px
    padding: 0px
    a
      font-family: Verdana, Geneva, sans-serif
      text-decoration: none
      color: #cd0a0a
      font-size: 36px
      text-shadow: 1px 1px white
      padding: 0px 20px 10px 0px
      margin: 0px 20px 0px 0px
      border-right: 1px dotted #bbbbbb
      font-weight: 400
      display: block
      float: left
      &:visited
        font-family: Verdana, Geneva, sans-serif
        text-decoration: none
        color: #cd0a0a
        font-size: 36px
        text-shadow: 1px 1px white
        padding: 0px 20px 10px 0px
        margin: 0px 20px 0px 0px
        border-right: 1px dotted #bbbbbb
        font-weight: 400
        display: block
        float: left
      &:hover
        color: #cd0a0a
  h2
    margin: 0px 0px 0px 0px
    padding: 16px 0px 0px 0px
    float: left
    font-size: 18px
    color: #424242
    text-shadow: 1px 1px white
    font-weight: bold
    min-width: 350px
    max-width: 550px
  #logo
    float: left
    min-height: 55px
    margin-right: 10px
  p
    margin: 0px
    padding: 0px
    float: right
    font-size: 16px
    color: #424242
    text-shadow: 1px 1px white
    font-weight: bold
    &.h-email
      a
        color: #424242
        text-shadow: 1px 1px white
        text-decoration: none
        &:visited
          color: #424242
      background: url(../img/email.png) left center no-repeat
      padding: 0px 0px 0px 22px
      margin: 0px 16px 0 0
      clear: both
    &.h-phone
      background: url(../img/phone.png) left center no-repeat
      padding: 0px 0px 0px 28px
      margin: 0px 16px 5px 0
      clear: both

  /* NAV STARTS HERE */

header
  nav
    margin: 15px 0 0 0
    border-top: 1px solid #DBDBDB
    border-bottom: 1px solid #DBDBDB
    padding: 0 10px
    clear: both
    display: block
    float: left
    background-color: $blue
    width: 940px
    border-radius: 8px 8px 0px 0px
    -moz-border-radius: 8px 8px 0px 0px
    z-index: 1020
    a, a:visited
      color: white
    > ul > li
      &:first-child
        border-radius: 8px 0px 0px 0px
        -moz-border-radius: 8px 0px 0px 0px
        > a
          border-radius: 8px 0px 0px 0px
          -moz-border-radius: 8px 0px 0px 0px
          border-left: none
    ul
      padding-left: 0
      float: left
      position: relative
      list-style: none
      margin: 0 0 0 -0.8125em
      padding-left: 0
      // height: 40px
      border-radius: 8px 8px 0px 0px
      -moz-border-radius: 8px 8px 0px 0px
      li.current_page_item
        > a
          background: $red
      

      a:focus
        color: #FFF
        background: $red

      ul
        display: none
        float: left
        margin: 0
        position: absolute
        left: 0
        width: 188px
        z-index: 1020
        a
          color: #FFF
          background: $blue
          font-weight: normal
          height: auto
          line-height: 1.4em
          padding: 10px 10px
          width: 168px
          // z-index: 1020
        li
          // z-index: 1020
          border-bottom: 1px solid #ddd
        ul
          left: 100%
          top: 0
          // z-index: 1020
          &:hover > a
            color: #FFF
            background: $red

      li
        // z-index: 1020
        width: auto
        margin: inherit 0px
        float: left
        position: relative
        &:hover > a
          color: #FFF
          background: $red
          // z-index: 1020

        &:hover > ul
          display: block
          // z-index: 1020

        a
          position: relative
          display: block
          padding: 5px 10px
          display: block
          line-height: 40px
          padding: 0 1.2125em
          text-decoration: none
          border-right: 1px solid #fff
          text-decoration: none
          font-size: 12px
          font-weight: bold
          text-transform: uppercase
          // z-index: 1020
          &:hover
            color: #FFF !important
            background: $red


// Login
header
  #nav-login
    margin: 0px 0px 0px 0px
    padding: 0px
    float: right
    #pl_logout_link, .pl_login_link
      margin-right: 10px
    #pl_lead_profile_link, .pl_register_lead_link
      margin-left: 10px
    a, a:visited
      // float: left
      color: black
      text-decoration: none
      font-size: 11px
      text-transform: uppercase
      text-shadow: 1px 1px white
      // padding: 13px 16px 13px 16px
      display: inline




/* INNER STARTS HERE */

#inner
  float: left
  background: white
  box-shadow: 0 0 8px 1px #bfbfbf
  -moz-box-shadow: 0 0 4px 1px #bfbfbf
  -webkit-box-shadow: 0 0 4px 1px #bfbfbf


/* MAIN STARTS HERE */

div#main, div#blog-post-feed
  float: left
  width: 610px
  padding: 0px 14px 15px 15px
  border-right: 1px dotted #CCC
  margin: 15px 0

section.lu
  margin: 0px
  padding: 25px 0px 25px 0px
  border-bottom: 1px dotted #CCC
  width: 600px

div
  &.lu-left
    float: left
    width: 170px
    float: left
    position: relative
    img
      border: 1px solid #999
      position: absolute
    p.price
      position: absolute
      background: #5bb422
      color: white
      padding: 5px 8px 5px 8px
      top: 85px
      font-size: 14px
      margin: -20px 0 0 0
      span
        font-weight: bold
    p.mls
      margin: 100px 0 0 0
  &.lu-right
    width: 430px
    float: right
    h4
      margin: 0px
      padding: 0px
      font-size: 22px
      a
        color: black
        text-decoration: none
        &:visited
          color: black
        &:hover
          color: #06F
    p
      &.mls
        margin: 0px
        padding: 0px
        color: #666
        font-size: 12px
        margin-bottom: 10px
      &.desc
        margin: 0px
        padding: 0px
        font-size: 12px
        line-height: 17px
        height: 50px
        overflow: hidden
    .lu-details
      margin-top: 10px
    ul
      margin: 0px
      padding: 0px 0px 0px 4px
      float: left
      width: 300px
      li
        list-style: none
        float: left
        margin-right: 10px
        font-size: 14px
        text-transform: uppercase
        font-weight: bold
        span
          color: #666
          font-weight: lighter
    #pl_add_remove_lead_favorites
      float: left
      margin-right: 10px
      a
        background: url(../img/fav.png) left center no-repeat
        padding: 0px 0px 0px 22px
        text-decoration: none
        color: #06F
        font-size: 12px
    a
      &.info
        background: url(../img/info.png) left center no-repeat
        padding: 0px 0px 0px 22px
        text-decoration: none
        color: #06F
        font-size: 12px
      &.fav:hover, &.info:hover
        color: black
  &.lu-links
    float: left
    width: 330px
    padding: 10px 0px 0px 0px
  &.lu-right a.details
    margin: 6px 0px 0px 0px
    padding: 0px
    background: -webkit-gradient(linear, left top, left bottom, from(#75cd2b), to(#48a41b))
    background: -moz-linear-gradient(top, #75cd2b, #48a41b)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75cd2b', endColorstr='#48a41b')
    border: 1px solid #4aa11f
    padding: 8px 12px 8px 12px
    color: white
    text-decoration: none
    font-weight: bold
    float: right
    text-shadow: 0px 1px black
    &:hover
      background: -webkit-gradient(linear, left top, left bottom, from(#48a41b), to(#75cd2b))
      background: -moz-linear-gradient(top, #48a41b, #75cd2b)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48a41b', endColorstr='#75cd2b')

  &.sticky 
    .post-top
      background: #cd0a0a
      h2
        a
          color: #fff
          text-shadow: inherit
      .post-info
        color: #000
        span
          color: #fff

/* ASIDE STARTS HERE */
aside
  float: right
  width: 290px
  padding: 0px 15px 15px 15px
  margin-top: 15px
  h3
    @include headline-blue

h3
  margin: 0px
  padding: 10px 10px 8px 12px
  font-size: 17px
  text-transform: uppercase
  clear: both

.mb20
  margin-bottom: 20px

h3
  &.mb
    margin-bottom: 16px

aside div.widget-inner
  padding: 16px 15px 15px 18px

/* --SIMPLE SEARCH WIDGET-- */
#search-widget
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#e4e4e4))
  background: -moz-linear-gradient(top, #cccccc, #e4e4e4)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e4e4e4')
  height: 225px
  margin-bottom: 16px
  div.widget-inner
    padding: 12px 15px 0px 18px
  .col-01
    width: 125px
    float: left
  .col-02
    width: 125px
    float: right
  input#search
    color: white
    font-size: 16px
    background: #f99727
    background: -webkit-gradient(linear, left top, left bottom, from(#63a7d3), to(#3f74ba))
    background: -moz-linear-gradient(top, #63a7d3, #3f74ba)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63a7d3', endColorstr='#3f74ba')
    border: 1px solid #3470ad
    padding: 6px 14px 6px 14px
    font-weight: bold
    float: right
    margin: 15px 25px 0px 0px
    cursor: pointer
    clear: both
    text-shadow: 1px 1px black
    &:hover
      background: -webkit-gradient(linear, left top, left bottom, from(#3f74ba), to(#63a7d3))
      background: -moz-linear-gradient(top, #3f74ba, #63a7d3)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f74ba', endColorstr='#63a7d3')
  label
    display: block
    margin-top: 5px
  p
    font-size: 12px
    float: right
    text-align: right
    padding: 8px 5px 0px 0px
  #available-on
    margin: 0px 0 0 0
    label
    .chzn-container
      width: 232px !important
    .chzn-search
      width: 232px !important
    .chzn-drop
      input
        width: 195px !important
      width: 230px !important
  .srch1
    margin-top: 10px

/* --AGENT WIDGET-- */
#agent-widget
  background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
  background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
  margin-bottom: 16px
  div.widget-inner
    padding: 14px 8px 8px 10px
  h5
    margin: 0px
    padding: 0px
    font-size: 20px
    color: black
    text-shadow: 1px 1px white
  img
    float: left
    margin: 2px 12px 10px 4px
  span
    &.email
      background: url(../img/email.png) left center no-repeat
      padding: 0px 0px 0px 22px
      margin: 5px 0px 5px 0px
      float: left
      a
        color: #0f79ca
        text-decoration: none
        &:hover
          color: black
    &.phone
      background: url(../img/phone-small.png) left center no-repeat
      padding: 0px 0px 0px 22px
      margin: 5px 0px 5px 0px
  p
    margin: 8px 0px 0px 0px
    padding: 0px
    font-size: 12px
    line-height: 17px
    &.small
      margin: 0px
      padding: 0px
      margin-bottom: 4px
      width: 235px
      
/* --RECENT POSTS WIDGET-- */
.widget-pls-recent-posts
  margin-bottom: 16px
  .widget-inner
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
    background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
    div.post-recent
      padding: 16px 15px 12px 20px
      margin: 0px
      border-bottom: 1px solid #CCC
      a.title
        text-decoration: none
        color: #286db1
        text-shadow: 1px 1px white
        display: block
        font-size: 16px
        font-weight: bold
        margin: 0px
        padding: 0px
        &:hover
          color: black
      p
        &.p-info
          margin: 0px
          padding: 0px
          color: #666
          font-size: 11px
          a
            color: #06F
            text-decoration: none
            &:hover
              color: black
          span
            color: black
        &.p-desc
          font-size: 12px
          line-height: 16px
          margin: 0px
          padding: 0px
          margin: 10px 0px 8px 0px

/* --FEATURED WIDGET-- */
#featured-widget
  float: left
  background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
  background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
  margin: 0px 0px 8px 0px
  padding: 0px 0px 10px 0px
  h3
    @include headline-green
  .featured-slot
    padding: 12px 8px 4px 12px
    float: left
    img
      float: left
      border: 4px solid white
      // margin: 0 !important
      padding: 0 !important
    h4
      margin: 0
    h5
      margin: 0
      padding: 0 0 0 10px
      float: left
      display: block
      width: 135px
      font-size: 16px
      line-height: 18px
      font-weight: bold
      a
        text-decoration: none
        color: black
        &:visited
          color: black
        &:hover
          color: #0F79CA
    p.rent-label
      // background: -webkit-gradient(linear, left top, left bottom, from(#397f0f), to(#53a717))
      // background: -moz-linear-gradient(top, #397f0f, #53a717)
      // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#397f0f', endColorstr='#53a717')
      margin: 0px
      padding: 0px
      float: left
      padding: 5px 10px 5px 10px
      // color: white
      color: black
      font-size: 12px
      // text-transform: uppercase
      // border: 1px solid #32660f
      border-left: 0px
      span
        font-size: 16px
        font-weight: bold
        text-transform: none
        em
          font-style: normal
          font-weight: lighter
          font-size: 12px



/* --GALLERY WIDGET-- */
#gallery-widget img
  border: 1px solid #999
  float: left
  margin: 0px 6px 6px 0px

aside
  .placester_contact
    .pls-contact-form-loading
      margin: -3px -15px -5px 0
    .success
      text-align: left
aside
  section

    /* --OUR OFFICE WIDGET-- */
    &.widget-pls-map
      h3
        @include headline-green
      #map-widget
        background: -moz-linear-gradient(top, #E7E7E7, #E4E4E4)
        background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#E4E4E4))
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
        padding: 12px 8px 4px 12px
        margin-bottom: 15px
      p
        &.office
          font:
            size: 16px
            weight: 600
          line-height: 18px
          padding-right: 10px
        &.address
          font:
            size: 14px
            weight: 400
            line-height: 16px
          margin: 10px 0

    /* --CONTACT US FORM-- */
    &.placester_contact
      h3
        @include headline-blue
      .common-side-cont
        background: -moz-linear-gradient(top, #E7E7E7, #E4E4E4)
        background: -webkit-gradient(linear, left top, left bottom, from(#E7E7E7), to(#E4E4E4))
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
        padding: 12px 8px 4px 12px
        margin-bottom: 15px
      form[name="widget_contact"]
        input[type="email"], input[type="text"], textarea
          border: 1px solid #3D6995
        input[type="submit"]
          border-radius: 0
          text-transform: uppercase
          color: white
          font-size: 16px
          background: #f99727
          background: -webkit-gradient(linear, left top, left bottom, from(#63a7d3), to(#3f74ba))
          background: -moz-linear-gradient(top, #63a7d3, #3f74ba)
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63a7d3', endColorstr='#3f74ba')
          border: 1px solid #3470ad
          padding: 6px 14px 6px 14px
          font-weight: bold
          float: right
          margin: 5px 25px 10px 0px
          cursor: pointer
          clear: both
          text-shadow: 1px 1px black
          &:hover
            background: -webkit-gradient(linear, left top, left bottom, from(#3f74ba), to(#63a7d3))
            background: -moz-linear-gradient(top, #3f74ba, #63a7d3)
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f74ba', endColorstr='#63a7d3')
      .msg, .error
        border: none !important
        margin: 5px 0 10px 0 !important
        padding-top: none
    
    /* --STANDARD WP WIDGETS-- */
    &.widget_search
      margin-bottom: 20px
      form
        margin-top: 10px
        input[type="text"]
          width: 210px
        input[type="submit"]
          margin: 10px 0 0
    &.widget_calendar
      #calendar_wrap
        margin: 10px 0 0 40px
        padding-bottom: 20px
        td
          padding: 5px
    &.widget_links, &.widget_categories, &.widget_pages, &.widget_archive, &.widget_recent_entries, &.widget_nav_menu, 
      h3
        @include headline-blue
      ul
        list-style-type: none
        li
          color: #666
          a, a:visited
            color: #06F
            text-decoration: none
            &:hover
              color: black

/* CATEGORIES WIDGET */
// div.categories-widget
//   background: #eeeeee
//   border: 1px solid #d7d7d7
//   padding: 20px 0px 16px 10px
//   ul
//     margin: 0px
//     padding: 0px
//     float: left
//     width: 100px
//     margin-right: 20px
//     padding: 0px 0px 0px 16px
//   li
//     list-style: none
//     margin-bottom: 10px
//     font-size: 13px

/* --INFORMATION WIDGET-- */
// #information-widget
//   background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
//   background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
//   margin-bottom: 14px
//   div.widget-inner
//     padding: 10px 20px 16px 20px
//   p
//     &.info-label
//       font-size: 13px
//       font-weight: bold
//       float: left
//       margin: 4px 0px 4px 0px
//       clear: both
//     &.info-detail
//       font-size: 13px
//       float: right
//       margin: 4px 0px 4px 0px
//       text-align: right
//       a
//         color: #06F
//         text-decoration: none
//         &:hover
//           color: black
//   a.logged-bt
//     color: #06F
//     text-transform: uppercase
//     float: left
//     margin: 10px 0px 5px 0px
//     text-decoration: none
//     &:hover
//       color: black
      
/* --FRIENDS WIDGET-- */
// #friends-widget
//   background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
//   background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
//   margin-bottom: 14px
//   div.widget-inner
//     padding: 8px 16px 16px 16px
//   a.logged-bt
//     color: #06F
//     text-transform: uppercase
//     float: left
//     margin: 14px 0px 0px 0px
//     text-decoration: none
//     float: right
//     &:hover
//       color: black
//   p
//     &.desc
//       margin: 0px
//       padding: 4px 0px 12px 0px
//       font-size: 12px
//       line-height: 17px
//       border-bottom: 1px solid #d2d2d2
//     &.friend-list
//       font-size: 13px
//       border-bottom: 1px solid #d2d2d2
//       margin: 0px 0px 0px 8px
//       padding: 8px 0px 8px 0px
//       a
//         float: right
//         background: url(../img/remove.png) no-repeat
//         width: 15px
//         height: 15px
//         margin-right: 5px
//         text-indent: -5000px
// 

/* FOOTER */
footer
  padding: 8px 0px 40px 0px
  nav.footer-nav ul
    margin: 0px
    width: 100%
    padding: 14px 0px 0px 0px
    float: left
    li
      float: left
      margin: 0px 22px 0px 0px
      padding: 0px
      font-size: 12px
      a
        text-decoration: none
        color: black
        &:hover
          text-decoration: underline
      ul
        display: none
  p
    &.f-email
      background: url(../img/email.png) left center no-repeat
      padding: 0px 0px 0px 22px
      margin-right: 22px
      float: right
      font-size: 16px
      color: #424242
      text-shadow: 1px 1px white
      font-weight: bold
      a
        color: #424242
        text-shadow: 1px 1px white
        text-decoration: none
        &:visited
          color: #424242
    &.f-phone
      background: url(../img/phone.png) left center no-repeat
      padding: 0px 0px 0px 28px
      float: right
      font-size: 16px
      color: #424242
      text-shadow: 1px 1px white
      font-weight: bold
  div.f-bot
    padding: 0 0 14px 0px
  h1
    margin: 0px
    padding: 0px
    a
      font-family: Verdana, Geneva, sans-serif
      text-decoration: none
      color: #cd0a0a
      font-size: 36px
      text-shadow: 1px 1px white
      padding: 0px 20px 10px 0px
      margin: 0px 20px 0px 0px
      border-right: 1px dotted #bbbbbb
      font-weight: 400
      display: block
      float: left
      &:visited
        font-family: Verdana, Geneva, sans-serif
        text-decoration: none
        color: #cd0a0a
        font-size: 36px
        text-shadow: 1px 1px white
        padding: 0px 20px 10px 0px
        margin: 0px 20px 0px 0px
        border-right: 1px dotted #bbbbbb
        font-weight: 400
        display: block
        float: left
      &:hover
        color: #cd0a0a
  h2
    margin: 0px 0px 0px 0px
    padding: 16px 0px 0px 0px
    float: left
    font-size: 18px
    color: #424242
    text-shadow: 1px 1px white
    font-weight: bold
  p
    &.address
      margin: 0px 0px 0px 0px
      padding: 16px 0px 0px 0px
      font-size: 18px
      color: #424242
      text-shadow: 1px 1px white
      float: right
      text-align: right
      span
        font-weight: bold
    &.copyright
      font-size: 12px
      color: #666
      a
        color: #06F
        text-decoration: none
        &:visited
          color: #06F

/* PROPERTY PAGE */
section#fold
  background: #ebebeb
  border-bottom: 1px solid #bcbcbc
  h2
    margin: 0px
    padding: 0px
    color: #3a3939
    font-size: 20px
    font-weight: bold
    text-transform: uppercase
  .fold-l
    float: left
    width: 610px
    padding: 0px 14px 10px 15px
    border-right: 1px dotted #CCC
    margin-top: 15px
    p
      margin: 0px 16px 0px 0px
      padding: 8px 0px 10px 0px
      float: left
      span
        font-weight: bold
  .fold-r
    float: right
    width: 290px
    padding: 0px 15px 10px 15px
    margin-top: 15px
    p.price
      height: 55px
      margin: 0px
      padding: 5px 0px 0px 0px
      float: right
      font-size: 28px
      color: #5bb422
      font-weight: bold
      text-shadow: 1px 1px white
      span
        color: #333
        font-weight: lighter
        font-size: 20px
div
  &#main
    p.p-info
      float: left
      margin: 10px 20px 10px 0px
      padding: 0px
      font-size: 10pt
      span
        font-weight: bold
    h2
      width: 100%
      margin: 0px 0px 10px 0px
      padding: 0px
      color: #3a3939
      font-size: 22px
      font-weight: bold
      text-transform: uppercase
    article.type-page
      a, a:visited
        color: #286DB1
        text-decoration: none
        &:hover
          color: #222
  &.user-generated
    margin: 10px 0px 20px 0px
    p
      font-size: 12pt
      margin: 0px 0px 12px 0px
      padding: 0px
      line-height: 1.3em
  &.main-widget
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
    background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
    margin-bottom: 14px
    h3
      @include headline-green
    &.amenities-widget
      h3
        @include headline-blue
      p
        padding: 0 20px 20px 20px
    &.neighborhood-widget
      h3
        @include headline-gray
        
  &.widget-inner
    padding: 12px 0px 12px 12px
    margin-bottom: 16px
    
ul#bulleted
  margin: 0px
  padding: 5px 0px 8px 30px
  li
    float: left
    width: 170px
    list-style: url(../img/bullet.png)
    font-size: 13px
    margin-bottom: 8px
    margin-right: 18px
    font-weight: bold
    word-wrap: break-word

img.floated
  float: left
  margin: 5px 14px 10px 2px
  border: 1px solid #CCC

div.realtor-widget
  background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
  background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
  margin-bottom: 14px
  div.widget-inner
    padding: 12px 8px 12px 12px

/* FULL FORM STARTS HERE */
#search-form-area
  background-color: white
  #full-search
    margin: 20px
    width: 918px
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
    background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
    border: 1px solid #d8d8d8
    float: left
    padding-bottom: 20px
    h3
      @include headline-blue
    label
      display: block
      margin-top: 5px
    h6
      margin: 0px
      padding: 0px
      text-transform: uppercase
      font-size: 16px
      margin-bottom: 10px
      text-shadow: 1px 1px white
      font-weight: bold
    .form-l
      width: 285px
      float: left
      margin: 0px 20px 0px 0px
      padding-left: 20px
    .form-l, .form-m
      padding-top: 20px
      .chzn-container
        width: 200px !important
      .chzn-drop
        width: 198px !important
        .chzn-search
          input
            width: 163px !important
    .form-m
      width: 285px
      float: left
      margin: 0px 0px 0px 0px
    .form-r
      padding-top: 20px
      width: 285px
      float: right
      .chzn-container
        width: 100px !important
      .chzn-drop
        width: 98px !important
        .chzn-search
          input
            width: 63px !important
    .form-r-l
      float: left
      width: 90px
    .form-r-r
      float: right
      width: 155px
    #available-on
      float: left
      margin-top: 5px
      .chzn-container
        width: 230px !important
      .chzn-drop
        width: 228px !important
        .chzn-search
          input
            width: 193px !important
      
div
  &#full-form
    #search-button
      color: white
      font-size: 16px
      background: #f99727
      background: -webkit-gradient(linear, left top, left bottom, from(#63a7d3), to(#3f74ba))
      background: -moz-linear-gradient(top, #63a7d3, #3f74ba)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63a7d3', endColorstr='#3f74ba')
      border: 1px solid #316eac
      padding: 6px 14px 6px 14px
      font-weight: bold
      margin: 20px 105px 0px 0px
      cursor: pointer
      float: right
      text-shadow: 1px 1px black
      &:hover
        background: -webkit-gradient(linear, left top, left bottom, from(#3f74ba), to(#63a7d3))
        background: -moz-linear-gradient(top, #3f74ba, #63a7d3)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f74ba', endColorstr='#63a7d3')
    .slt-full
      padding: 4px
      width: 265px
      border: 1px solid #a09f9f
      margin-bottom: 4px
    .slt-half
      padding: 4px
      width: 195px
      border: 1px solid #a09f9f
      margin-bottom: 4px
    .slt-sma
      padding: 4px
      width: 85px
      border: 1px solid #a09f9f
      margin-bottom: 4px
    .inp-full
      width: 232px
      height: 32px
      border: 1px solid #a09f9f
      margin: 4px 7px 0px 0px
      padding: 0px 0px 0px 4px
      background: #fbfbfb
  &[class='checkboxes']
    padding: 20px 0px 10px 0px
    width: 720px
    float: left
  &#full-form
    label
      margin: 0px 10px 0px 0px
      font-size: 12px
    input.ticks
      padding: 0px
      margin: 20px 5px 0px 0px
  &.about-fold
    padding: 18px
    img
      border: 1px solid #666
    h2
      float: left
      height: 28px
    p.f-contact
      float: right
      font-size: 12px
      margin: 2px 0px 0px 15px
      padding: 0px
      a
        color: #06F
        text-decoration: none
        &:hover
          color: black
      span
        font-weight: bold
section#location-widget
  // position: absolute
  float: right
  width: 286px
  h3
    @include headline-green
  p
    &.office-label
      margin: 10px 0px 0px 0px
      padding: 0px
      font-size: 14px
      font-weight: bold
      float: left
    &.office-address
      margin: 10px 0px 0px 0px
      padding: 0px
      float: right
      text-align: right
      font-size: 14px
      line-height: 17px
  &.agent-full
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
    background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
    margin-bottom: 14px
    div.widget-inner
      padding: 18px 18px 8px 18px
  &.agent-slot
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(white))
    background: -moz-linear-gradient(top, #f0f0f0, white)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff')
    box-shadow: 0 0 8px 1px #bfbfbf
    -moz-box-shadow: 0 0 3px 1px #bfbfbf
    -webkit-box-shadow: 0 0 3px 1px #bfbfbf
    border: 1px solid white
    margin-bottom: 14px
    padding: 15px
    img
      float: left
      margin: 0px 14px 10px 0px
    h4
      margin: 0px
      padding: 0px
      text-shadow: 1px 1px white
      font-size: 20px
      margin: 2px 0px 8px 0px
    p
      &.a-contact
        float: left
        margin: 0px 10px 0px 0px
        padding: 0px
        font-size: 12px
        a
          color: #06F
          text-decoration: none
          &:hover
            color: black
        span
          font-weight: bold
      &.desc
        margin: 8px 0px 0px 0px
        padding: 0px
        font-size: 12px
        line-height: 17px

/* ABOUT PAGE STARTS HERE */

/* AGENT SLOTS START HERE */

body.page-template-page-template-listings-php
  #inner
    min-height: 650px
  #main
    h3
      @include headline-gray
    .sort_by_wrapper
      padding-bottom: 20px
      float: right
      margin: -34px 10px 0 0
  /* MAP WIDGET */
  #floating-box
    position: relative
    width: 290px
    #map
      width: 286px
      position: absolute
      float: right
      h3
        @include headline-green

/* SOCIAL WIDGET START */
div, article
  &.social-icons
    padding: 14px 0px 14px 14px
    img
      float: left
      margin-right: 14px
  &.blog-post
    padding: 0px 10px 10px 0px
    margin: 0px 0px 35px 0px
    img
      border: 5px solid #efefef
    .aligncenter
      margin: inherit 0px
      width: 100% !important
      clear: both
      display: block
      // margin-left: auto
      // margin-right: auto
      overflow: auto
    .alignleft
      margin: 20px 20px 20px 0
      display: inline
      float: left
      overflow: auto
    .alignright
      margin: 20px 0 20px 20px
      display: inline
      float: right
      overflow: auto
    div.post-main
      p
        font-size: 12px
        line-height: 17px
        margin-bottom: 14px
      blockquote
        p
          font-style: italic
      a
        text-decoration: none
        color: #06F
        &:visited
          color: #06F
        &.read-more
          color: #06F
          text-decoration: none
          float: left
          text-transform: uppercase
        &.post-comment
          background: url(../img/post-comment.png) left center no-repeat
          padding: 0px 0px 0px 20px
          color: #06F
          text-decoration: none
          float: right
          text-transform: uppercase
          margin-left: 12px
        &.read-comment
          background: url(../img/comments.gif) left center no-repeat
          padding: 0px 0px 0px 22px
          color: #06F
          text-decoration: none
          float: right
          text-transform: uppercase
        &:hover
          color: black
      .blog-tags
        clear: both
        margin: 10px 0
        float: left
        a
          text-decoration: none
          color: #06F
          &:visited
            color: #06F
  &.post-top
    background: #efefef
    padding: 16px
    margin: 0px 0px 10px 0px
    h2 a
      text-transform: none
      color: #333
      text-decoration: none
      text-shadow: 1px 1px white
      &:hover
        color: #06F
    p.post-info
      margin: 0px
      padding: 0px
      color: #666
      span
        color: black
      a
        color: #06F
        text-decoration: none
        &:hover
          color: black
  &.logged
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6))
    background: -moz-linear-gradient(top, #eaeaea, #f6f6f6)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#f6f6f6')
    border: 1px solid #dddddd
    margin: 20px 0px 0px 0px
    padding: 12px
    border-radius: 0px 0px 8px 8px
    -moz-border-radius: 0px 0px 8px 8px
  &.share
    background: #4f4f4f
    border-radius: 8px
    -moz-border-radius: 8px
    border: 1px solid black
    padding: 7px 10px 5px 10px
    margin-bottom: 5px
    p
      color: white
      margin: 0px 0px 2px 0px
      padding: 0px
      float: left
      a
        text-decoration: none
        font-weight: bold
        color: white
        &:hover
          text-decoration: underline
    a.share-bt
      background: url(../img/share.png) left center no-repeat
      padding: 0px 0px 2px 22px
      float: right
      color: white
      text-decoration: none
      text-transform: uppercase
      &:hover
        text-decoration: underline
  &.logged
    p.note
      background: white
      padding: 6px 10px 6px 10px
      border: 1px solid #cfcfcf
      margin: 6px 0px 0px 4px
      font-size: 12px
      width: 514px
      float: left
    a
      &.edit
        background: url(../img/edit.png) no-repeat
        width: 12px
        height: 12px
        display: block
        text-indent: -5000px
        float: right
        margin: 14px 0px 0px 0px
      &.del
        background: url(../img/delete.png) no-repeat
        width: 12px
        height: 12px
        display: block
        text-indent: -5000px
        float: right
        margin: 14px 0px 0px 8px
      &.note-bt
        background: url(../img/add.png) left center no-repeat
        text-decoration: none
        text-transform: uppercase
        color: black
        margin: 14px 0px 8px 8px
        padding: 0px 0px 0px 20px
        display: block
        width: 80px
        &:hover
          text-decoration: underline





#fancybox-content
  background: #E1E7E9
  h2
    margin: 10px 10px 0 10px
  label
    width: 140px
    float: left
    padding: 11px 15px 0 10px
    font-size: 15px
    cursor: default
    clear: both
    color: black
  input[type="text"], input[type="password"]
    float: left
    width: 200px
    height: 26px
    border: 1px solid #3D6995
    margin: 4px 0px 0 10px
    background: #fafafa
  input[type="submit"]
    color: white
    font-size: 16px
    background: #f99727
    background: -webkit-gradient(linear, left top, left bottom, from(#36a5d0), to(#2067b0))
    background: -moz-linear-gradient(top, #36a5d0, #2067b0)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbcccc', endColorstr='#2067b0')
    border: 1px solid #388bc3
    padding: 6px 14px 6px 14px
    font-weight: bold
    margin: 10px 30px 15px 0px
    text-shadow: 1px 1px black
    cursor: pointer
    float: right
    &:hover
      background: -webkit-gradient(linear, left top, left bottom, from(#2067b0), to(#37a8d2))
      background: -moz-linear-gradient(top, #2067b0, #37a8d2)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2067b0', endColorstr='#37a8d2')
  .pl_login_alert
    padding: 15px 10px 0 10px
    color: #CD0A0A
  #form_message_box
    ul
      list-style-type: none
      li
        color: #CD0A0A
        
  #pl_lead_register_form
    input[type="text"], input[type="password"]
      width: 243px
    input[type="submit"]
      margin: 15px 40px 10px 0
    


/* BLOG POST START */

/* LOGGED IN PAGE */

/* POPUP FORM */
// section#popup-form
//   background: white
//   border-radius: 8px
//   -moz-border-radius: 8px
//   border: 1px solid #CCC
//   width: 480px
//   margin: 40px auto
//   box-shadow: 0 0 8px 1px #bfbfbf
//   -moz-box-shadow: 0 0 8px 1px #bfbfbf
//   -webkit-box-shadow: 0 0 8px 1px #bfbfbf
//   color: black
// 
// div#popup-inner
//   padding: 20px 40px 20px 40px
// 
// section#popup-form
//   p
//     margin: 5px 0px 0px 0px
//     padding: 0px
//     margin-bottom: 25px
//     color: black


// 

/* POPUP FORM */
// #signup_form, #login_form, #password_form
//   padding: 20px 20px 30px 20px
//   background: white
//   h3
//     margin: 5px 0px 0px 0px
//     padding: 0px
//     color: black
//     font-size: 22px
//   p
//     margin: 5px 0px 10px 0px
//     padding: 5px 0px 0px 0px
//     color: black
//     font-size: 14px
//   label
//     font-size: 14px
//     padding: 10px 0px 0px 0px
//     margin: 0px 30px 0px 0px
//     float: left
// 
// .inp-popup
//   width: 280px
//   height: 26px
//   border: 1px solid #CCC
//   margin: 4px 0px 16px 0px
//   background: #fafafa
//   float: right
// 
// .popup-bt
//   color: white
//   font-size: 16px
//   background: -webkit-gradient(linear, left top, left bottom, from(#38a9d2), to(#2065af))
//   background: -moz-linear-gradient(top, #38a9d2, #2065af)
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38a9d2', endColorstr='#2065af')
//   border: 1px solid #2982be
//   padding: 6px 14px 6px 14px
//   font-weight: bold
//   margin: 6px 0px 0px 20px
//   cursor: pointer
//   float: right
//   &:hover
//     background: -webkit-gradient(linear, left top, left bottom, from(#2065af), to(#38a9d2))
//     background: -moz-linear-gradient(top, #2065af, #38a9d2)
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2065af', endColorstr='#38a9d2')
// 
// p#login_error
//   color: $red
  
  
// Single Property
body.single-property
  article.grid_8
    margin-right: 0px !important
  article
    #fold
      .fold-l
        img
          padding: 0px !important
  aside
    .sidebar-add-to-favorites-link
      margin: 5px 0 20px 0px
      height: 33px
      #pl_add_remove_lead_favorites
        text-align: center
        margin: 0 auto
        width: 220px
      a, a:visited
        color: white
        font-size: 16px
        // background: #4483C2
        border: 1px solid #316eac
        padding: 6px 14px 6px 14px
        font-weight: bold
        margin: 0
        cursor: pointer
        float: left
        text-shadow: 1px 1px black
        text-decoration: none
        background: #f99727
        background: -webkit-gradient(linear, left top, left bottom, from(#63a7d3), to(#3f74ba))
        background: -moz-linear-gradient(top, #63a7d3, #3f74ba)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63a7d3', endColorstr='#3f74ba')
        &:hover
          background: -webkit-gradient(linear, left top, left bottom, from(#3f74ba), to(#63a7d3))
          background: -moz-linear-gradient(top, #3f74ba, #63a7d3)
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f74ba', endColorstr='#63a7d3')
        // &:hover
        //   color: white
        //   background: #63a7d3
    #gallery-widget
      background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
      background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
      margin-bottom: 16px
      div.widget-inner
        padding: 0px 10px 10px 0px
      h3
        @include headline-gray
      img
        border: 1px solid #999
        float: left
        margin: 15px 0px 0px 15px
        padding: 0px !important

// Sidebar Widget Titles
.widget-pls-quick-search, .widget-pls-recent-posts
  h3
    @include headline-blue

.widget-pls-agent, .widget-pls-listings
  h3
    @include headline-green
    
section.pls-listing-get_listings_widget
  background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e4e4e4))
  background: -moz-linear-gradient(top, #e7e7e7, #e4e4e4)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#e4e4e4')
  margin: 0px 0px 16px 0px
  padding: 0px 0px 10px 0px
  div.featured-slot
    padding: 12px 8px 4px 12px
    img
      float: left
      border: 4px solid white
    a
      color: #3D6995
      text-decoration: none
      margin: 0 0 8px 0
      &:visited
        color: #3D6995
    h4
      margin: 0 !important
      a
        color: black
        text-decoration: none
        margin: 0
        padding: 0px
        float: right
        width: 160px
        font-size: 16px
        line-height: 18px
        font-weight: bold
        &:visited
          color: black
        &:hover
          color: #0F79CA
    p.rent-label
      margin: 0px
      padding: 0px
      float: left
      padding: 5px 10px 5px 10px
      color: #666 !important
      font-size: 12px
      border-left: 0px
    p.mls
      float: left
      width: 150px
      margin-left: 10px
      margin-top: 0  
    span
      font-size: 16px
      color: #5BB422
      font-weight: bold
      text-transform: none
    em
      font-style: normal
      font-weight: lighter
      font-size: 12px
  .compliance-wrapper
    margin-top: 10px
    p.listings-widget-compliance
      // width: 100%
      span
        display: block
        margin-right: 0
        color: #000
        font:
          size: 12px
          weight: normal
    
#inner
  nav
    min-height: 40px
    margin-right: 20px
    .prev, .next
      width: 270px
      a
        width: 290px
        line-height: 15px
        color: black
        background: none
        text-decoration: none
        &:visited
          color: black
        &:hover
          color: #424242
          background: none
    .prev
      float: left
      margin-left: 15px
    .next
      text-align: right
      float: right

body.single-post
  article
    h2
      padding-bottom: 15px !important
    p
      clear: left
      overflow: auto
    a
      color: #06F
      text-decoration: none
      &:visited
        color: #06F
      &:hover
        background: none
        text-decoration: none
    blockquote
      p
        font-style: italic

body.home
  #listing
    margin-top: 14px
    h3
      @include headline-blue
  .pls-listing-home
    

#slider a, #slider a:visited
  text-decoration: none
  font-weight: bold
  font-size: 14pt
  line-height 8px

.orbit-caption
  display: none

.orbit-wrapper
  .timer
    display: none
  .orbit-bullets
    margin-top: -70px !important
  .orbit-caption
    background: #000
    background: rgba(0,0,0,.6)
    z-index: 1000
    color: #fff
    padding: 7px 0
    font-size: 13px
    position: absolute
    right: 0
    bottom: 0
    padding-left: 20px
    width: 100%
    a
      color: #fff
      text-decoration: none
      &:visited
        color: #fff
    p.address
      font-family: 'Andada', serif
      margin: 0 0 0 -5px
      padding: 8px 8px 8px 12px
      color: #fff
      text-align: left
      background: #5bb422
      border: 1px solid #63cf1e
      border-left: 0px
      width: 564px
      font-size: 20px
      a.details-bt
        font-family: Arial, Helvetica, sans-serif
        color: white
        float: right
        font-size: 16px
        text-shadow: none
        font-weight: lighter
        margin: 2px 2px 0px 0px
        border-bottom: none
        &:visited
          color: white
        &:hover
          color: black
    p.basic-details
      padding: 0px 0px 5px 0px
      margin: 12px 9px 0px 10px
      color: #CCC
      text-align: left
      font-size: 12pt
      span
        padding: 0px 9px 0px 0px
        margin: 0px 8px 0px 0px
        border-right: 1px solid #666
        &:last-child
          border-right: none

.theme-default .nivo-caption a
  border: none !important
.nivo-controlNav
  bottom: 5px !important
  right: 15px
  margin-left: 0 !important
  left: 80% !important

#main
  article
    h4
      font-size: 16px
      background: #ccc
      padding: 8px
    h5
      font-size: 14px
    h6
      font-size: 12px
    th, td
      padding: 4px
      border: 1px solid #333
    th
      background: #ccc
    .entry-meta
      clear: both
    

  .user-generated
    h2
      font:
        size: 16pt
    #company-phone
      margin: 0
      font:
        size: 13pt
    #company-address
      margin: 0
      font:
        size: 13pt
    #company-city-state
      font:
        size: 13pt


.dataTables_paginate
  padding-top: 40px
  text-align: center
  a, a:visited
    font:
      size: 10pt
    color: #06F
    padding: 6px 8px
    text-decoration: none
    cursor: pointer
    &:hover
      color: #424242
    &.first
      float: left
    &.last
      float: right
    &.paginate_active
      font:
        weight: 600
    &.previous
      padding-right: 30px
      margin-top: -8px
    &.next
      padding-left: 30px
      margin-top: -8px


.sort_wrapper
  margin-top: 10px
  .sort_item
    float: left
    margin-right: 10px
    .chzn-drop
      width: 113px !important
    .chzn-container
      width: 115px !important
    .chzn-search
      display: none

#placester_listings_list_length
  float: right
  margin-top: -28px
  font:
    size: 10pt
    family: Helvetica
  .chzn-search
    display: none
    
#comments-template
  ul, ol
    list-style-type: none
  ol.comment-list
    li
      margin-bottom: 30px
  form
    p
      input#submit
        color: white
        font-size: 16px
        background: #f99727
        background: -webkit-gradient(linear, left top, left bottom, from(#63a7d3), to(#3f74ba))
        background: -moz-linear-gradient(top, #63a7d3, #3f74ba)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63a7d3', endColorstr='#3f74ba')
        border: 1px solid #316eac
        padding: 6px 14px 6px 14px
        font-weight: bold
        margin: 0
        cursor: pointer
        float: left
        text-shadow: 1px 1px black
        &:hover
          background: -webkit-gradient(linear, left top, left bottom, from(#3f74ba), to(#63a7d3))
          background: -moz-linear-gradient(top, #3f74ba, #63a7d3)
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f74ba', endColorstr='#63a7d3')
  .comments-nav
    margin: 10px 0
  .nav-previous
    float: left
  .nav-next
    float: right

// Client Profile Template
body.page-template-page-template-client-php
  #placester_fav_list_length
    float: right
    margin-top: -27px
  h1
    margin-bottom: 0
  #main-area-login
    margin: 20px 0 40px 0
    a, a:visited
      text-decoration: none
      color: #06F
      font:
        size: 16px
      padding: 20px
      &:hover
        color: black
  h3#signup-title
    font:
      size: 16pt
  p#signup-explanation
    color: #666
    margin-left: 13px
    margin-top: 5px
    font:
      size: 12pt

  aside
    margin-left: 0
    #client-details
      margin-bottom: 40px
      a
        cursor: pointer
        &#edit_profile_button, &#edit_profile_button:visited
          color: white
          margin: -26px 13px 0 0
          &:hover
            color: #666
      ul
        list-style-type: none
        padding-left: 10px
        li
          margin: 5px 0
          font:
            weight: 600
          span
            color: #666

.ui-dialog
  width: 610px !important
  .ui-widget-header
    border: none
    background: #E1E7E9
    -webkit-border-bottom-right-radius: 0
    -moz-border-bottom-right-radius: 0
    -khtml-border-bottom-right-radius: 0
    -border-border-bottom-right-radius: 0
    -webkit-border-bottom-left-radius: 0
    -moz-border-bottom-left-radius: 0
    -khtml-border-bottom-left-radius: 0
    -border-border-bottom-left-radius: 0
    h2
      margin: 5px 0
    
  #edit_profile
    background: #E1E7E9
    #edit_profile_form
      div
        width: 280px
        float: left
        margin-top: 5px
        margin-bottom: 5px
        &:nth-child(odd)
          margin-right: 10px
      label
        width: 80px
        float: left
        font:
          weight: 600
      input[type="text"]
        width: 175px
        border: 1px solid #3D6995
        color: #444
        background: white
  .ui-dialog-buttonpane
    border: none
    padding-right: 40px !important
    background: #E1E7E9
    -webkit-border-top-right-radius: 0
    -moz-border-top-right-radius: 0
    -khtml-border-top-right-radius: 0
    -border-border-top-right-radius: 0
    -webkit-border-top-left-radius: 0
    -moz-border-top-left-radius: 0
    -khtml-border-top-left-radius: 0
    -border-border-top-left-radius: 0
    margin-top: 0 !important
    button
      color: white
      font-size: 16px
      background: #f99727
      background: -webkit-gradient(linear, left top, left bottom, from(#63a7d3), to(#3f74ba))
      background: -moz-linear-gradient(top, #63a7d3, #3f74ba)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63a7d3', endColorstr='#3f74ba')
      border: 1px solid #316eac
      padding: 6px 14px 6px 14px
      font-weight: bold
      margin: 0
      cursor: pointer
      float: left
      text-shadow: 1px 1px black
      &:hover
        background: -webkit-gradient(linear, left top, left bottom, from(#3f74ba), to(#63a7d3))
        background: -moz-linear-gradient(top, #3f74ba, #63a7d3)
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f74ba', endColorstr='#63a7d3')


#pls_listings_search_results
  margin: 13px 0px 0 400px
  position: absolute

.widget_rss
  h3
    a
      color: white
      text-decoration: none
      &:hover, &:onclick
        color: #06F

  ul
    padding: 0
    list-style-type: none
    a.rsswidget, a.rsswidget:visited
      color: #06F
      text-decoration: none
      &:hover, &:onclick
        color: black

.lu
  .compliance-wrapper
    width: 100%

.compliance-wrapper
  margin-top: 20px
  float: left
  img
    float: left
    margin: 0 10px 3px 0
  p
    margin-top: 0
    font:
      size: 10px
    &.property-details-compliance
      font:
        size: 10pt
    &.inline-compliance, &.listings-widget-compliance
      // float: left
      // width: 100%
      span
        margin-right: 20px
        color: #000
        font:
          size: 12px
          weight: normal
          
section.pls-listing-property_details
  p.mls
    margin: 0 0 0 10px
    float: left


body.page-template-default
  article
    header
      float: left
      width: 100%
      padding-top: 0px
      h2
        max-width: none
        min-width: none

.aligncenter
  margin: inherit 0px
  width: auto
  clear: both
  display: block
  margin-left: auto
  margin-right: auto
.alignleft
  margin: 20px 20px 20px 0
  display: inline
  float: left
.alignright
  margin: 20px 0 20px 20px
  display: inline
  float: right

.slider-wrapper
  overflow: hidden !important
  position: relative !important
  z-index: 1px

.dataTables_processing 
  position: absolute
  background: rgba(255, 255, 255, 0.5)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9a000000', endColorstr='#9a000000')
  font-family: "Gudea", Myriad Pro, Arial
  font-size: 14px
  color: #919090


//
input, textarea
  background: #fff
  padding: 5px
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

// map listings info boxes
.map_wrapper
  #content
    h2#firstHeading
      font-size: 14px
      margin: 0 0 5px 0
    #bodyContent
      img
        padding-right: 10px
      ul
        padding: 0 10px 0 0
        list-style-type: none
        li
          margin: 0 0 5px
    .viewListing
      margin: 15px 0 5px !important
      font-size: 13px !important

.wp-caption 
  .wp-caption-text
    background: #efefef
    padding: 5px
    margin: 0

.gallery-caption 
  padding: 5%