/*  Font Awesome
  the iconic font designed for use with Twitter Bootstrap
  -------------------------------------------------------
  The full suite of pictographic icons, examples, and documentation
  can be found at: http://fortawesome.github.com/Font-Awesome/

  License
  -------------------------------------------------------
  The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
  http://creativecommons.org/licenses/by/3.0/ A mention of
  'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
  source code is considered acceptable attribution (most common on the web).
  If human readable source code is not available to the end user, a mention in
  an 'About' or 'Credits' screen is considered acceptable (most common in desktop
  or mobile software).

  Contact
  -------------------------------------------------------
  Email: dave@davegandy.com
  Twitter: http://twitter.com/fortaweso_me
  Work: http://lemonwi.se co-founder

*/

#wpcontent * {
    font-family: 'Lato', Helvetica Neue, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

@font-face {
    font-family: 'FontAwesomeWdv';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'),
        url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*  Font Awesome styles
  ------------------------------------------------------- */
[class^="wdvicon-"]:before,[class*=" wdvicon-"]:before{font-family:FontAwesomeWdv;font-weight:normal;font-style:normal;display:inline-block;text-decoration:inherit}a [class^="wdvicon-"],a [class*=" wdvicon-"]{display:inline-block;text-decoration:inherit}.wdvicon-large:before{vertical-align:top;font-size:1.3333333333333333em}.btn [class^="wdvicon-"],.btn [class*=" wdvicon-"]{line-height:.9em}li [class^="wdvicon-"],li [class*=" wdvicon-"], .action_links [class*="wdvicon-"]{display:inline-block;width:1.25em;text-align:center}li .wdvicon-large[class^="wdvicon-"],li .wdvicon-large[class*=" wdvicon-"]{width:1.875em}li[class^="wdvicon-"],li[class*=" wdvicon-"]{margin-left:0;list-style-type:none}li[class^="wdvicon-"]:before,li[class*=" wdvicon-"]:before{text-indent:-2em;text-align:center}li[class^="wdvicon-"].wdvicon-large:before,li[class*=" wdvicon-"].wdvicon-large:before{text-indent:-1.3333333333333333em}.wdvicon-glass:before{content:"\f000"}.wdvicon-music:before{content:"\f001"}.wdvicon-search:before{content:"\f002"}.wdvicon-envelope:before{content:"\f003"}.wdvicon-heart:before{content:"\f004"}.wdvicon-star:before{content:"\f005"}.wdvicon-star-empty:before{content:"\f006"}.wdvicon-user:before{content:"\f007"}.wdvicon-film:before{content:"\f008"}.wdvicon-th-large:before{content:"\f009"}.wdvicon-th:before{content:"\f00a"}.wdvicon-th-list:before{content:"\f00b"}.wdvicon-ok:before{content:"\f00c"}.wdvicon-remove:before{content:"\f00d"}.wdvicon-zoom-in:before{content:"\f00e"}.wdvicon-zoom-out:before{content:"\f010"}.wdvicon-off:before{content:"\f011"}.wdvicon-signal:before{content:"\f012"}.wdvicon-cog:before{content:"\f013"}.wdvicon-trash:before{content:"\f014"}.wdvicon-home:before{content:"\f015"}.wdvicon-file:before{content:"\f016"}.wdvicon-time:before{content:"\f017"}.wdvicon-road:before{content:"\f018"}.wdvicon-download-alt:before{content:"\f019"}.wdvicon-download:before{content:"\f01a"}.wdvicon-upload:before{content:"\f01b"}.wdvicon-inbox:before{content:"\f01c"}.wdvicon-play-circle:before{content:"\f01d"}.wdvicon-repeat:before{content:"\f01e"}.wdvicon-refresh:before{content:"\f021"}.wdvicon-list-alt:before{content:"\f022"}.wdvicon-lock:before{content:"\f023"}.wdvicon-flag:before{content:"\f024"}.wdvicon-headphones:before{content:"\f025"}.wdvicon-volume-off:before{content:"\f026"}.wdvicon-volume-down:before{content:"\f027"}.wdvicon-volume-up:before{content:"\f028"}.wdvicon-qrcode:before{content:"\f029"}.wdvicon-barcode:before{content:"\f02a"}.wdvicon-tag:before{content:"\f02b"}.wdvicon-tags:before{content:"\f02c"}.wdvicon-book:before{content:"\f02d"}.wdvicon-bookmark:before{content:"\f02e"}.wdvicon-print:before{content:"\f02f"}.wdvicon-camera:before{content:"\f030"}.wdvicon-font:before{content:"\f031"}.wdvicon-bold:before{content:"\f032"}.wdvicon-italic:before{content:"\f033"}.wdvicon-text-height:before{content:"\f034"}.wdvicon-text-width:before{content:"\f035"}.wdvicon-align-left:before{content:"\f036"}.wdvicon-align-center:before{content:"\f037"}.wdvicon-align-right:before{content:"\f038"}.wdvicon-align-justify:before{content:"\f039"}.wdvicon-list:before{content:"\f03a"}.wdvicon-indent-left:before{content:"\f03b"}.wdvicon-indent-right:before{content:"\f03c"}.wdvicon-facetime-video:before{content:"\f03d"}.wdvicon-picture:before{content:"\f03e"}.wdvicon-pencil:before{content:"\f040"}.wdvicon-map-marker:before{content:"\f041"}.wdvicon-adjust:before{content:"\f042"}.wdvicon-tint:before{content:"\f043"}.wdvicon-edit:before{content:"\f044"}.wdvicon-share:before{content:"\f045"}.wdvicon-check:before{content:"\f046"}.wdvicon-move:before{content:"\f047"}.wdvicon-step-backward:before{content:"\f048"}.wdvicon-fast-backward:before{content:"\f049"}.wdvicon-backward:before{content:"\f04a"}.wdvicon-play:before{content:"\f04b"}.wdvicon-pause:before{content:"\f04c"}.wdvicon-stop:before{content:"\f04d"}.wdvicon-forward:before{content:"\f04e"}.wdvicon-fast-forward:before{content:"\f050"}.wdvicon-step-forward:before{content:"\f051"}.wdvicon-eject:before{content:"\f052"}.wdvicon-chevron-left:before{content:"\f053"}.wdvicon-chevron-right:before{content:"\f054"}.wdvicon-plus-sign:before{content:"\f055"}.wdvicon-minus-sign:before{content:"\f056"}.wdvicon-remove-sign:before{content:"\f057"}.wdvicon-ok-sign:before{content:"\f058"}.wdvicon-question-sign:before{content:"\f059"}.wdvicon-info-sign:before{content:"\f05a"}.wdvicon-screenshot:before{content:"\f05b"}.wdvicon-remove-circle:before{content:"\f05c"}.wdvicon-ok-circle:before{content:"\f05d"}.wdvicon-ban-circle:before{content:"\f05e"}.wdvicon-arrow-left:before{content:"\f060"}.wdvicon-arrow-right:before{content:"\f061"}.wdvicon-arrow-up:before{content:"\f062"}.wdvicon-arrow-down:before{content:"\f063"}.wdvicon-share-alt:before{content:"\f064"}.wdvicon-resize-full:before{content:"\f065"}.wdvicon-resize-small:before{content:"\f066"}.wdvicon-plus:before{content:"\f067"}.wdvicon-minus:before{content:"\f068"}.wdvicon-asterisk:before{content:"\f069"}.wdvicon-exclamation-sign:before{content:"\f06a"}.wdvicon-gift:before{content:"\f06b"}.wdvicon-leaf:before{content:"\f06c"}.wdvicon-fire:before{content:"\f06d"}.wdvicon-eye-open:before{content:"\f06e"}.wdvicon-eye-close:before{content:"\f070"}.wdvicon-warning-sign:before{content:"\f071"}.wdvicon-plane:before{content:"\f072"}.wdvicon-calendar:before{content:"\f073"}.wdvicon-random:before{content:"\f074"}.wdvicon-comment:before{content:"\f075"}.wdvicon-magnet:before{content:"\f076"}.wdvicon-chevron-up:before{content:"\f077"}.wdvicon-chevron-down:before{content:"\f078"}.wdvicon-retweet:before{content:"\f079"}.wdvicon-shopping-cart:before{content:"\f07a"}.wdvicon-folder-close:before{content:"\f07b"}.wdvicon-folder-open:before{content:"\f07c"}.wdvicon-resize-vertical:before{content:"\f07d"}.wdvicon-resize-horizontal:before{content:"\f07e"}.wdvicon-bar-chart:before{content:"\f080"}.wdvicon-twitter-sign:before{content:"\f081"}.wdvicon-facebook-sign:before{content:"\f082"}.wdvicon-camera-retro:before{content:"\f083"}.wdvicon-key:before{content:"\f084"}.wdvicon-cogs:before{content:"\f085"}.wdvicon-comments:before{content:"\f086"}.wdvicon-thumbs-up:before{content:"\f087"}.wdvicon-thumbs-down:before{content:"\f088"}.wdvicon-star-half:before{content:"\f089"}.wdvicon-heart-empty:before{content:"\f08a"}.wdvicon-signout:before{content:"\f08b"}.wdvicon-linkedin-sign:before{content:"\f08c"}.wdvicon-pushpin:before{content:"\f08d"}.wdvicon-external-link:before{content:"\f08e"}.wdvicon-signin:before{content:"\f090"}.wdvicon-trophy:before{content:"\f091"}.wdvicon-github-sign:before{content:"\f092"}.wdvicon-upload-alt:before{content:"\f093"}.wdvicon-lemon:before{content:"\f094"}.wdvicon-phone:before{content:"\f095"}.wdvicon-check-empty:before{content:"\f096"}.wdvicon-bookmark-empty:before{content:"\f097"}.wdvicon-phone-sign:before{content:"\f098"}.wdvicon-twitter:before{content:"\f099"}.wdvicon-facebook:before{content:"\f09a"}.wdvicon-github:before{content:"\f09b"}.wdvicon-unlock:before{content:"\f09c"}.wdvicon-credit-card:before{content:"\f09d"}.wdvicon-rss:before{content:"\f09e"}.wdvicon-hdd:before{content:"\f0a0"}.wdvicon-bullhorn:before{content:"\f0a1"}.wdvicon-bell:before{content:"\f0a2"}.wdvicon-certificate:before{content:"\f0a3"}.wdvicon-hand-right:before{content:"\f0a4"}.wdvicon-hand-left:before{content:"\f0a5"}.wdvicon-hand-up:before{content:"\f0a6"}.wdvicon-hand-down:before{content:"\f0a7"}.wdvicon-circle-arrow-left:before{content:"\f0a8"}.wdvicon-circle-arrow-right:before{content:"\f0a9"}.wdvicon-circle-arrow-up:before{content:"\f0aa"}.wdvicon-circle-arrow-down:before{content:"\f0ab"}.wdvicon-globe:before{content:"\f0ac"}.wdvicon-wrench:before{content:"\f0ad"}.wdvicon-tasks:before{content:"\f0ae"}.wdvicon-filter:before{content:"\f0b0"}.wdvicon-briefcase:before{content:"\f0b1"}.wdvicon-fullscreen:before{content:"\f0b2"}.wdvicon-group:before{content:"\f0c0"}.wdvicon-link:before{content:"\f0c1"}.wdvicon-cloud:before{content:"\f0c2"}.wdvicon-beaker:before{content:"\f0c3"}.wdvicon-cut:before{content:"\f0c4"}.wdvicon-copy:before{content:"\f0c5"}.wdvicon-paper-clip:before{content:"\f0c6"}.wdvicon-save:before{content:"\f0c7"}.wdvicon-sign-blank:before{content:"\f0c8"}.wdvicon-reorder:before{content:"\f0c9"}.wdvicon-list-ul:before{content:"\f0ca"}.wdvicon-list-ol:before{content:"\f0cb"}.wdvicon-strikethrough:before{content:"\f0cc"}.wdvicon-underline:before{content:"\f0cd"}.wdvicon-table:before{content:"\f0ce"}.wdvicon-magic:before{content:"\f0d0"}.wdvicon-truck:before{content:"\f0d1"}.wdvicon-pinterest:before{content:"\f0d2"}.wdvicon-pinterest-sign:before{content:"\f0d3"}.wdvicon-google-plus-sign:before{content:"\f0d4"}.wdvicon-google-plus:before{content:"\f0d5"}.wdvicon-money:before{content:"\f0d6"}.wdvicon-caret-down:before{content:"\f0d7"}.wdvicon-caret-up:before{content:"\f0d8"}.wdvicon-caret-left:before{content:"\f0d9"}.wdvicon-caret-right:before{content:"\f0da"}.wdvicon-columns:before{content:"\f0db"}.wdvicon-sort:before{content:"\f0dc"}.wdvicon-sort-down:before{content:"\f0dd"}.wdvicon-sort-up:before{content:"\f0de"}.wdvicon-envelope-alt:before{content:"\f0e0"}.wdvicon-linkedin:before{content:"\f0e1"}.wdvicon-undo:before{content:"\f0e2"}.wdvicon-legal:before{content:"\f0e3"}.wdvicon-dashboard:before{content:"\f0e4"}.wdvicon-comment-alt:before{content:"\f0e5"}.wdvicon-comments-alt:before{content:"\f0e6"}.wdvicon-bolt:before{content:"\f0e7"}.wdvicon-sitemap:before{content:"\f0e8"}.wdvicon-umbrella:before{content:"\f0e9"}.wdvicon-paste:before{content:"\f0ea"}.wdvicon-user-md:before{content:"\f200"}
/* ==|== primary styles =====================================================
   Author: Victor Ivanov
   ========================================================================== */
html { height:100%; /* background: #F0F1F2 url(../images/texture.png) repeat; */ }
#wrap { height:100%; }
div.spacer { width:100%; height:0; padding-bottom:100%; float:left; }
body { font-size:14px; }
body.wpmu-dev_page_wpmudev-support div.wrap,
body.wpmu-dev_page_wpmudev-community div.wrap,
body.wpmu-dev_page_wpmudev-updates div.wrap { margin-bottom: 26px; float:left; }
b { font-weight:bold; }

/* typography
   ================================ */

.symbol {
    font-family:'FontAwesomeWdv';
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    font-smooth:always;
}

strong { font-weight: 700; font-family:inherit; }
em { font-style:normal; font-family:inherit; }
i { font-style: italic; }
h1, h2, h3, h4 { font-weight:400; }
h1 { font-size: 1.4em; margin:0 0 2px 0; font-weight:400; }
h1.rep { margin-top:20px; }
h1.section-header { font-size:3.42em; }
h1.section-header span.symbol { font-size:0.54em; vertical-align: middle; margin-right:8px; }
span.description { font-size:1em; font-style:normal; }
#poststuff div.section-contents h3 { font-size:1.7em; font-weight:700; padding:0; }
.profile-reputation small { font-size:0.8em; font-weight: 400; }
.profile-reputation span.symbol { font-size:0.7em; vertical-align: middle; }
.profile-reputation small span.symbol.reppoint { font-size:1.2em; color: #00d60f; }
.profile-img figcaption { font-size: 11px; font-weight:400; }
.profile-img { font-size:0.8em; text-align:center; }
.profile-activity table, .profile-rep-table table { font-size: 0.8em; }
.community-quote { font: normal italic 1em/1.6em 'Lato', Helvetica Neue, Helvetica, sans-serif; }
#dash-main-content > section > h1 {
    font-size:2.14em;
    width:100%;
    padding-bottom:12px;
    text-shadow: 0 1px 0 rgb(255,255,255);
    color: rgb(3,31,52);
}
#dash-main-content > section > h1 > span.symbol {
    font-size:0.8em;
    position: relative;
    top:-4px;
    margin-right:10px;
    text-shadow: 0 1px 0 rgb(255,255,255);
}

div.reason strong { color: rgb(255,255,255); }

/* colours
   ================================ */
/* light blue */
em, a, #updates-data table span.symbol, .community-quote { color: rgb(0,156,214); }

/* blue-ish white */
.profile-img a { color: rgb(230,236,241); }

/* faded blue-grey */
.profile-reputation small, .date, div.reason { color: rgb(149,159,167); }
span.description { color: rgb(109,110,113); display: block; }
/* faded purple grey */
#updates-data span.symbol { color: rgb(140,152,176); text-shadow:none; }
#dash-main-content > section > h1 > span.symbol { color: rgb(140,152,176); }
#updates-data ul li span.scoping { color: rgb(190,216,235); }
#updates-data ul li span.development { color: rgb(143,186,217); }
#updates-data ul li span.testing { color: rgb(109,142,166); }
h1.section-header span.symbol { color: rgb(140,152,176); text-shadow: 0 1px 0 rgba(255,255,255,1); }
#dash-main-content > section > a.column-search {
    color: rgb(231,238,251);
    text-shadow: 0 -1px 0 rgba(4,39,65,0.75);
    background: rgb(7,67,112); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,67,112,1) 0%, rgba(5,50,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,67,112,1)), color-stop(100%,rgba(5,50,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074370', endColorstr='#053254',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:inset 0 2px 0 rgba(30,131,208,0.4), inset 0 1px 0 rgba(5,35,58,1);
    -moz-box-shadow:inset 0 2px 0 rgba(30,131,208,0.4), inset 0 1px 0 rgba(5,35,58,1);
    box-shadow:inset 0 2px 0 rgba(30,131,208,0.4), inset 0 1px 0 rgba(5,35,58,1);
}

a.search-btn i { position: relative; right:26px; color: #8C98B0; }

::-webkit-input-placeholder {
    color: rgba(5,51,86,0.4);
}
:-moz-placeholder {
    color: rgba(5,51,86,0.4);
}

/* dark blue header */
h1.section-header { color: rgb(41,57,91); text-shadow: 0 1px 0 rgba(255,255,255,1); }
#poststuff div.section-contents h3 { color: rgb(6,66,110); }

/* generic classes
   ================================ */
input[type="checkbox"], input[type="radio"] { vertical-align: middle; margin-right: 6px; }
div#wpbody a:hover, div#wpbody a:active, div#wpbody a:focus, .wp-core-ui div#wpbody a.button-secondary:hover, a#forum-search-go:hover { color: #01b1f3; }

a#forum-search-go i {
    text-shadow:none;
    text-decoration: none;
    padding:6px 10px 2px;
    position: relative;
    top:-6px;
    right:32px;
    background: rgb(7,67,112); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,67,112,1) 0%, rgba(5,50,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,67,112,1)), color-stop(100%,rgba(5,50,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074370', endColorstr='#053254',GradientType=0 ); /* IE6-9 */
}

section.support-column a#forum-search-go i { right:0; background:none; }

h1.section-header { margin-left:1.9%; width:30%; float:left; }
h1.section-header i { font-size:0.6em; margin-right:10px; color: #8C98B0; text-shadow:0 1px 0 rgba(255, 255, 255, 1); position: relative; bottom:6px; }
h1.section-header.header-long { width:100%; }

div#footer { display: none; }
div#wpbody-content { /*background-color:#031F34;*/ background-color: transparent; padding-bottom:0; }
div#wpcontent { background:#f0f1f2 url(../images/texture.png) repeat; /*height:100%;*/ }
input[type="text"], input[type="password"], select, input.dash-search, div.wrap input[type="text"], div#wpbody input[type="text"], div#wpbody textarea {
    border: 1px solid rgba(5,51,86,0.4);
    border-radius:0;
    padding: 0px 10px;
    vertical-align: middle;
    height:30px;
    margin: 0;
    overflow: auto;
    background-color: #e6ecf1;
    box-shadow:inset 0 3px 6px rgba(204,217,225,1);
    -webkit-box-shadow:inset 0 3px 6px rgba(204,217,225,1), inset 0 -1px 0px rgba(255,255,255,0.5);
    -moz-box-shadow:inset 0 3px 6px rgba(204,217,225,1);
    color: #053356;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
}


input:focus, input.dash-search:focus, div#wpbody input:focus, div#wpbody div.ask-question-container textarea:focus {
    border: 1px solid rgba(5,51,86,1);
    outline-width:0;
}

.ui-hide-triangle, li.accordion-title span.ui-hide-triangle {
    width: 0;
    height: 0;
    margin: 4px 6px;
    padding: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left:4px solid #009cd6;
    background-color: transparent;
    float: right;
}

.ui-show-triangle, li.accordion-title span.ui-show-triangle {
    border-top: 4px solid #009cd6;
    border-bottom: 4px solid transparent;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    margin-top: 6px;
}

/* TOO BROAD? */
* { box-sizing: border-box; -moz-box-sizing: border-box; } /* box-sizing normalises the css box model across browsers */
html { height:100%; }
body.toplevel_page_wpmudev { font-size: 14px; height:100%; }
#wpbody { box-sizing: border-box; -moz-box-sizing: border-box;  }

#profile { color: #e6ecf1; padding-top:40px; height:450px; } /* temp changed while status slideup is disabled */
#profile h3 { color:#E6ECF1; }
#profile div.error { border-radius:0; border:1px dashed red; border-top:none; background:#021421; margin-top:-6px; padding-top: 20px; text-align: center;  -webkit-box-shadow: none; box-shadow: none; }
#profile.api-key-form div.error p { position: relative; top:-9px; color:red; }
#profile div.error span { position:relative; top:-23px; left:91%; font-size:1.4em; color:#d60909; text-shadow:none; }


/* MAIN DASH PAGE, USER SIGNED IN STATE */

#wpcontent, #footer { margin-left: 160px; }
/*.toplevel_page_wpmudev .folded #wpcontent, .folded #footer { margin-left: 32px; }
*/
.profile-user { width:100%; float:left; padding:0 3.7%; }
.profile-img { float: left; width:60px; }
.profile-img figure { margin:0; background-color: #003f6d; color:#fff; text-transform: uppercase; font-size:12px; }
.profile-img figure img { border: 3px solid #003f6d; width:60px; height:auto; }
.profile-img figcaption { text-align: center; padding:0; position: relative; top:-5px; line-height: 12px;}
.profile-img a { margin-top:14px; }
.profile-reputation { margin-left:4%; float:left; width:70%; }
.profile-activity { padding-left: 3.7%; }
.profile-activity table { width:100%; margin:30px 0 20px 0;  }
.profile-activity table tr { height:48px; background-color: rgb(4,36,61); }
.profile-activity table tr td { vertical-align: middle; }
.profile-activity table tr:nth-child(2n+1) { background-color: rgb(2,26,43); }
.profile-rep-table { float:left; width:100%; padding-right: 3.7%; }
.profile-rep-table table { width:100%; }

#dash-main-content > section { padding:0 1.8%; }
#dash-main-content > section > h1 >i[class^="wdvicon-"] { color: #8C98B0; margin-right:10px; text-shadow:0 1px 0 #ffffff; }
#dash-main-content > section:nth-child(3) {  border-right:1px solid rgb(228,235,242); }
#dash-main-content > section:nth-child(2) {  border-left:1px solid rgb(228,235,242); }
#dash-main-content > section > hr { border:none; border-top:1px solid rgb(228,235,242); margin-bottom:20px; }
#dash-main-content > section > input[type="text"], #suggestive-dash-search { width: 87%; float:left; border-right:none; border-radius:0; }
#dash-main-content > section > a.column-search, a.search-btn {
    width:13%;
    float:left;
    height:30px;
    padding-top:6px;
    text-align: center;
    text-decoration: none;
}
#container { background-color: transparent; width:100%; margin-left:0; margin-right:0; height:100%; min-width:858px; max-width:1400px; position:relative; float:left; }

#main { height:100%; position: relative; z-index:2; min-width:858px; /*max-width:1400px;*/ }

div#left-side-bg { width:64.5687%; background:#f0f1f2 url(../images/texture.png) repeat; height:100%; float:left;}
div#right-side-bg { width:35.4313%; margin-top:20px; background:#f0f1f2 url(../images/texture.png) repeat; height:100%; float:left; }
div#right-section-gradient {
    width:100%;
    height:0;
    padding-bottom:100%;
    background: -moz-linear-gradient(-45deg,  rgba(3,31,52,0.05) 0%, rgba(240,241,242,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(3,31,52,0.05)), color-stop(100%,rgba(240,241,242,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(3,31,52,0.05) 0%,rgba(240,241,242,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(3,31,52,0.05) 0%,rgba(240,241,242,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(3,31,52,0.05) 0%,rgba(240,241,242,0) 100%); /* IE10+ */
    background: linear-gradient(-45deg,  rgba(3,31,52,0.05) 0%,rgba(240,241,242,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d031f34', endColorstr='#00f0f1f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#dash-main-content { position: absolute; top:42px; }

/* GRID SYSTEM
   ================================ */

.grid_container { width:100%; margin-right:0; margin-left:0; padding: 0 40px;}
.left-gutter { margin-left: 3.72%; }
.right-gutter { margin-right:3.72%; }
.gutters { margin:0 3.72%; }
.column { width:15.92%; }
.col-02 { width:33%; }
.col-03 { width:48.01%; }

.column, .col-02, .col-03, .columnt, .col-02t, .col-03t { height:auto; float: left; }

/* VARIOUS JS WIDGETS
   ================================ */

/* hoverExpand table data */
table.hoverExpand { position: relative; margin-top: 30px; }
table.hoverExpand thead tr td { background-color: #021a2b; height:30px; }
table.hoverExpand tbody tr { height: 30px; position: relative; }
table.hoverExpand tbody tr:hover { background-color: #04243d; cursor:pointer; }
table.hoverExpand tbody tr.hiddenrow { position: absolute; height: 0px; display: block; z-index: 0; }
table.hoverExpand tr td { vertical-align: middle; margin:-1px 0; }
table.hoverExpand tbody tr.hiddenrow td { position: relative; display: block; margin: -1px 0; }
table.hoverExpand tbody tr td div.reason {
    display: none;
    height: auto;
    position: absolute;
    z-index: 100;
    background-color: #04243d;
    padding: 20px 10px;
    border-top: 1px dashed rgba(149,159,167,0.2);
}

/* Tooltip */
.tooltip { position: relative; color: rgb(113,128,151); }
.tooltip:hover { cursor: help; }
.tooltip section {
    display: none;
    font-size: 0.8em;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px #19272e, inset 0 1px 0 rgba(18,98,159,.6), 0 2px 5px rgba(0,0,0,.4);
    background: #073f69; /* Old browsers */
    background: -moz-linear-gradient(top,  #073f69 0%, #053355 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#073f69), color-stop(100%,#053355)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #073f69 0%,#053355 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #073f69 0%,#053355 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #073f69 0%,#053355 100%); /* IE10+ */
    background: linear-gradient(top,  #073f69 0%,#053355 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073f69', endColorstr='#053355',GradientType=0 ); /* IE6-9 */
}
.tooltipHover section { display: block; font-size:0.6em; font-weight: 400; width:200px; padding: 8px; position: absolute; left:30px; top:-10px; text-align: left; z-index: 100; }

/* the actual triangular tip */
.tooltipHover:before {
    content: '';
    display:block;
    width: 12px;
    height: 12px;
    position:absolute;
    z-index: 101;
    top: 4px;
    left: 24px;
    -webkit-transform: rotate(134deg);
    -moz-transform: rotate(134deg);
    -o-transform: rotate(134deg);
    transform: rotate(134deg);
    -webkit-box-shadow: inset -1px -1px 0 #19272e;
    -moz-box-shadow: inset -1px -1px 0 #19272e;
    box-shadow: inset -1px -1px 0 #19272e;
    background: #073f69; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #073f69 0%, #053355 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#073f69), color-stop(100%,#053355)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #073f69 0%,#053355 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #073f69 0%,#053355 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #073f69 0%,#053355 100%); /* IE10+ */
    background: linear-gradient(45deg,  #073f69 0%,#053355 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073f69', endColorstr='#053355',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.ie8 .tooltipHover:before, .ie7 .tooltipHover:before {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #073f69;
    background-color: transparent;
}

/* Updates, upgrades... */
#profile > .overlay { background-color: #031f34; display: none; opacity:0; width: 100%; height: 100%;  position: absolute; z-index:1; top:0; left:0; }
#main { width: 100%; z-index: 2; position: relative; float:left; }
#updates-data {
    width: 80%;
    max-width:1100px;
    padding:30px 4.37%;
    height: auto;
    background-color: #e6ecf1;
    z-index: 1;
    position: absolute;
    top:420px;
    left:10%;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}
#updates-data ul li { display: inline; margin-right:3%; font-style:italic; color: rgb(6,65,109); }
#updates-data ul li span.symbol { font-style: normal; font-size:1.6em; vertical-align: middle; text-shadow:none; }
#updates-data:hover { opacity: 1; top:400px; cursor: pointer; }
#updates-data.updates-data-active { top:40px; opacity: 1; cursor:normal; }
#updates-data table {width:100%; font-size: 0.8em; border-collapse:collapse; }
#updates-data table thead { border-top:1px solid #d8dfe6; border-bottom: 1px solid #d8dfe6; }
#updates-data table thead tr td { padding: 8px 0; }
#updates-data table span.symbol { font-size:1.9em; }
#updates-data table td { vertical-align: middle;}
#updates-data table tr td { padding:4px 0; }
#updates-data table td ul { margin:0; padding:0; }
#updates-data table td ul li { display: inline; margin-left:0; padding-left:0; margin:0 4px 4px 0; float: left; }
#updates-data.updates-data-active { cursor: default; }
#updates-data a.updates-fold {
    position: absolute;
    top:0;
    right:0;
    padding:15px 30px;
    background-color:rgb(237,243,248);
    border-left:1px solid rgb(216,223,230);
    border-bottom:1px solid rgb(216,223,230);
    text-decoration:none;
}
#refresh-link { text-decoration:none; }

/* Accordions */
.recent-activity-widget {
    float:left;
    width:100%;
    border: 1px solid #b2bfca;
    margin:20px 0 0 0;
    padding: 0;
}

.recent-activity-widget ul {
    margin:0;
    padding:0;
}

.main-community-topics {
    width:100%;
    border: 1px solid #b2bfca;
    padding: 0;
}

.main-community-topics ul { list-style:none; margin:0; padding:0; }
.main-community-topics ul li {
    margin:0;
    padding:0;
    border-bottom:1px solid rgba(255,255,255,0.7);
}
.main-community-topics ul li:hover { cursor:pointer; }
.main-community-topics ul li:first-child ul { display:block; }
.accordion-title {
    margin:0;
}

.accordion-title ul li { position: relative; }

.accordion-title p {
    margin: 0;
    padding: 6px 5%;
    background-color: rgb(228,234,240);
    color: rgb(140,152,176);
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    font-size:0.8em;
}
.accordion-title p a { text-decoration:none; font-size:0.7em; line-height:2.1em; vertical-align: middle; float:right; }
.main-community-topics ul li ul { display: none; }
.main-community-topics ul li ul li, .recent-activity-widget ul li ul li {
    color: rgb(0,156,214);
    border:none;
    margin-bottom:0;
    padding:10px 10% 10px 18px;
    font-size: 0.86em;
    line-height:1.4em;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(252,253,254,0) 7%, rgba(234,240,245,0.46) 50%, rgba(234,240,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(7%,rgba(252,253,254,0)), color-stop(50%,rgba(234,240,245,0.46)), color-stop(100%,rgba(234,240,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eaf0f5',GradientType=0 ); /* IE6-9 */
}
.recent-activity-widget ul li span.symbol {
    font-size: 1em;
}
.recent-activity-widget ul li i.resolved {
    color: green;
    position: absolute;
    right:4px;
    top:38%;
}
.recent-activity-widget ul li span.not_resolved {
    color: red;
}

/* PLUGIN / THEME foldout
   ================================ */
.product-foldout {  border: 1px solid #b3c1cb; float: left; margin-top:20px; width:100%; }
.product-foldout ul { float: left; width:100%; padding:0; margin:0; }
.product-foldout ul li {
    display: block;
    margin-bottom:0;
    position: relative;
    width: 100%;
    float: left;
    display: table;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(252,253,254,0) 7%, rgba(234,240,245,0.46) 50%, rgba(234,240,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(7%,rgba(252,253,254,0)), color-stop(50%,rgba(234,240,245,0.46)), color-stop(100%,rgba(234,240,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eaf0f5',GradientType=0 ); /* IE6-9 */
}
.product-foldout ul li div { float:left; display: table; width: 100%; height: auto; }
.product-foldout ul li div h5 {
    width: 100%;
    padding-left:10px;
    display: table-cell;
    vertical-align: middle;
    height:auto;
    float: left;
    color: #3ab0dd;
    font-weight:400;
    font-size:14px;
    margin: 15px 0px;
}
.product-foldout ul li div a {
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    font-size:10px;
    width:46%;
    padding-right:14px;
    color: rgba(5,51,86,0.4);
    text-align:right;
}

.product-foldout ul li div.expanded-content {
    position: absolute;
    display:table;
    background-color:#e6edf2;
    opacity: 0;
    -webkit-box-shadow: #666 0px 0px 5px;
    -moz-box-shadow: #666 0px 0px 5px;
    box-shadow: #666 0px 0px 5px;
    z-index:1;
    top:0%;
    right:-3%;
    border: 1px solid #e6edf2;
    width:106%;

}

.product-foldout ul li div.expanded-content span {
    display: table;
}

.product-foldout ul li div.expanded-content span a {
    float: left;
    width:100%;
    font-size:1.3em;
    color: #009CD6;
}
.product-foldout ul li div.expanded-content span a span {
    display: inline;
}

.product-foldout ul li div.expanded-content ul {
    padding: 0;
    margin: 0px;
    border:none;
    width:100%;
    display: none;
}

.product-foldout ul li div.expanded-content ul li {
    padding: 10px;
    margin: 0;
    width: 100%;
    border: none;
    color: rgba(5, 51, 86, 0.6);
    font-size: 14px;
    text-shadow: 0 1px 0 #ffffff;
}

.product-foldout ul li div.expanded-content ul a {
    display: block;
    width:auto;
    text-decoration: underline;
    margin-bottom:10px;
    font-size: 12px;
    color: #009cd6;
    float: right;
}

.product-foldout span.ui-hide-triangle {
    float: left;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left:3px solid #009cd6;
    background-color: transparent;
}

a.hover-to-expand > i { font-size:1.4em; position: relative; top:2px; }

/* doubleSuggest CSS */

div.ds-container input.ds-input {
    border: 1px solid rgba(5,51,86,0.4);
    padding: 14px 10px;
    margin: 0;
    overflow: auto;
    background-color: #e6ecf1;
    box-shadow:inset 0 3px 6px rgba(204,217,225,1);
    -webkit-box-shadow:inset 0 3px 6px rgba(204,217,225,1), inset 0 -1px 0px rgba(255,255,255,0.5);
    -moz-box-shadow:inset 0 3px 6px rgba(204,217,225,1);
    color: #053356;
    text-shadow: 0px 1px 0px #ffffff;
}

div.ds-container input.ds-input:focus, textarea:focus {
    border: 1px solid rgba(5,51,86,1);
    outline-width:0;
}

ul.ds-list {
    list-style:none;
    font-size: 1.1em;
    line-height:2em;
    padding: 5px;
    border-radius: 2px;
    margin: 40px auto;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(5,51,85,0.5);
    font-weight: 400;
    -webkit-box-shadow: 0 0 0 1px #19272e, inset 0 1px 0 rgba(255,255,255,.2), 0 2px 5px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 0 1px #19272e, inset 0 1px 0 rgba(255,255,255,.2), 0 2px 5px rgba(0,0,0,.4);
    box-shadow: 0 0 0 1px #19272e, inset 0 1px 0 rgba(255,255,255,.2), 0 2px 5px rgba(0,0,0,.4);
    position: absolute;
    /*z-index: 1;*/ z-index: 15; /* Increased Z-index because of the clash with images on the listings page */
    background: #07406b; /* Old browsers */
    background: -moz-linear-gradient(top,  #07406b 1%, #053355 65%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#07406b), color-stop(65%,#053355)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #07406b 1%,#053355 65%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #07406b 1%,#053355 65%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #07406b 1%,#053355 65%); /* IE10+ */
    background: linear-gradient(top,  #07406b 1%,#053355 65%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07406b', endColorstr='#053355',GradientType=0 ); /* IE6-9 */

}

ul.ds-list:before {
    content: '';
    display:block;
    width: 12px;
    height: 12px;
    position:absolute;
    background:#07406b;
    z-index: 2;
    top: -6px;
    left: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,.1), -1px -1px 0 #19272e;
    -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,.1), -1px -1px 0 #19272e;
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.1), -1px -1px 0 #19272e;
}

li.ds-result-item, li.ds-message { padding: 0 6px; cursor: pointer; position: relative; z-index: 3; border-bottom: 1px dashed #dde1e3; }
li:first-child.ds-result-item { margin: 0; }
li.ds-message { margin: 0; cursor: default; }
li.ds-result-item.active {
    border-radius: 2px;
    border: 0;
    padding: 0 16px;
    font-weight: 700;
    background: #45bbe5; /* Old browsers */
    background: -moz-linear-gradient(top,  #45bbe5 0%, #3e95cf 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45bbe5), color-stop(50%,#3e95cf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45bbe5 0%,#3e95cf 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45bbe5 0%,#3e95cf 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45bbe5 0%,#3e95cf 50%); /* IE10+ */
    background: linear-gradient(top,  #45bbe5 0%,#3e95cf 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45bbe5', endColorstr='#3e95cf',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3), inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px 0 rgba(255,255,255,.2);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.3), inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 0 0 1px rgba(0,0,0,.3), inset 0 0 0 1px rgba(255,255,255,.1), inset 0 1px 0 rgba(255,255,255,.2);
}
li.ds-result-item em { font-style: normal; background: #021a2b; padding: 0 2px; color: #fff; }
li.ds-result-item.active em { background: #253f7a; color: #fff; }

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    div.ds-container input {
        height: 19px;
    }
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    ul.ds-list {
        border: 1px solid #888;
    }
}

/* IE Hacks  */
ul.ds-list { border: 1px solid #888; }

/* Moz hacks */
@-moz-document url-prefix() {
    div.ds-container input.ds-input{
        padding: 7px 10px;
        width:100%;
    }
}

/* MANAGE DASHBOARD STATE
   ================================ */
body.wpmu-dev_page_wpmudev-settings .grid_container,
body.wpmu-dev_page_wpmudev-plugins .grid_container,
body.wpmu-dev_page_wpmudev-support .grid_container,
body.wpmu-dev_page_wpmudev-community .grid_container,
body.wpmu-dev_page_wpmudev-updates .grid_container { min-width:858px; max-width:1400px; float: left; }
body.wpmu-dev_page_wpmudev-settings { font-size:14px; }

body.wpmu-dev_page_wpmudev-settings div#wpbody-content,
body.wpmu-dev_page_wpmudev-plugins div#wpbody-content,
body.wpmu-dev_page_wpmudev-themes div#wpbody-content,
body.wpmu-dev_page_wpmudev-support div#wpbody-content,
body.wpmu-dev_page_wpmudev-updates div#wpbody-content,
body.wpmu-dev_page_wpmudev-community div#wpbody-content { background: none; padding-top:30px; }

body.wpmu-dev_page_wpmudev-updates div#wpbody-content { padding-top: 0; }

body.wpmu-dev_page_wpmudev-settings h3 a { text-decoration: none; }

td.option-label { vertical-align: top; text-align:right; font-size:1.3em; font-weight:300; padding-top:10px; }

hr.section-head-divider { position: absolute; top:83px; border:none; border-bottom:1px solid #D2DFE7; width:100% }
.section-contents { margin-top: 106px; padding: 0 3.7%; padding-left:0; }

#poststuff .inside { margin-top:16px; }
#poststuff .inside h3 { margin-bottom: 20px; }
#poststuff .inside a.button { margin-top: 20px; padding: 10px 20px 8px 20px; float: left; }

#poststuff .inside p.submit { float: left; clear:both; }
#poststuff .inside p.submit input {
    border-radius:0;
    border:none;
    background: rgb(0,187,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,187,255,1) 0%, rgba(0,156,214,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,187,255,1)), color-stop(100%,rgba(0,156,214,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,187,255,1) 0%,rgba(0,156,214,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,187,255,1) 0%,rgba(0,156,214,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,187,255,1) 0%,rgba(0,156,214,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(0,187,255,1) 0%,rgba(0,156,214,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbff', endColorstr='#009cd6',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 20px 0 20px;
    height: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.9);
    color: #ffffff;
    letter-spacing: 1px;
}

#poststuff .inside p.submit input: hover {
    background: rgb(25,193,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(25,193,255,1) 0%, rgba(31,163,211,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,193,255,1)), color-stop(100%,rgba(31,163,211,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(25,193,255,1) 0%,rgba(31,163,211,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(25,193,255,1) 0%,rgba(31,163,211,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(25,193,255,1) 0%,rgba(31,163,211,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(25,193,255,1) 0%,rgba(31,163,211,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19c1ff', endColorstr='#1fa3d3',GradientType=0 ); /* IE6-9 */
}

.form-table { margin:50px 0 40px 0; }
.form-table label { display: block; height:24px; }
table.form-table span.description i { position: relative; top:4px; }
.form-table td { border: 0; }

#allowed-users { float:right; width:40%; color:#6D6E71; }
#allowed-users-tooltip { float: right; font-size: 1.3em; margin-top: 10px; margin-right:7px; }
#allowed-users-tooltip.tooltipHover section { font-size:0.9em; width:350px; line-height:1.3em; }
#allowed-users-tooltip.tooltipHover section code { font-size:0.8em; color:#000; }

#membership-details { margin-bottom: 30px; width:48%; float:left; margin-right:4%; }
#membership-details h3, #subscription-info h3 {
    font-weight: 400;
    color: #29395B;
}
#membership-details small a {
    text-decoration:none;
}
#settings { margin-bottom: 40px; }
#settings h2 {
    font-weight: 600;
    color: #29395B;
    text-shadow: 0 1px 0 #FFFFFF;
}
#settings h3 small { font-size: .7em; }

#settings span.tooltip { font-size: 0.7em; }
#settings .tooltipHover section { font-size:1em; width:550px; line-height:1.3em; }
#settings .tooltipHover section code { font-size:0.8em; color:#000; }
#subscription-info {
    color: #6D6E71;
    width:48%;
    float: left;
    font-size: 1em;
    font-style: normal;
}
#subscription-info strong {
    color: #29395B;
    font-weight: 600;
    letter-spacing: 0;
}
#subscription-info ul {
    list-style:square inside none;
    margin-left: 0px;
}
#subscription-info ul li {
    display: list-item;
    font-size: 0.8em;
}

/* PLUGIN / THEME LISTINGS
   ================================ */

body.wpmu-dev_page_wpmudev-plugins div.wrap,
body.wpmu-dev_page_wpmudev-themes div.wrap { margin-bottom: 26px; float:left; }

div.listing-form-elements { width:64.2%; float:right; }


div.registered_error { border:none; overflow: auto; position: relative; width: 100%; background: transparent; padding-bottom: 15px; }
div.registered_error p {
    width: 88%;
    background: rgba(2, 26, 43, 1);
    color: white;
    border: none;
    border-radius: 0;
    font-size: 110%;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    margin-left: 5%;
}
div.registered_error:after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    left: 50%;
    background: rgba(2, 26, 43, 1);
    color: rgba(2, 26, 43, 1);
}

div.registered_error p > i { font-size: 110%; color: red; margin-right: 10px; }
div.registered_error p > em { font-size: 90%; color: white; font-style: italic; }

div.info_error { border:none; overflow: auto; position: relative; width: 100%; background: transparent; padding-bottom: 15px; }
div.info_error p {
    width: 88%;
    background: rgba(2, 26, 43, 1);
    color: white;
    border: none;
    border-radius: 0;
    font-size: 110%;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    margin: 0 auto;
    z-index: 2;
}
div.info_error:after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    left: 10%;
    background: rgba(2, 26, 43, 1);
    color: rgba(2, 26, 43, 1);
}

body.wpmu-dev_page_wpmudev-plugins div.wrap div.listing-form-elements,
body.wpmu-dev_page_wpmudev-themes div.wrap div.listing-form-elements { position:relative; top:-20px; }
div.listing-form-elements label { font-size:0.9em; color:#9ea0a3; }
div.listing-form-elements table { width:100%; }
div.listing-form-elements table tr td { padding: 0 10px; }
div.listing-form-elements table select { width:100%; border-radius:0; }
div.listing-form-elements table input { float:left; width:100%; margin:0; }
div.listing-form-elements table a.search-btn { width:0%; margin:0; }
div.listing-form-elements table h1#results-count { color: rgb(41,57,91); text-shadow: 0 1px 0 rgba(255,255,255,1); font-size:2.2em; font-weight:400; margin-top:5px; text-align:center; }
div.grid_container {  }

div.listing-divider, div.listing-divider2 { width:1px; height:100%; position: absolute; top:0; left:32.6%; float:left; background-color: rgb(229,236,240); z-index:3; }
div.listing-divider2 { left:65.3%; }

div.listings-container {
    width:100%;
    margin-right:0;
    float:left;
    height:auto;
    margin-top:0;
}

div.listings {
    width:100%;
    padding:0;
    float: left;
    position: relative;
}
div.listings ul { width:100%; display:inline-block; margin:0; padding:0; text-align:left; }
div.listings ul li {
    display: inline;

}
div.listings ul li div {
    display:inline-block;
    width:33%;
    padding-bottom: 14px;
    margin:0;
    text-align:center;
    vertical-align: top;
    padding:0 2%;
    opacity:1;
    cursor:pointer;
}
#listing-description ul { width:100%; display:block; text-align:left; list-style:disc outside none; }
#listing-description ul li, #listing-description ol li {
    display: list-item;
    color: #BDBDBD;
    font-size: 1.1em;
    line-height: 1.2em;
}

div.install_wrap { position: relative; }
div.listings ul li div.hover-gradient {
    position: absolute;
    opacity:0;
    bottom:-23px;
    border:none;
    left:0;
    border-bottom:1px solid rgb(179,185,189);
    z-index:1;
    height:300px;
    width:100%;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.4);
}
div.listings ul li div h1 { font-size:1.75em; font-weight:400; color: rgb(0,156,214); margin-top: 14px; line-height:1.2em; }
div.listings ul li div img { margin-top:14px; }
div.listings ul li div p { margin-bottom: 85px; font-size:1em; }
div.listings ul li div.install_wrap { vertical-align: bottom; width:32.5%; margin-left:-33.3%; border:none; margin-bottom:20px; min-height:54px; }
div.listings ul li.installed div.install_wrap { min-height:42px; }

div.listings ul li div.install_wrap span.button-installed { background:none; background-color: transparent; border-radius:0; color:green; text-shadow:none; } /* need to style this up better */
div.listings ul li div.install_wrap span.button-incompatible { background:none; background-color: transparent; border-radius:0; color:#ccc; text-shadow:none; } /* need to style this up better */
div.listings ul li div.install_wrap span.button.error { color:red; } /* need to style this up better */
div.listings ul li div.install_wrap a.button span.symbol { border-bottom:3px solid; padding-left:2px; position: relative; top:-2px; }
div.listings ul li div.install_wrap span.button span.symbol { padding-left:2px; position: relative; }
div.listings ul li div.listing,
div.listings ul li div.listing img,
div.listings ul li div.install_wrap a,
div.listings ul li div.install_wrap span,
div.listings ul li p { position: relative; z-index:10; }

div.install_wrap > div.listing-hr { margin-top:20px; border-bottom: 1px solid rgb(229,236,240); position:absolute; bottom:-23px; width:100%; left:0; }
div.listings i.wdvicon-download { font-size:1.2em; margin-right:0px; margin-left:-2px; position: relative; top:2px; }
/* LISTING DETAILS */
#loading-details {
    margin: 150px auto;
    padding-bottom: 30px;
    background: transparent url(../images/loading.gif) bottom center no-repeat scroll;
    color: #DDE1E3;
    font-size: 1.8em;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
div.listing-details-wrapper {
    height:auto;
    background-color:#031F34;
    margin-top:0;
    width:100%;
    float:left;
    position: relative;
    display:none;
    z-index:10;
}

div.full-width-dummy {
    background-color: #031f34;
    width:100%;
    position: absolute;
    z-index:0;
    left:0;
}

div.listing-details-content {
    padding:40px 3%;
    float: left;
}

div.listing-details-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(2,26,43,0.9);
    z-index:20;
    display:none;
}

div.overlay-details { float: left; width:100%; padding: 85px 0 0 0; position: relative; }
div.overlay-details > a.symbol { position: absolute; top:45px; right:30px; }

div.overlay-details > a > i.wdvicon-remove {
    /* position: absolute; */
    /*top:45px;
    right:30px;*/
    font-size:1.9em;
    text-decoration:none;
    color:#ffffff;
}

div.overlay-details .screenshot-description { width:16%; margin-right:3.7%; float:right; text-align:right; color:rgb(221,225,227);  }
div.overlay-details .screenshot-description span.image-of { font-size:3em; font-weight:700; }
div.overlay-details .screenshot-description p.screenshot-description { width:100%; margin:15px 0 40px 0; float:right; font-size:1.1em; line-height:1.5em; padding-top:10px; border-top: 1px solid;  }
div.overlay-details .screenshot-container { max-width:80%; float:right; }
div.overlay-details .screenshot-container img { float:right; width:100%; max-height:555px; }

div.screenshot-description .screenshot-nav { width:100%; }
div.screenshot-description .screenshot-nav a {
    width:49%;
    margin-right:1px;
    float: left;
    text-align: center;
    padding: 30px 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(255,255,255);
    text-decoration: none;
    font-size:1.5em;
}

div.screenshot-description .screenshot-nav a.faded { background-color: rgba(255, 255, 255, 0.2); color: rgba(255,255,255, 0.5); }

.listing-copy { float: left; width:67%; }
.listing-copy div#listing-description {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.listing-copy div#listing-description em { color:#B8CBD6; font-style:italic; }

.listing-copy div#listing-description p,
.listing-copy h1,
.listing-copy h3 { text-align:left; }
.listing-copy strong { letter-spacing:0px; color: #B8CBD6; }

.listing-copy h1 { font-weight:700; font-size: 2.2em; color:#dde1e3; }
.listing-copy h3 { color: #a2b3bd; font-size: 1.3em; line-height:1.5em; font-weight:400; }
.listing-copy p { font-size:1.1em; color:#bdbdbd; line-height:1.3em; }
.listing-copy p strong { color: #b8cbd6; }

.listing-copy div.desc-links { clear: both; float: left; margin:40px 0; text-align:left; min-width:475px; }
.listing-copy div.desc-links { color:#bdbdbd; }
.listing-copy div.desc-links a {  margin: 0 20px; }
.listing-copy div.desc-links a span.symbol { border-bottom: 3px solid; padding-left:2px; position: relative; top:-2px; }

.listing-screens { float:right; width:22%; }
.listing-screens ul li { display: block; margin-bottom: 20px; width:100%; height: auto; }

.listing-screens a.close-plugin-details { color: rgba(255,255,255, 0.8); text-decoration:none; float: right; margin-bottom: 60px; }
.listing-screens a.close-plugin-details i { font-size:1.9em; position: relative; top:5px; margin-left:5px; }

#no-results {
    text-align: center;
    margin: 100px 0;
    color: #29395B;
    font-size: 1.4em;
    display: none;
}
#no-results h1 {
    font-weight: 500;
    font-size: 2.2em;
    margin-bottom: 30px;
    text-shadow: 0 1px 0 #FFFFFF;
}

/* Install popup warning */
#_install_setup-wrapper, #_install_setup-auto_install-wrapper {
    background: #F0F1F2 url(../images/texture.png) repeat;
    padding: 20px;
    text-align:center;
}
#_install_setup-wrapper p { float: left; width: 100%; margin-top: 0; }
#_install_setup-wrapper div { clear: both; margin-bottom: 15px; }
#_install_setup-wrapper a._install_setup-close, #_install_setup-auto_install-wrapper a._install_setup-close, #_install_setup-auto_install-wrapper a._install_setup-info {
    float: right;
    text-decoration: none;
    font-size: 0.9em;
    clear:both;
}

#_install_setup-wrapper .install_instructions { margin-left:30px; }
#_install_setup-wrapper .intro { font-size:1.4em; line-height:1.2em; margin-top:4px; }
#_install_setup-wrapper .hide-box { margin-top:14px; margin-left:10px; float:left; }
._install_setup-close i { float:right; margin-left: 7px; position: relative; top:1px; }
#_install_setup-auto_install-wrapper p { font-size:1.4em; line-height:1.2em; margin-top:20px; }
#_install_setup-auto_install-wrapper code { clear:both; font-size:1em; }
#_install_setup-auto_install-wrapper a._install_setup-info { float:none; font-size:1em; margin-top:10px; }

/* SUPPORT
   ================================ */
body.wpmu-dev_page_wpmudev-support h2, h3 { color: #29395B; }
body.wpmu-dev_page_wpmudev-support a.nav-tab { border-radius:0; padding:14px 30px 15px; font-size:1em; background-color:#f1f2f3; }
body.wpmu-dev_page_wpmudev-support a.nav-tab.nav-tab-active { border-bottom:1px solid #f9f9fa; background-color:transparent; }
body.wpmu-dev_page_wpmudev-support h3 { font-weight:400; }

body.wpmu-dev_page_wpmudev-support h1.section-header,
body.wpmu-dev_page_wpmudev-support h2.section-header { font-size: 2.3em; font-weight: 700; color: #29395B; margin: 0.83em 0; }
body.wpmu-dev_page_wpmudev-support h1.section-header i,
body.wpmu-dev_page_wpmudev-support h2.section-header i { font-size:0.8em; margin-right:10px; color: #8C98B0; text-shadow:0 1px 0 rgba(255, 255, 255, 1); position: relative; bottom:3px; }

body.wpmu-dev_page_wpmudev-support div.listing-form-elements { margin-top: 24px; }

div.support-container,
div.community-container { margin-top: 30px; }

div.ask-question-container { float: left; width: 777px; margin-top: 44px; }
div.ask-question-container h1 { font-weight:700; color:rgb(41,57,91); text-shadow:0 1px 0 #ffffff; line-height:1.4em; margin-bottom:30px; font-size: 2.1em; }
div.ask-question-container .error { margin:0; border-radius: 3px 3px 0 0; }

div.your-latest-q-and-a { max-width:32%; margin-top:45px; margin-left:777px; }

div.ask-question-container table td { padding: 5px; }
div.ask-question-container table td input,
div.ask-question-container table td select,
div.ask-question-container table td textarea { width:100%; }
div.ask-question-container table td a.button { padding:10px 30px; }
div#wpbody div.ask-question-container table td textarea { resize: vertical; height:240px; padding:6px; }
div#wpbody div.ask-question-container table td input[type="checkbox"] { width:auto; }
select#q-and-a optgroup option { padding-left:10px; text-shadow:none; }
p.caution-note { margin:0 0 5px; font-size:80%; color: #29395B; }
label#notify-me { float: right; }
li#qa-tips {
    border:none;
    margin:0;
    padding: 0 10px 10px 10px;
    color: #29395B;
    font-size: 0.9em;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(252,253,254,0) 7%, rgba(234,240,245,0.46) 50%, rgba(234,240,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(7%,rgba(252,253,254,0)), color-stop(50%,rgba(234,240,245,0.46)), color-stop(100%,rgba(234,240,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(252,253,254,0) 7%,rgba(234,240,245,0.46) 50%,rgba(234,240,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eaf0f5',GradientType=0 ); /* IE6-9 */
}
#qa-tips ol li {
    margin-bottom: 5px;
    border:none;
    padding:0;
    line-height:1em;
    color: #29395B;
    font-size: 0.9em;
    background: transparent;
}
body.wpmu-dev_page_wpmudev-support table.wpmudev-debug thead tr th {
    font-size:0.85em;
    border-radius:0;
    background:none;
    background-color: #E6ECF1;
    color:#29395B;
    border-top:0;
    padding-left: 15px;
}
body.wpmu-dev_page_wpmudev-support table.wpmudev-debug tbody th { padding-left: 20px; }
body.wpmu-dev_page_wpmudev-support table.wpmudev-debug table td { padding: 1px; }
body.wpmu-dev_page_wpmudev-support table.wpmudev-debug tbody tr { border-bottom: 1px solid #e5e5e5 }

/* COMMUNITY
   ================================ */
body.wpmu-dev_page_wpmudev-community #wpbody-content { text-shadow:0 1px 0 #ffffff; }
body.wpmu-dev_page_wpmudev-community div.listing-form-elements { width:36%; }
body.wpmu-dev_page_wpmudev-community h1.section-header { width:60%; }
body.wpmu-dev_page_wpmudev-community h1.section-header span.symbol { margin-right: 0; font-size:0.7em; position:relative; bottom:5px; }
div.community-content { padding: 0 3.7%; width:100%; float:left; }
div.community-reputation, div.community-quote { width:47%; float:left; }
div.community-quote { margin-left:6%; font-size:1.2em; line-height:1.9em; }
div.community-container h1 { font-weight:700; color:rgb(6,66,110); font-size:1.7em; margin-bottom:0.64em; }
div.community-reputation span.symbol { font-size:1.3em; color: rgb(0,156,214); text-shadow:0 -1px 0 #ffffff; }
div.community-reputation span.rep-points { display:block; margin-top:1em; color:rgb(166,166,166); }
div.community-reputation span.number-of-points { color: rgb(95,95,95); }

div.your-recent-topics, div.most-popular-topics { width:100%; float:left; padding: 0 3.7%; margin:40px 0 50px 0; }
div.most-popular-topics { margin-top:0; }
table.your-recent-topics thead tr td { box-shadow:inset 0 -1px 0px #ffffff; background-color: #e6ecf1; padding:5px 0; font-size:0.86em; color: rgb(41,57,91); border-bottom:1px solid #dce1e6; }
table.your-recent-topics tbody tr td,
div.most-popular-topics > ul > li > ul > li table tbody tr td { padding:14px 0; background-color: rgba(245,248,250,0.5); border-bottom:1px solid #e2e8ee; }
table.your-recent-topics tbody tr:nth-child(2n+2) td,
div.most-popular-topics > ul > li > ul > li table tbody tr:nth-child(2n+2) td { background-color: rgba(239,242,245,0.5); }
table.your-recent-topics tbody a ,
div.most-popular-topics tbody a { text-decoration:none; }
table.your-recent-topics tbody span,
div.most-popular-topics tbody span { font-size:0.8em; color:#053356; }
div.most-popular-topics > ul > li {
    width:100%;
    border-top: 1px solid #87b4d4;
    border-bottom:1px solid #ffffff;
    display: block;
    margin: 0;
    float: left;
    padding-top:20px;
    padding-bottom:0px;
    background: rgb(195,217,235); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(195,217,235,1) 0%, rgba(204,225,240,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(195,217,235,1)), color-stop(100%,rgba(204,225,240,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(195,217,235,1) 0%,rgba(204,225,240,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(195,217,235,1) 0%,rgba(204,225,240,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(195,217,235,1) 0%,rgba(204,225,240,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(195,217,235,1) 0%,rgba(204,225,240,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9eb', endColorstr='#cce1f0',GradientType=0 ); /* IE6-9 */
}
div.most-popular-topics > ul > li:hover { cursor:pointer; }
div.most-popular-topics > ul > li > h1 { font-weight:400; float:left; width:60%; margin: 0 0 0 2.8% }
div.most-popular-topics > ul > li > a.button { float:right; padding:8px 20px 6px 20px; position: relative; top: -6px; margin-right:2.8%; }
div.most-popular-topics > ul > li > ul { margin-top:40px; }
div.most-popular-topics > ul > li > ul > li { background-color: #ffffff; margin-bottom: 0; }
div.most-popular-topics > ul > li > ul > li table thead tr td {  background-color: #98caee; padding:5px 0; font-size:0.9em; color: rgb(255,255,255); border-bottom:1px solid #87b4d4; text-shadow:0 -1px 0 #7ca7c6; }


/* UPDATES SECTION
   ================================ */
body.wpmu-dev_page_wpmudev-updates #wpcontent div.wrap { width:100%;margin-left:0;margin-right:0; }
body.wpmu-dev_page_wpmudev-updates div.wrap h2, h3 { color: #29395B; }
body.wpmu-dev_page_wpmudev-updates div.wrap a.nav-tab { border-radius:0; padding:14px 30px 15px; font-size:1em; background-color:#f1f2f3; }
body.wpmu-dev_page_wpmudev-updates div.wrap a.nav-tab:first-child { border-left:0; }
body.wpmu-dev_page_wpmudev-updates div.wrap a.nav-tab.nav-tab-active { border-bottom:1px solid #f9f9fa; background-color:transparent; }
body.wpmu-dev_page_wpmudev-updates div.wrap h3 { font-weight:400; }
body.wpmu-dev_page_wpmudev-updates div.wrap table { background-color: transparent; border-radius:0; border-color:transparent; }
body.wpmu-dev_page_wpmudev-updates div.wrap table thead tr th {
    font-size:0.85em;
    border-radius:0;
    background:none;
    background-color: #E6ECF1;
    color:#29395B;
    border-top:0;
}
body.wpmu-dev_page_wpmudev-updates div.wrap table thead tr th:first-child { width:50%; }
body.wpmu-dev_page_wpmudev-updates div.wrap table thead tr th:nth-child(3),
body.wpmu-dev_page_wpmudev-updates div.wrap table thead tr th:nth-child(4),
body.wpmu-dev_page_wpmudev-updates div.wrap table thead tr th:nth-child(5) { text-align:center; }
body.wpmu-dev_page_wpmudev-updates div.wrap table tbody tr td img { padding:0; margin:10px; }
body.wpmu-dev_page_wpmudev-updates div.wrap table tbody tr td:nth-child(3),
body.wpmu-dev_page_wpmudev-updates div.wrap table tbody tr td:nth-child(4) { text-align:center; }
body.wpmu-dev_page_wpmudev-updates div.updates-container { padding-top:40px; }
body.wpmu-dev_page_wpmudev-updates div.updates-container span.symbol { text-shadow:none; }
body.wpmu-dev_page_wpmudev-updates div.updates-container ul { margin-bottom:40px; }
body.wpmu-dev_page_wpmudev-updates div.updates-container ul li { display: inline; margin: 14px 14px 0 0; float:left; }
body.wpmu-dev_page_wpmudev-updates div.updates-container table { width:100%; margin-top:20px; font-size:1.1em; float:left; }
body.wpmu-dev_page_wpmudev-updates span.scoping,
body.wpmu-dev_page_wpmudev-updates span.development,
body.wpmu-dev_page_wpmudev-updates span.testing { font-size:1.4em; position: relative; top: 2px; }
body.wpmu-dev_page_wpmudev-updates div.updates-container table tr td span.symbol { font-size:2.4em; }
body.wpmu-dev_page_wpmudev-updates div.updates-container ul li span.scoping { color: rgb(190,216,235);}
body.wpmu-dev_page_wpmudev-updates div.updates-container ul li span.development { color: rgb(143,186,217); }
body.wpmu-dev_page_wpmudev-updates div.updates-container ul li span.testing { color: rgb(109,142,166); }

body.wpmu-dev_page_wpmudev-updates a.upgrade-all {
    float: right;
    padding:6px 10px;
    display: inline-table;
    margin-bottom: 10px;
}

tr.wdv-update td, tr.wdv-changelog td { background-color: rgba(239,242,245,0.5); }
tr.wdv-changelog td { background:none; background-color: rgb(239, 247, 255); }

a.button-secondary { padding:6px 10px }
div#wpbody a.button-secondary:hover { color:#ffffff; }

div.wdv-changelog-drop > p { padding:10px 20px; }

/* MAIN DASH, ENTER API KEY
   ================================ */
section#profile.api-key-form { padding-top:0; padding-top:20px; }
section#profile.api-key-form div.col-02 { padding:0 1.8%; }
section#profile.api-key-form h3 { font-size:1.4em; line-height:1.3em; font-weight:700; margin-top:0; }
/*section#profile.api-key-form p { font-size:1.1em; color:#959fa7; }*/
section#profile.api-key-form input#wpmudev_apikey { height:40px; }
section#profile.api-key-form input[type="submit"] { margin-top:10px; text-align:left; padding:12px 20px; height:auto; box-shadow:none;  color: rgb(231, 238, 251); text-shadow:0 -1px 0 black; font-size:1.3em; float:right; }
input#wpmudev_apikey { width:100%; }

section#profile.api-key-form .get-api-form { width: 66%; float:left; padding:0 1.8%; padding-bottom:20px; }
section#profile.api-key-form .get-api-form h3 { font-weight:400; color:#d8e6f2; }
section#profile.api-key-form .get-api-form input { margin: 0 10px 10px 0; width:30%; }
form#get-your-api-key { width:100%; }
form#get-your-api-key input { display: inline; width:31%; margin-right:2%; }
section#profile.api-key-form p.small-desc { font-size:0.9em; color:#D8E6F2; }
div.get-api-form { border-left: 1px solid rgba(149, 159, 167, 0.3); }
#profile div.get-api-form a.button { padding:12px 40px; font-size:1.2em!important; height:auto; margin-bottom: 20px; }

/* CSS ANIMATION
   ================================ */

#updates-data, #updates-data:hover, input {
    -webkit-transition : all ease-in-out 0.2s;
    -moz-transition : all ease-in-out 0.2s;
    transition : all ease-in-out 0.2s;
    -ms-transition : all ease-in-out 0.2s;
}

#updates-data {
    -webkit-transition : all ease-in-out 0.3s;
    -moz-transition    : all ease-in-out 0.3s;
    -o-transition      : all ease-in-out 0.3s;
    -ms-transition     : all ease-in-out 0.3s;
    transition         : all ease-in-out 0.3s;
}

#updates-data.updates-data-active {
    -webkit-transition : all ease-in-out 0.3s;
    -moz-transition : all ease-in-out 0.3s;
    transition : all ease-in-out 0.3s;
    -ms-transition : all ease-in-out 0.3s;
}


body.folded div#wpcontent { margin-left:37px; }

body.wpmu-dev_page_wpmudev-settings.folded .grid_container,
body.wpmu-dev_page_wpmudev-plugins.folded .grid_container {
    width: 758px;
    min-width: 758px;
    max-width: 758px;
}
/* ==|== non-semantic helper classes ======================================== */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Updates page */
.wdv-update td {
    border-style: dashed;
    border-width: 1px 0;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(223, 223, 223);
    background-color: #FDFCDC;
}
.wdv-changelog td {
    padding-bottom: 0;
    padding-top: 0;
    background-color: #FDFCDC;
    background: -moz-linear-gradient(top,  #FDFCDC 50%, #FCF6CF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#FDFCDC), color-stop(100%,#FCF6CF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #FDFCDC 50%,#FCF6CF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #FDFCDC 50%,#FCF6CF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #FDFCDC 50%,#FCF6CF 100%); /* IE10+ */
    background: linear-gradient(top,  #FDFCDC 50%,#FCF6CF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDFCDC', endColorstr='#FCF6CF',GradientType=0 ); /* IE6-9 */
}
.wdv-changelog-drop {
    display: none;
}
.wdv-view-link, .wdv-close-link {
    text-align: center;
    font-size: 11px;
}

td.wdv-links { font-size: 12px; }

.wdv-installed td { border-bottom: 1px solid #e6e6e6; }
.wdv-installed { background: #f2f3f3; }
.wdv-installed.alternate { background: #fcfcfc; }

/* reputation badges classes rep-bagdes.png */

.profile-reputation-badge {
    width:30px;
    height:30px;
    float:left;
    background: url(../images/rep-bagdes.png) no-repeat;
    position: relative;
}

/* user reputation level */

.ul-10 { background-position: -30px 0; }
.ul-50 { background-position: -60px 0; }
.ul-200 { background-position: -90px 0; }
.ul-500 { background-position: -120px 0; }
.ul-500plus { background-position: -150px 0; }

/* user help & support level */

.us-5 { background-position: 0px -30px; }
.us-10 { background-position: -30px -30px; }
.us-20 { background-position: -60px -30px; }
.us-20plus { background-position: -90px -30px; }

/* life-time member */

.lifetime { background-position: -120px -30px; }

/* reputation badge tooltip */

.profile-reputation-badge section {
    display: none;
    position: absolute;
    width: 100px;
    padding: 4px;
    font-size: 0.85em;
    text-align: center;
    color: rgb(207, 223, 229);
    background: rgb(0, 58, 102);
    border: none;
    border-radius: 3px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
    box-shadow: rgba(0, 0, 0, 0.0976563) 1px 1px 2px 0px;
    top:34px;
    left:-110%;
    z-index:1;
}

.profile-reputation-badge section:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #003A66 transparent;
    top: -15px;
    left: 38%;
}

.profile-reputation-badge:hover section {
    display: block;
}


/**
 * This class is dynamically added to /removed from
 * project LIs manipulated by the search filter.
 * The !important part is needed to make sure the "hidden"
 * LI remains hidden while the filter is in the effect -
 * it's either that, or some super-specific selector.
 */
.search-hidden { display:none !important; }

.target .error .tooltip section p {
    margin: 1em;
}

/* ==================================================
   new ux design
   global sprite img path: url(../images/dev-sprite-01.png);
   ================================================== */

/* various small fixes */
div.listing-form-elements .free_projects label { font-weight: 700; color: #29395B; text-transform: uppercase; }
.free_projects { position: relative; top: 10px; padding: 4px; border-top: 1px solid #29395B; border-bottom: 1px solid #29395B; float: right; margin-right: 10px; }
.wp-menu-image { position: relative; z-index: 100; }
a.search-btn, a.btn { text-decoration: none; }
div.support-container { margin-top: 0; }
.tag-upgrade { background: url(../images/tag-upgrade.png); width: 126px; height:126px; display: block; position: absolute; right:-10px; top:-10px; z-index: 10;  }
.promotional { position: relative; z-index: 10; }

/* rules for no 1st step, (Create Account) */
.toplevel_page_wpmudev div#wpcontent { background: none; background-color: #07273f; }
.toplevel_page_wpmudev ul#adminmenu a.wp-has-current-submenu:after,
.toplevel_page_wpmudev ul#adminmenu > li.current > a.current:after { border-right-color: #07273f; }
#container { max-width: 100%; }
#profile.step1, #profile.free-user, .blue-gradient {
    /*width:995px;*/
    border-bottom: 1px solid #082e4c;
    width: 100%;
    height: auto;
    margin:0 auto;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSI1MCUiIGN5PSI1MCUiIHI9IjUwJSIgPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDcyOTQzIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiMwNzI5NDMiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMzFmMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgo8L3JhZGlhbEdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-radial-gradient(top center, circle, #072943 0%, #072943 40.36%, #031f33 100%);
    background-image: -o-radial-gradient(top center, 350px 350px, #072943 0%, #072943 40.36%, #031f33 100%);
    background-image: -webkit-radial-gradient(top center, 350px 350px, #072943 0%, #072943 40.36%, #031f33 100%);
    background-image: radial-gradient(top center, 350px 350px, #072943 0%, #072943 40.36%, #031f33 100%);
}

#api-signup fieldset,
#api-login fieldset  { width: 485px; margin: 0 auto; }
#support-form fieldset { width: 800px; margin:0; }

#api-signup,
#api-login { width: 100%; margin: 20px auto 44px auto; color: #95a6b3; }

#api-signup ol,
#api-login ol,
#support-form ol,
#qa-form ol { list-style: none; margin: 0; position: relative; left:-40px; }
#support-form ol, #qa-form ol { left:0px; margin-top: 44px; }
#qa-form ol { margin-top: 0; }

#api-signup li,
#api-login li,
#support-form li,
#qa-form li { clear:both; margin-bottom:22px; position: relative; }
#qa-form li { margin-bottom: 0; }

#api-signup li div,
#api-login li div,
#support-form li div,
#qa-form li div.wrap { display: table; float: left; height: 44px; }
#qa-form li div.wrap { width: 30%; margin:0 25px 0 0; }

#api-signup legend,
#api-login legend,
#support-form legend { color: #edf3f8; font-size: 48px; width: 100%; display: block; line-height: 44px; font-weight: 200; margin-bottom: 40px; text-align: center }
#qa-form legend { margin-bottom: 44px; }

#api-signup legend b,
#api-login legend b { font-weight: 400; }

#api-signup legend small,
#api-login legend small,
#support-form legend small { font-size: 24px; font-weight: 400; color: #95a6b3; }
#support-form legend small { font-size: 20px; line-height: 26px; width:540px; display: block; margin:22px auto; }

#api-signup label,
#api-login label,
#qa-form label,
#support-form label { text-align: right; margin-right: 25px; width: 110px; font-size:16px; line-height:22px; display: table-cell; vertical-align: middle; }
#support-form label { width: 220px; }
#qa-form label { width: 30%; }

div#wpbody #api-signup input,
div#wpbody #api-login input,
div#wpbody #support-form input,
#qa-form input[type="text"],
div#wpbody #support-form textarea { width:315px; border-radius: 0; height: 44px; border: 3px solid #003f6d; background-color: #9bb0bd; box-shadow: none; opacity: 0.8; padding: 0 15px; font-size: 18px; color: #00355e; position: relative; margin-left: 25px; }
div#wpbody #support-form textarea { height: 300px; }
#qa-form input[type="text"], #qa-form textarea { width: 60%; }
#qa-form input[type="checkbox"] { margin-left: 0; margin-top: 14px; }
div#wpbody #qa-form textarea { height: 300px; padding: 15px; resize: none; }
div#wpbody #api-signup input:hover,
div#wpbody #api-login input:hover  { opacity: 1; }

div#wpbody #api-signup input:focus,
div#wpbody #api-login input:focus { opacity: 1; }

.cta-wrap { width:315px; text-align: center; margin-left: 135px; font-size: 18px;  }

.validation { position: absolute; right: -216px; top: 0; width: 230px; display: block; color: #198f22; }
.validation.error { color: #c31014; font-size: 14px; }
.validation > span { font-size: 24px; position: absolute; top:13px; left:-60px; }

.promotional { width: 970px; margin:0 auto; color: #95a6b3; font-size: 16px; }
.promotional ul li { color: #95a6b3; }
.promotional h3 { text-align: center;  color: #dce8f1; font-size: 30px; margin:40px; font-weight: 400; }
.promotional h3 span, .dev-logo-small { background: url(../images/dev-sprite-01.png); width: 119px; height: 28px; background-position: 0 0; display: inline-block; vertical-align: middle; }
.dev-logo-small { display: block; clear: both; margin-bottom: 12px; }
.promotional ul li { width: 216px; display: inline-block; padding-left: 50px; vertical-align: top; margin-right: 30px; position: relative; }
.promotional ul li.community { margin-right: 0; }
.promo-icn { width:29px; height:32px; display: inline-block; background: url(../images/dev-sprite-01.png) no-repeat; background-position: 0 -32px; position: absolute; left:0px; top:0px;  }
li.promo-themes .promo-icn { background-position: -29px -32px; width: 29px; }
li.promo-support .promo-icn { background-position: -58px -32px; width: 29px; }
li.promo-community .promo-icn { background-position: -86px -32px; width: 33px;  }
.promotional ul li.promo-community { margin-right: 0; }

/* free-user & single-user */
.profile-data { float:left; margin-left: 25px; font-size: 16px; }
.profile-data small { font-size: 13px; color: #86a3b8; }
.profile-data h1, .profile-data h1 strong em { max-width: 260px; word-wrap:break-word; }
.grav-link { display: block; margin-top: 15px; }

#profile .contents,
.user-related-products,
.contents { width: 875px; margin:0 auto; padding: 0 0 44px 25px; }

#profile .profile-user { padding: 0; width: 400px; margin-right: 25px; line-height: 22px; }
#profile .profile-user a { text-decoration: none; display: inline-table; line-height: 15px; }
#profile .acc-info { width: 400px; float: left; margin:0; color: #85a0b8; font-size: 19px; line-height: 22px; }
#profile .acc-info h1 { font-size: 26px; color: #cedce9; font-weight: 700; margin-bottom: 22px; }
#profile .acc-info h3 { font-size: 19px; }
#profile .acc-info img { border:3px solid #85a0b8; margin-right: 25px; float: left; }
#profile .acc-info a { text-decoration: none; font-weight: 400; }

.product-group { float: left; width: 50%; }
.product-group h3,
.premium-products h3 { text-align: right; color: #E6ECF1; width: 60px; margin-right: 25px; font-size: 14px; float:left; border-top:3px solid #003f6d; text-transform: uppercase; padding-top: 10px; }

.product-group ul { width: 340px; float: left; }

.product-group ul li,
.premium-products ul li { width:116px; margin-right: 54px; float:left; display: inline; margin-bottom: 22px; font-size: 16px; }

.product-group ul li img,
.premium-products ul li img { display: block; width: 110px; height: 66px; border:3px solid #003f6d; margin:0; margin-bottom: 10px; }

.product-group ul li a,
.premium-products ul li a { clear: both; text-align: center; display: block; text-decoration: none; width: 110px;}

.premium-content .layer, .layer { width:100%; position:absolute; z-index: 10; height: auto; margin:0; cursor: not-allowed; left:0; }
.premium-content .promotional, #support-disabled .promotional {
    cursor: default;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(3,31,52,0.95);
    width: 600px;
    margin:90px auto;
    overflow: hidden;
    -moz-box-shadow:
        0 0 30px rgba(20,68,104,.5),
        0 0 0 1px #093659;
    -webkit-box-shadow:
        0 0 30px rgba(20,68,104,.5),
        0 0 0 1px #093659;
    box-shadow:
        0 0 30px rgba(20,68,104,.5),
        0 0 0 1px #093659;
}

#support-disabled .promotional { background-color: rgba(3,31,52,0.85); margin: 220px auto; width: 560px; }

.premium-content .promotional ul { width: 490px; margin:0 auto; text-align: left; }
.premium-content .promotional ul li { display: block; width: 485px; font-size: 18px; margin: 33px 0; }
.premium-content .promo-icn { top:-5px; }
.premium-content .premium-products { width: 875px; margin: 0 auto; opacity: 0.5; padding-top: 44px; }
.premium-products h3 { width: 85px; }
.premium-products ul { float: left; width: 740px; }
.premium-products ul li { margin-right: 32px; min-height: 130px; }

.before-you-post ol { list-style-type: decimal; margin-bottom: 22px; }
.before-you-post h3 { margin-top:0; font-weight: 700; font-size: 1.3em; }
.lightbox { width:600px; height: auto; margin: 100px auto; padding: 40px; background-color: #ebebeb; position: static; z-index: 10; top:0; }
.lightbox.overlay { width: 100%; padding-bottom: 100%; z-index: 5; background-color: rgba(3,31,52,0.7); margin: 0; padding:0; position: absolute; display: none; opacity: 0.1;}

/* disabled support section */

.support-wrap { margin:0 auto; }
#support-disabled + .support-wrap { width: 800px; }

#qa-form legend { font-size: 2.3em; text-align: center; font-weight: 700; color: #29395B; line-height: 130%; width: 100%;}
#qa-form legend small { font-size: 0.6em; font-weight: 400; color: #8C98B0; }
#qa-form .caution-note { width: 60%; float: right; font-size: 1em; margin-right: 7%; margin-top: 22px; margin-bottom: 44px; }

#wpbody #qa-form input[type="text"],
#qa-form input[type="password"],
#qa-form select {
    height: 44px;
    margin-bottom: 22px;
    margin-top: 0;
}
#qa-form .button { font-size: 1.4em !important; padding: 20px; }
#support-disabled { width:100%; display: block; position: relative; }
#support-disabled .contents { padding: 25px; padding-top: 0; }
.support-msg { line-height: 38px; text-shadow:none; }
#support-disabled .cta { width:50%; margin:0 auto; display: block; margin-bottom: 44px; font-weight: 700; }
div#wpbody #support-form ol div { width: 30%; float: left; }
div#wpbody #support-form ol label { font-size: 18px; color: #95A6B3; }
div#wpbody #support-form ol input,
div#wpbody #support-form ol textarea,
div#wpbody #support-form ol select { width:66%; float: right; margin-bottom: 44px; height: 66px; }
div#wpbody #support-form ol textarea { height: 297px; }
#support-form ol select { font-size: 18px; }
#support-disabled .layer { background-color: rgba(6, 60, 103, 0.4); height: 600px; top: -19px; }
div#wpbody #support-form .cta-wrap { float:right; display: block; width: 100%; }
div#wpbody #support-form .cta-wrap button { float:right; }
#support-layer { height: 100%; }
.support-already-member { text-align: center; text-shadow:none; }

.wpmu-dev_page_wpmudev-support #wpbody-content { margin-bottom: 0; }

/* this is when the main wp menu is collapsed */
@media only screen and (max-width: 900px) {
    .product-group ul li, .premium-products ul li { margin-right: 20px; }
    #profile .profile-user { width: 350px; }

    .toplevel_page_wpmudev.auto-fold #wpcontent,
    .wpmu-dev_page_wpmudev-settings.auto-fold #wpcontent,
    .wpmu-dev_page_wpmudev-plugins.auto-fold #wpcontent,
    .wpmu-dev_page_wpmudev-support.auto-fold #wpcontent,
    .wpmu-dev_page_wpmudev-community.auto-fold #wpcontent,
    .wpmu-dev_page_wpmudev-updates.auto-fold #wpcontent,
    .wpmu-dev_page_wpmudev-settings.auto-fold #wpcontent {
        margin-left: 36px;
    }
}

@media screen and (max-width: 782px) {
    body.toplevel_page_wpmudev #wpcontent,
    body.wpmu-dev_page_wpmudev-settings #wpcontent,
    body.wpmu-dev_page_wpmudev-plugins #wpcontent,
    body.wpmu-dev_page_wpmudev-support #wpcontent,
    body.wpmu-dev_page_wpmudev-community #wpcontent,
    body.wpmu-dev_page_wpmudev-updates #wpcontent,
    body.wpmu-dev_page_wpmudev-settings #wpcontent {
        margin-left: 0 !important;
    }
}

/* ----- New checkbox style ----- */
div.listing-form-elements table input#toggle-free-projects {
    width: auto;
    float: none;
}

/* ----- Button fixes for wp 3.5 ----- */
#adminmenu li.menu-top { z-index: 100; }
#wpfooter { display: none; }
#api-signup li.submit-data,
#api-login li.submit-data { position: static; }

/* ----- Better styling for select elems ------ */

select#q-and-a {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    padding: 0 4px 0 10px;
    display: inline-block;
    vertical-align:middle;
    height: 43px;
    outline: 0;
    cursor: pointer;
    color: #4c4c4c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f7f7f7;
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.8);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.8);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.8);
}

@-moz-document url-prefix() {
    select#q-and-a {
        padding: 9px 4px 0 10px;
    }
}

select#q-and-a, li.select:before {
    background-image: -moz-linear-gradient(bottom, #eaeaea 0%, #f9f9f9 39.84%, #f9f9f9 100%);
    background-image: -o-linear-gradient(bottom, #eaeaea 0%, #f9f9f9 39.84%, #f9f9f9 100%);
    background-image: -webkit-linear-gradient(bottom, #eaeaea 0%, #f9f9f9 39.84%, #f9f9f9 100%);
    background-image: linear-gradient(bottom, #eaeaea 0%, #f9f9f9 39.84%, #f9f9f9 100%);
    border: 1px solid rgba(5, 51, 86, 0.4);
}

li.select:after {
    content:'\25BE';
    font:16px Helvetica, sans-serif;
    color: #737373;
    right: 66px;
    top: 12px;
    position: absolute;
    pointer-events:none;
    z-index: 2;
}

li.select:before {
    content: '';
    right: 53px;
    top:0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #eee;
    position: absolute;
    z-index: 1;
    display: block;
    pointer-events:none;
    -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,.8);
    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,.8);
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.8);
}

#qa-form li.select:before {
    height: 41px;
    width: 36px;
}
#qa-form select {
    width: 467px;
    margin-right: 53px;
    float: right;
    position: relative;
    display: inline-block;
}

/* re-doing all of the buttons
  abstracting visual global styles here */
.wpmu-button, input.wpmu-button {
    padding: 15px 60px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-weight: bold;
    font-family: Helvetica Neue, helvetica, sans-serif !important;
    text-rendering: optimizeLegibility;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
    -webkit-box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
    box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzg2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDg3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: -o-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: -webkit-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: linear-gradient(bottom, #003866 0%, #00487f 100%);
    color: #e2ecf4;
    font-size: 16px;
    text-shadow: 0 -1px 0 #002a4c;
    border: none;
}

.wpmu-button:hover, input.wpmu-button:hover {
    cursor: pointer;
    color: #01B1F3;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwM2Y3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNGY4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #003f72 0%, #004f8c 100%);
    background-image: -o-linear-gradient(bottom, #003f72 0%, #004f8c 100%);
    background-image: -webkit-linear-gradient(bottom, #003f72 0%, #004f8c 100%);
    background-image: linear-gradient(bottom, #003f72 0%, #004f8c 100%);
}

.wpmu-button:active, input.wpmu-button:active {
    outline: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDg3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMzg2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #00487f 0%, #003866 100%);
    background-image: -o-linear-gradient(bottom, #00487f 0%, #003866 100%);
    background-image: -webkit-linear-gradient(bottom, #00487f 0%, #003866 100%);
    background-image: linear-gradient(bottom, #00487f 0%, #003866 100%);
}

/* button with icon */
.wpmu-button.icon, input.wpmu-button.icon {
    /*padding-left:30px;*/
}

.wpmu-button.disabled, .wpmu-button.button-disabled, input.wpmu-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 100%);
    background-image: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%);
    background-image: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%);
}

/* for support access tab */
input.wpmu-button:disabled {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzg2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDg3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background-image: -moz-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: -o-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: -webkit-linear-gradient(bottom, #003866 0%, #00487f 100%);
    background-image: linear-gradient(bottom, #003866 0%, #00487f 100%);
}

.wpmu-button.icon > i, input.wpmu-button.icon > i {
    font-size: 84%;
    position: relative;
    top:1px;
    left:-6px;
    opacity: 0.8;
}
.wpmu-button.full-width { width: 100%; font-size: 100%; }
.wpmu-button.small { font-size: 15px; padding: 15px 0; }

/* install product buttons */
.wpmu-button.installed,
.wpmu-button.button-incompatible,
.wpmu-button.installed-activated { background: none; text-shadow:none; box-shadow: none; }

.wpmu-button.installed,
.wpmu-button.installed-activated { color: #74CC09; }
.wpmu-button.button-incompatible { color: #999; }

.wpmu-button.error { color: #c33; }
.wpmu-button.error .tooltip { float: right; }

/* unique button rules */
.profile-activity .wpmu-button.icon { float:right; }
.acc-info .wpmu-button { float: left; }

.wpmu-button.icon.big > i { font-size: 100%; opacity: 0.7; }
.wpmu-button.icon.big { font-size: 22px; margin-top:20px;  width: 100%; padding-left: 40px; }
.support-column .wpmu-button.icon.big { padding-left: 80px; }
.support-column .wpmu-button.icon.big small { display: block; opacity: 0.8; font-size: 60%; }
.support-column .wpmu-button.icon.big i { position: relative; left: -90px; top: 13px; font-size: 160%; opacity: 0.8; }
.acc-info .wpmu-button { font-size: 100%; padding-left: 26px; padding-right: 21px; }
.acc-info .wpmu-button.installed { padding-left: 0; }
.install_wrap .wpmu-button { padding: 10px 20px; font-size: 110%; position: relative; top: 10px; }
.install_wrap .wpmu-button.icon i { left:-6px; }
#qa-submit.wpmu-button { float: right; margin-right: 7.1%; font-size: 130%; }
#qa-submit.wpmu-button > i { font-size: 94%; }
.community-container .wpmu-button { padding:10px 30px; font-size: 90%; }
.community-container .wpmu-button.small { float: right; margin-right: 20px; position: relative; top:-10px; }

/* better error styling */

#qa-form div.error { border:none; overflow: auto; position: relative; width: 100%; background: transparent; padding-bottom: 15px; -webkit-box-shadow: none; box-shadow: none; }
#qa-form div.error p {
    width: 61%;
    float: right;
    margin-right: 6%;
    background: rgba(2, 26, 43, 0.9);
    color: white;
    border: none;
    border-radius: 0;
    font-size: 110%;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
}
#qa-form div.error:after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 18px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    left: 39%;
    background: rgb(26, 48, 63);
}

#qa-form div.error p > i { font-size: 110%; color: red; margin-right: 10px; }

/* animations etc. */
.lightbox.overlay.on {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.wpmu-button:hover {
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.free_project .listing img { border:1px solid #8f9ab3; }
.free_project .listing:after {
    content: 'FREE';
    display: block;
    width: 100px;
    height: 32px;
    position: absolute;
    top: 8%;
    right: 5%;
    z-index: 10;
    background: rgba(41, 57, 91, 0.9);
    color: #FFF;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 0 0 0;
    border: 1px solid #1E2C4A;
}

.listings .action_links {
    display: block;
    width: 100%;
    border: 2px dashed #74CC09;
    padding: 4px 0;
}

.listings #listing-install a, .listings .action_links a { text-decoration: none; display: inline-block; }
.listings #listing-install a i { width: 1.25em; }
.listings .action_links a { padding-right: 5px; }

.cta-wrap > p { font-size:16px; }

#user_name1 { position: relative; right:5px; }


/* 69344-1410453955 */