/*  Font Awesome
the iconic font designed for use with Twitter Bootstrap
-------------------------------------------------------
The full suite of pictographic icons, examples, and documentation
can be found at: http://fortawesome.github.com/Font-Awesome/

License
-------------------------------------------------------
The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
http://creativecommons.org/licenses/by/3.0/ A mention of
'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
source code is considered acceptable attribution (most common on the web).
If human readable source code is not available to the end user, a mention in
an 'About' or 'Credits' screen is considered acceptable (most common in desktop
or mobile software).

Contact
-------------------------------------------------------
Email: dave@davegandy.com
Twitter: http://twitter.com/fortaweso_me
Work: http://lemonwi.se co-founder

*/

@font-face {
    font-family: 'FontAwesomeWdv';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'),
    url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  /*  Font Awesome styles
    ------------------------------------------------------- */
[class^="wdvicon-"]:before, [class*=" wdvicon-"]:before {
		font-family: FontAwesomeWdv;
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		text-decoration: inherit;
}
a [class^="wdvicon-"], a [class*=" wdvicon-"] {
		display: inline-block;
		text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.wdvicon-large:before {
vertical-align: middle;
font-size: 1.3333333333333333em;
}
.btn [class^="wdvicon-"], .btn [class*=" wdvicon-"] {
		/* keeps button heights with and without icons the same */
		line-height: .9em;
}
li [class^="wdvicon-"], li [class*=" wdvicon-"] {
		display: inline-block;
		width: 1.25em;
		text-align: center;
}
li .wdvicon-large[class^="wdvicon-"], li .wdvicon-large[class*=" wdvicon-"] {
		/* 1.5 increased font size for wdvicon-large * 1.25 width */
		width: 1.875em;
}
li[class^="wdvicon-"], li[class*=" wdvicon-"] {
		margin-left: 0;
		list-style-type: none;
}
li[class^="wdvicon-"]:before, li[class*=" wdvicon-"]:before {
		text-indent: -2em;
		text-align: center;
}
li[class^="wdvicon-"].wdvicon-large:before, li[class*=" wdvicon-"].wdvicon-large:before {
		text-indent: -1.3333333333333333em;
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
		readers do not read off random characters that represent icons */
.wdvicon-download-alt:before       { content: "\f019"; }
.wdvicon-upload-alt:before         { content: "\f093"; }
.wdvicon-question-sign:before      { content: "\f059"; }
.wdvicon-info-sign:before          { content: "\f05a"; }
.wdvicon-pencil:before             { content: "\f040"; }
.wdvicon-share-alt:before          { content: "\f064"; }
.wdvicon-arrow-up:before           { content: "\f062"; }


/* NEW RELEASE NOTIFICATION
   ======================== */
div.wpmudev-new, div.wpmudev-message, div.wpdv-msg {
	padding:10px;
	color:#5f5f5f;
	border-radius:2px;
	text-shadow: 0 1px 0 #ffffff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	background: url("../images/texture.png") repeat scroll 0 0 #F0F1F2;
	border: 1px solid #CFDFE5;
	margin: 5px 15px 15px 0;
	position: relative;
}

  div.dev-widget-content > h4  { padding-bottom:10px; border-bottom:1px solid #dceaf5; }

  div.dev-content-wrapper { margin-top:10px; }
  div.wpmudev-new h4, div.squish h4 { margin-top:0; margin-bottom:10px; font-size:1.3em; font-family: 'Helvetica Neue', helvetica, arial, sans-serif; font-weight:600; color:#3c3c3c; }
  div.squish h4 { margin:0;  line-height:1.4em; }
  div.dev-cta-wrap { padding: 10px 0 0; }
  a.wpmudev-dismiss {
		font-size: 10px;
    position: absolute;
    right: 0px;
    top: 0;
		text-decoration: none;
    background: #668399;
    color: #FFF;
    text-shadow: none;
    padding: 1px 6px;
	}
  a.wpmudev-dismiss:hover { background:#475C6B;}
  div.update-nag a.wpmudev-dismiss { right:210px; top:5px; }
  div.wpmudev-new h4 strong, div.squish h4 {
		color:#053254;
		font-weight:400;
		font-size:1.3em;
		background: url("../images/icon.png") transparent scroll left 10px no-repeat;
    padding-left: 20px;
		line-height: 33px;
	}
	div.wpmudev-new h4 strong {
		background-position: left 5px;
  }
  div.wpmudev-new img { float:left; margin-right:20px; }

  a#api-add, a#wdv-upgrade { margin:0 0 0 5px; padding: 0 20px; }
	a#wdv-upgrade { margin-top:2px; }
	blockquote a#wdv-upgrade { margin-left:0; padding: 12px 20px;}
  a#wdv-release-info, div#wpmudev_widget a#wdv-release-info {
  	background:none;
  	color: #3ebae8;
  	text-shadow:none;
  	text-decoration:underline;
}

/* GENERIC WIDGET STYLING
   ====================== */
div#wpmudev_widget, div#wpmudev_news_widget { border:1px solid #031f34; border-radius:3px; }
  div#wpmudev_widget h3.hndle, div#wpmudev_news_widget h3.hndle {
    color: #cee3f0;
    border-radius:0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:400;
    border-bottom:1px solid #031f34;
    text-shadow: 0 -1px 1px #021a2b;
    background: rgb(7,67,112); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(7,67,112,1) 0%, rgba(5,50,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,67,112,1)), color-stop(100%,rgba(5,50,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(7,67,112,1) 0%,rgba(5,50,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074370', endColorstr='#053254',GradientType=0 ); /* IE6-9 */
  }

  div#wpmudev_widget h3.hndle:before, div#wpmudev_news_widget h3.hndle:before {
    content:url(../images/devicon_light.png);
    position:relative;
    top:0px;
    margin-right:10px;
    float:left;
  }

  div#wpmudev_widget div.inside, div#wpmudev_news_widget div.inside {
    background:#f0f1f2 url(../images/texture.png) repeat;
  }

  div#wpmudev_widget a, div#wpmudev_news_widget a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  /* WPMU DEV DASHBOARD
     ================== */

  div#wpmudev_widget h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1.3em;
    font-weight:500;
    color:#053254;
}

div#wpmudev_widget blockquote { margin:10px 0; font-style:italic; }

div#wpmudev_widget a#wdv-release-img { float:left; margin-right:20px; }
div#wpmudev_widget div#wpdv-dash-release h4 { margin-bottom:20px; }
div#wpmudev_widget div#wpdv-dash-release > div h4 { margin-bottom:10px; }
div#wpdv-dash-links a.button-primary {
  background:none;
  text-shadow: 0 1px 0 #ffffff;
  color:#10a2d8;
  font-weight:500;
  padding: 4px 8px;
  border:1px solid #e6f3fc;
  border-radius:2px;
}

div#wpdv-dash-links a.button-primary:hover {
  background:none;
  border: 1px solid #dceaf5;
  color: #053254;
  font-weight: 500;
}

div#wpdv-dash-links a.button-primary span.update-plugins > span.updates-count { background-color: #D6EAF5; color: #0D84AF; text-shadow:none; border-radius:100%; padding:1px 5px; }


/* WPMU DEV NEWS WIDGET
   ==================== */

div#wpmudev_news_widget div.inside { margin-bottom:0; }
div#wpmudev_news_widget li { padding-bottom:10px; border-bottom:1px solid #dceaf5; }
div#wpmudev_news_widget li:last-child { border-bottom:none; margin-bottom:0; }
div#wpmudev_news_widget a { color:#10a2d8; }

/* FIXING CONFLICTS */

div#message, div.updated, div.settings-error, div#setting-error-settings_updated { clear:both; }

div.dev-widget-content > div.squish { border:none; padding:0; }

/* new button rules */
.wpmu-button, input.wpmu-button {
  padding: 12px 20px;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-weight: bold;
  font-family: Helvetica Neue, helvetica, sans-serif !important;
  text-rendering: optimizeLegibility;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
  -webkit-box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
  box-shadow: 0 1px 0 #001c33, inset 0 1px 0 #004f8c;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzg2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDg3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, #003866 0%, #00487f 100%);
  background-image: -o-linear-gradient(bottom, #003866 0%, #00487f 100%);
  background-image: -webkit-linear-gradient(bottom, #003866 0%, #00487f 100%);
  background-image: linear-gradient(bottom, #003866 0%, #00487f 100%);
  color: #e2ecf4;
  font-size: 14px;
  text-shadow: 0 -1px 0 #002a4c;
  border: none;
  -webkit-font-smoothing: antialiased;
}

.wpmu-button:hover, input.wpmu-button:hover {
  cursor: pointer;
  color: #01B1F3;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwM2Y3MiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNGY4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, #003f72 0%, #004f8c 100%);
  background-image: -o-linear-gradient(bottom, #003f72 0%, #004f8c 100%);
  background-image: -webkit-linear-gradient(bottom, #003f72 0%, #004f8c 100%);
  background-image: linear-gradient(bottom, #003f72 0%, #004f8c 100%);
}

.wpmu-button:active, input.wpmu-button:active {
  outline: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDg3ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMzg2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(bottom, #00487f 0%, #003866 100%);
  background-image: -o-linear-gradient(bottom, #00487f 0%, #003866 100%);
  background-image: -webkit-linear-gradient(bottom, #00487f 0%, #003866 100%);
  background-image: linear-gradient(bottom, #00487f 0%, #003866 100%);
}

.wpmu-button.disabled, .wpmu-button.button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(244,244,244,1) 100%);
  background-image: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%);
  background-image: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(244,244,244,1) 100%);
}

#wdv-release-buttons, #wpdv-dash-release { clear:both; margin-top: 10px; }
#wdv-release-buttons a { margin-right: 20px; float: left; }
#wdv-release-info { margin-top: 12px;}
a.quick-link { background-color: #BDCEDB; font-size: 13px; font-weight: bold; padding:3px 10px; border-radius: 3px; margin-right: 10px; margin-top: 10px; display: inline-block; }

#wpdv-dash-links .update-plugins { padding: 2px 5px; background-color: #003F71; border-radius: 10px; color: white; font-weight: normal; font-size: 11px; }
#wpdv-dash-release div p { margin-bottom: 4px; }
#wdv-release-buttons { margin: 0 0 0 206px; overflow: hidden; clear: none; }


/* 69344-1410453955 */